{% extends "_layout.html" %}

{% block title %}Juju charm and bundle cards{% endblock %}

{% block content %}
<div class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h1 itemprop="name">Embeddable cards</h1>
      <p class="p-heading--four" itemprop="description">Generate cards for your charms and bundles and embed them into blog posts and websites with a single line of code. Since the cards are hosted on our asset server, they will stay up-to-date with any changes you make.</p>
    </div>
  </div>
</div>

<div class="p-strip u-no-padding--bottom">
  <div class="row">
    <div class="col-8">
      <p>For recommended charms and bundles just enter the name. <br />Example: <code>plumgrid-ons</code></p>
      <p>For community charms and bundles, be sure to prefix the username. <br />Example: <code>~lazypower/hdp-hadoop-cluster</code></p>
    </div>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <div class="col-8">
      <label for="entity-name">Charm or bundle name:</label>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <input type="text" id="entity-name" class="js-entity-name entity-name" value="plumgrid-ons" col="50"/>
    </div>
    <div class="col-2">
      <a href="#" class="p-button--positive generate-card js-generate-card">Generate</a>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <textarea class="js-generated-card-code" rows="2" cols="70" readonly="readonly" wrap="off">
      <script async src="https://assets.ubuntu.com/v1/juju-cards-v1.7.2.js"></script>&#10;<div class="juju-card" data-id="plumgrid-ons" data-dd></div></textarea>
      <div class="juju-card js-demo-card" data-id="plumgrid-ons" data-dd></div>
    </div>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2>Example cards</h2>
      <div class="juju-card" data-id="plumgrid-ons" data-dd></div>
    </div>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <div class="col-6">
      <div class="juju-card" data-id="wordpress" data-dd></div>
    </div>
    <div class="col-3">
      <div class="juju-card" data-id="~mbruzek/kubernetes-cluster" data-dd></div>
    </div>
    <div class="col-3">
      <div class="juju-card" data-id="nrpe" data-dd></div>
    </div>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <div class="col-3">
      <div class="juju-card" data-id="openstack-base" data-dd></div>
    </div>
    <div class="col-9">
      <div class="juju-card" data-id="haproxy" data-dd></div>
    </div>
  </div>
</div>

<script async src="https://assets.ubuntu.com/v1/juju-cards-v1.7.2.js"></script>

{% endblock content %}
