{% extends "_layout.html" %}

{% block title %}Charmers{% endblock %}

{% block content %}
<div class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h1>Charmers</h1>
      <p>
        Charmers is a team of developers entrusted with the maintenance and care
        of the full collection of charms made available to juju users in the
        <a href="{{ url_for('jaasstore.search') }}">Charm Store</a>
        (<a class="p-link--external" href="https://launchpad.net/~charmers">
          Charmers team page on Launchpad
        </a>).
      </p>
      <p>Note that if you just want to help out with charms but are not quite
        ready for the full responsibilities of charmers, there is another team,
        <a class="p-link--external" href="https://launchpad.net/~charm-contributors">
          charm-contributors
        </a>
        which is quite a bit more open to join. We recommend that anybody
        starting out in charms joins that team immediately while you learn how
        charms work.
      </p>
    </div>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <div class="col-8">
      <h2>Responsibilities</h2>
      <ul>
        <li>
          Review submitted charms&nbsp;in the
          <a class="p-link--external" href="http://manage.jujucharms.com/tools/review-queue">
            review queue.
          </a>
          <ul>
            <li>
              <a class="p-link--external" href="http://goo.gl/uK9HD">On-call Charm Review Schedule.</a>
            </li>
            <li>
              If you are&nbsp;unavailable during
              your&nbsp;scheduled&nbsp;slot&nbsp;please coordinate back-ups with
              other&nbsp;<a class="p-link--external" href="https://launchpad.net/~charmers">
                https://launchpad.net/~charmers
              </a>.
            </li>
          </ul>
        </li>
        <li>Fix Critical bugs in charms.</li>
        <li>Assist Juju users in writing new charms.</li>
      </ul>
      <h2>Considerations and Tips</h2>
      <p>
        Since we expect Charmers to be a diverse group with experts from a wide
        spectrum of fields, here are some guidelines for charming:
      </p>
      <ul>
        <li>
          The Charmers team can make changes to any core charm in order to fix
          critical bugs or make a charm fit with policy, however:
        </li>
        <li>
          Each Charm should retain the identity of the team/person maintaining
          it. We don&rsquo;t yet formally assign Charms to people, just be
          courteous when modifying a team/person&rsquo;s charm, an email or ping
          on IRC giving that team/person a heads up on your work can help keep
          the workload minimal for everyone as some Charm authors might be
          people involved in the upstream project they&rsquo;re writing a charm
          for.
        </li>
      </ul>
      <h2>How can I join?</h2>
      <p>
        Because charms run &quot;as root&quot;, we need to have a certain level of trust
        with all charmers members so that juju users can trust that these charms
        are safe for use on their system. So we have a small set of requirements
        for joining charmers.
      </p>
      <h2>Requirements</h2>
      <ul>
        <li>
          You have written Charms &mdash; The whole point of being on the team
          is that you help review other peoples&rsquo; charms and fix the
          existing ones for changes in juju or in charm store policy. So you
          must have written some charms.
        </li>
        <li>
          Existing charmers know who you are &mdash; If we&rsquo;ve met you in
          person and worked on charms with you, this should be enough. Getting
          your GPG key signed by an existing member of charms will go a long way
          toward us trusting that you are who you say you are.
        </li>
        <li>
          You should sign the Ubuntu
          <a href="https://launchpad.net/codeofconduct" class="p-link--external">Code of Conduct</a> if
          you haven&rsquo;t already done so.
        </li>
      </ul>
      <h2>Process</h2>
      <p>
        Once you&rsquo;ve satisfied these requirements, you will just need to
        apply to
        <a class="p-link--external" href="https://launchpad.net/~charmers/+join">join the team</a> on
        launchpad, and email juju@lists.ubuntu.com requesting membership
        including how the above requirements are met. Current charmers policy is
        that 2 of us need to +1 you before we can approve your membership. New
        ~charmers members will be announced on juju@lists.ubuntu.com.
      </p>
      <h2>Independent Charm Maintainership</h2>
      <p>
        If you would like to maintain Charms for a particular upstream project
        but would not like to join the larger scale Charmers effort, please let
        us know. We are happy to delegate ownership of a set of charms for a
        particular project to the upstream project or a team of trusted upstream
        users. The same requirements apply as for joining charmers, but you will
        not be expected to participate in the larger maintenance of the charm
        store. If you are interested in this path, please contact any member of
        <a class="p-link--external" href="https://launchpad.net/~charmers">the charmers team</a>, or
        inquire on the
        <a class="p-link--external" href="https://lists.ubuntu.com/mailman/listinfo/juju">
          Juju mailing list
        </a>.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
