{% extends "_layout.html" %}

{% block title %}Juju Partner Programmes{% endblock %}

{% block content %}
<div class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h1>Charm Partner Programme</h1>
      <p>The Charm Partner Programme will help you to get your solution into the Charm Store, giving new benefits to your current customers, as well as accessing new potential users. You will receive training and support, as well as co marketing opportunities to help promote your solution to the Ubuntu Cloud Ecosystem.</p>
    </div>
    <div class="col-4 u-hide--small">
      <img src="https://assets.ubuntu.com/v1/290542f5-image-partnering.png" alt="Juju partners pictogram" />
    </div>
  </div>
</div>

<div class="p-strip is-bordered">
  <div class="row">
    <div class="col-8">
      <h2 class="p-heading--three">Benefits of the programme include:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <ul class="p-list--divided">
        <li class="p-list__item">Revenue opportunities: Charms enable deployment on a huge range of platforms including most public clouds such as AWS, Azure, Google Cloud, IBM Cloud, Joyent and more, plus bare metal x86, IBM POWER8 and ARM servers.</li>
        <li class="p-list__item">More efficient sales cycle:  By using a charm to deploy software, gaining access to enterprise accounts is easier, as potential clients can spin up and kick the tires</li>
        <li class="p-list__item">Re-usability:  Best practice is built into the charm, resulting in higher quality deployments, every time</li>
        <li class="p-list__item">Reduced costs: Charms are reusable, easy to deploy, and provide immediate integration with other charmed applications</li>
      </ul>
    </div>
    <div class="col-6">
      <ul class="p-list--divided">
        <li class="p-list__item">Improved DevOps: Juju enables quick dev-test-production pipeline, as the same charm can be used in each model</li>
        <li class="p-list__item">Reduced complexity: Simplify big, distributed system through the use of charms</li>
        <li class="p-list__item">Support and training: Learn how to write charms, and ensure that your charms meet quality standards</li>
        <li class="p-list__item">Inclusion in our partner site and other co-marketing opportunities</li>
        <li class="p-list__item">Co-marketing opportunities: Placement in the Charm Store, entry into our partner portal pages, logo usage, participation in events and joint revenue opportunities</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 u-align--center">
      <a href="http://partners.ubuntu.com/partner-programmes/software#charm-partner-programme" class="p-button--neutral">Find out more</a>
    </div>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <h3 class="p-muted-heading u-align-text--center">Canonical partners</h3>
      <ul class="p-inline-images">
        <li class="p-inline-images__item">
          <img src="https://assets.ubuntu.com/v1/5e92614c-amd-logo.svg" alt="AMD logo" />
        </li>
        <li class="p-inline-images__item">
          <img src="https://assets.ubuntu.com/v1/4d6054f9-logo-cisco.svg" alt="Cisco logo" />
        </li>
        <li class="p-inline-images__item">
          <img src="https://assets.ubuntu.com/v1/5ddba83a-logo-dell.svg" alt="Dell logo" />
        </li>
        <li class="p-inline-images__item">
          <img src="https://assets.ubuntu.com/v1/a298e7ec-logo-hp.svg" alt="HP logo" />
        </li>
        <li class="p-inline-images__item">
          <img src="https://assets.ubuntu.com/v1/683950fd-logo-ibm.svg" alt="IBM logo" />
        </li>
        <li class="p-inline-images__item">
          <img src="https://assets.ubuntu.com/v1/c24cb4b9-logo-intel.svg" alt="Intel logo" />
        </li>
        <li class="p-inline-images__item">
          <img src="https://assets.ubuntu.com/v1/68713fd5-logo-lenovo.svg" alt="Lenovo logo" />
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
