black==19.3b0
Flask-Testing==0.7.1
Flask==1.0.2
gfm==0.0.3
gunicorn[gevent]
jujubundlelib==0.5.6
Markdown==3.1
prometheus_client==0.6.0
prometheus-flask-exporter==0.7.1
raven[flask]==6.10.0
statsd==3.3.0
talisker==0.14.2
theblues==0.5.1
