Flask==1.0.2
gunicorn[gevent]
prometheus-flask-exporter==0.5.1
raven[flask]==6.10.0
statsd==3.3.0
prometheus_client==0.6.0
talisker==0.12.0
theblues==0.5.1
jujubundlelib==0.5.6
Markdown==2.6.11
gfm==0.0.3
