.about-juju-page {
  .row-hero {
    border-bottom: 1px solid #d9d9d9;
  }

  blockquote p {
    color: $white;
  }

  .language-list {
    display: table;

    .language-list-item {
      background-color: transparent;
      border: 1px solid #d2d2d2;
      width: 100%;
    }
  }

  ul.inline-logos li {
    border: 0;
    padding: 0 20px;
  }
  .light-border-bottom {
    border-bottom: 1px solid #d9d9d9;
  }

  .dotted-border-bottom {
    border-bottom: 1px dotted $light-mid-grey;

    &.inner-wrapper {
      // Change the overflow to clear the contents.
      overflow: auto;
      padding-bottom: 10px;
    }
  }

  .dotted-border-bottom.inner-wrapper {
    overflow: hidden;
  }

  .img-centered-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .row {
    &.row-hero {
      padding-bottom: 30px;
    }

    &.top-pad-half {
      padding-top: 40px;
    }
  }

  .strip-pattern {
    background: #f7f7f7;
  }
  .language {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .features,
  .row-workloads {
    overflow: hidden;
  }

  .row-scale {
    .row-scale__image {
      margin-bottom: 20px;
    }

    .row-scale__quote {
      blockquote.pull-quote p span {
        vertical-align: super;
      }

      cite {
        display: block;
        margin-top: 15px;
        padding-left: 11px;
        color: $light-mid-grey;
        font-size: 20px;
        font-weight: bold;

        span {
          display: block;
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .dotted-border-bottom.inner-wrapper {
      padding-bottom: 60px;
    }

    .no-padding-bottom {
      padding-bottom: 0 !important;
    }

    .features {
      overflow: hidden;

      .wrap-image {
        position: relative;

        img {
          position: absolute;
          left: 0;
          max-width: none;
          margin-top: -60%;
        }
      }
    }

    .row-hero {
      border-bottom: none;
    }

    .language {
      padding-right: 0px;
      padding-left: 0px;
    }

    .row-workloads {
      .inner-wrapper {
        overflow: visible;
      }

      .wrap-image {
        position: relative;

        img {
          position: absolute;
          left: 0;
          max-width: none;
          margin-top: -30px;
        }
      }
    }
  }

  @media only screen and (min-width: $page-maxwidth) {
    .row-hero {
      border-bottom: none;
    }

    .bundles {
      img {
        margin-top: -100px;
      }
    }

    .row-scale {
      border-bottom: 1px solid $mid-grey;
      padding-bottom: 0;

      .inner-wrapper {
        padding-bottom: 12em;
        background-image: url('https://assets.ubuntu.com/v1/96e9aebf-scale.png');
        background-repeat: no-repeat;
        background-position: top right;
      }
    }
    .row-workloads .wrap-image img {
      margin-top: -10%;
    }

    .reduce-top {
      margin-top: -30px;
    }

    .reduce-bottom {
      margin-bottom: -10px;
    }
  }

  @media only screen and (min-width: 1300px) {
    .row-workloads {
    }
  }
}

@media only screen and (min-width: $page-maxwidth) {
  body.about-juju-page .row-hero img {
    max-width: none;
  }
}
