body.community-page {
  .solutions,
  .solutions--last {
    @media only screen and (max-width: 767px) {
      margin-bottom: $gutter_width * 2;
      padding-bottom: $gutter_width * 2;
      border-bottom: 1px solid $mid-grey;

      &--last {
        margin-bottom: $gutter_width;
        padding-bottom: 0;
        border-bottom: 0;
      }
    }

    &__author {
      @include clearfix();
    }

    &__author-image {
      @include rounded_corners(50%);
      float: left;
      margin-right: $gutter_width;
      margin-bottom: $gutter_width;
      width: 60px;
      height: 60px;
      vertical-align: middle;
    }

    &__canvas {
      background-color: $light-grey;
      border: 1px solid $mid-grey;
      padding: $gutter_width;
      margin: $gutter_width 0;
    }

    &__image {
      width: 100%;
      @media only screen and (min-width: 768px) {
        height: 282px;
      }
    }

    .link-cta-positive {
      width: auto;
      padding: 8px 24px;
    }
  }

  .row-get-in-touch {
    .inner-wrapper {
      border-top: 1px solid $mid-grey;
      padding-top: $gutter_width * 2;
      @media only screen and (min-width: 768px) {
        padding-top: $gutter_width * 3;
      }
    }
  }

  .vertical-divider {
    margin-bottom: $gutter_width;
  }

  .events-list {
    margin-top: 35px;
  }

  .blog-list,
  .row-connect {
    .note {
      font-size: 1em;
      margin-bottom: 1em;
    }
  }
}

body.videos-page {
  @media only screen and (max-width: 768px) {
    .box {
      background-color: transparent;
    }
  }
}
