.details-page {
    .inline {
        margin-left: 0;
        overflow: hidden;

        li {
            display: inline;
            float: left;
            list-style: none;
            margin-bottom: 0;
            margin-left: 0;
        }
    }

    .entity-header {
        background-color: $white;
        color: $cool-grey;
        margin-bottom: 0;
        overflow: hidden;
        padding: 10px;
        border-bottom: 1px solid $color-mid-light;

        &__container {
            margin-top: 0;
            padding-top: 0;
        }

        &__properties,
        &__machine-properties {
            clear: left;
            font-size: 1.125rem;
            margin-bottom: 0;
            margin-top: .5rem;
            overflow: hidden;

            li {
                &:after {
                    color: $warm-grey;
                    content: '\2022';
                    margin: 0 5px;
                    vertical-align: middle;
                }

                &:last-child:after {
                    display: none;
                }
            }
        }

        $icon-size: 26px;
        &__icon {
            border-radius: 50%;
            display: inline-block;
            height: $icon-size;
            margin-right: 10px;
            vertical-align: top;
            width: $icon-size;
            float: left;
        }

        &__title {
            color: $cool-grey;
            display: block;
            line-height: 1.2;
            margin-bottom: 0;
            text-transform: capitalize;
        }

        .entity-header__icon + .entity-header__title {
          min-height: $icon-size;
        }

        &__version {
            color: $warm-grey;
        }

        &__series {
            text-transform: capitalize;
        }

        $social-icon-size: 36px;
        &__social-list {
            display: inline-block;
            height: $social-icon-size;
            margin: 1rem 0 0;

            li {
                display: block;
                float: left;
                list-style: none;
                margin: 0;
            }
        }

        .social-list__item--twitter,
        .social-list__item--google-plus {
          width: $social-icon-size;
          height: $social-icon-size;
          margin-right: 10px;
          background-image: url(https://assets.ubuntu.com/v1/5ae859fb-icon-social.svg);
          background-size: auto $social-icon-size * 2;

          &:hover {
            background-position-y: (-$social-icon-size);
          }
        }

        .social-list__item--google-plus {
          background-position-x: -$social-icon-size;
        }

        &__actions-list {
            display: none;
            height: $social-icon-size;
            margin: 30px 0 0;

            li {
                line-height: $social-icon-size;
            }
        }

        &__plan {
            display: none;
            margin-bottom: 10px;
            width: 100%;
        }
    }

    .deploy-command {
        margin: 30px 0 0;
    }

    .charms-visual__expand {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      background: $white;
      border: 1px solid $color-mid-light;
      border-radius: 2px;
      padding: 5px;
      width: auto;
      line-height: 0;

      .svg-icon {
        display: block;

        stroke {
          fill: $warm-grey;
        }
      }

      &:hover {
        background: $light-grey;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .featured {
        color: $light-grey;
        float: right;
        font-size: .875em;
    }

    .entity-content {
        &__intro {
            margin-bottom: 40px;

            // Apply to a variety of block-level elements.
            blockquote,
            dd,
            dt,
            li,
            p,
            pre {
                font-size: 1rem;
                line-height: 1.4;

                @media only screen and (min-width: $breakpoint-medium) {
                    white-space: pre-line;
                }
            }
        }

        &__metadata {
          border-top: 1px solid $color-mid-light;
          padding-top: 1rem;
          margin-top: 1rem;
          clear: both;

          &-title {
            font-size: 1rem;
            color: $warm-grey;
            display: inline;
          }
        }

        &__plans {
            background-color: $white;
            border-bottom: 1px solid $light-mid-grey;

            &-container {
                margin-bottom: 0;
            }
        }

        &__plan {
            border: 1px solid $light-mid-grey;
            border-radius: 2px;
            box-sizing: border-box;

            &-content {
                padding: 20px;
            }

            &-price,
            &-title {
                text-align: center;
            }

            &-price {
                border-color: $light-mid-grey;
                border-style: solid;
                border-width: 1px 0;
                margin: 20px 0;
                padding: 20px 0;

                &-amount {
                  color: $ubuntu-orange;
                  font-size: 2em;
                }

                &-quantity {
                    color: $warm-grey;
                    font-size: 1.1em;
                }
            }

            &-prices-list {
                margin-bottom: 0;

                &-item:last-child {
                    margin-bottom: 0;
                }
            }

            &-title {
                text-transform: capitalize;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__commercial-charms {
            background-color: $white;
            border-bottom: 1px solid $light-mid-grey;
        }

        &__commercial-charm {
            border: 1px solid $light-mid-grey;
            padding: 20px;

            &-icon {
                float: left;
                height: 48px;
                margin: 0 1em 1em 0;
                width: 48px;
            }

            &-title {
                line-height: 1;
                // font size 23px + byline font size 16px = 39px. Icon height
                // is 48px. The 9px margin makes the text the same size as the
                // icon.
                margin-bottom: 9px;

                a {
                    text-decoration: none;
                }
            }

            &-byline {
                line-height: 1;
            }

            &-plan {
                clear: both;
            }
        }
    }

    .entity-secondary {
        margin-bottom: 0;

        .section:last-child {
            margin-bottom: 0;
        }
    }

    .contribute__list {
        margin-bottom: 0;

        &--item:last-child {
            margin-bottom: 0;
        }
    }

    .cover-content {
        background-color: rgba(51, 51, 51, .9);
        bottom: 0;
        left: 0;
        opacity: 0;
        position: fixed;
        right: 0;
        top: 0;
        -moz-transition: all .4s;
        -webkit-transition: all .4s;
        transition: all .4s;
        visibility: hidden;
        z-index: 1000;

        &.show {
            opacity: 1;
            visibility: visible;
        }
    }

    .charms {
        padding-top: 0;

        img {
            vertical-align: middle;
        }

        &.section {
            border-bottom: 0;
        }

        &.section.is-closed {
            border-bottom: 1px solid $light-mid-grey;
        }
    }

    .four-col .section a {
      color: $cool-grey;
      font-weight: normal;

      &:hover {
        color: $link-blue;
        text-decoration: underline;
      }
    }

    .details {
        margin-bottom: 0;


        main .section:first-child {
            padding-top: 0;
        }
    }

    .decription {
        p {
            white-space: pre-wrap;
        }
    }

    .bullet {
        color: $warm-grey;
    }

    main {
        margin-bottom: 0;

        .related {
            border-bottom: 1px dotted $warm-grey;
            overflow: visible;

            &.is-closed {
                border-bottom: none;
                overflow: hidden;
            }

            .box {
                padding: 0 20px 20px;
                margin-bottom: 20px;
                transition: box-shadow .4s;

                &:hover {
                    background: $white;
                    @include box_shadow(0 1px 1px 0 rgba(0, 0, 0, 0.15));
                }

                .details {
                    float: left;
                    width: 50%;
                }

                .name {
                    @include box_sizing();
                    margin-bottom: 0.25em;
                    color: $cool-grey;
                    display: block;
                    height: 100%;
                    width: 50%;
                    padding: 20px 0 0 0;
                }

                @media only screen and (min-width : 768px) {
                    & {
                        padding-top: 20px;

                        .name {
                            left: 0;
                            position: absolute;
                            top: 0;
                            padding-left: 20px;
                        }
                    }

                    .list__icons {
                        float: right;
                        width: 45%;
                        margin-top: -10px;
                    }

                }
            }
        }

        .readme.section {
            .readme {
              h1,
              h2,
              h3 {
                margin: 1.6rem 0 1rem;
              }

              h4,
              h5,
              h6 {
                margin: .8rem 0;
              }

              h1 {
                font-size: 1.4375rem;
              }

              h2 {
                font-size: 1.4375rem;
              }

              h3 {
                font-size: 1.2rem;
              }

              h4 {
                font-size: 1.1rem;
              }

              h5,
              h6 {
                font-size: 1rem;
              }

              .readme-link {
                display: none;
              }

              h1,
              h2,
              h3,
              h4,
              h5,
              h6 {
                &:hover .readme-link {
                  display: inline-block;
                }
              }

              ul {
                list-style-position: outside;
                margin-left: 2rem;
                list-style-type: disc;

                ul {
                  margin-left: 16px;
                }
              }

              li {
                line-height: 1.6;
                margin-bottom: 0;
              }

              pre {
                padding: .625rem 1rem;
                background-color: $light-grey;
                border: 1px solid $color-mid-light;
                border-radius: 2px;
                margin: 1rem 0;
                overflow-x: auto;
              }

              @for $index from 1 through 6 {
                h#{$index} {
                  & + pre {
                    margin-top: 0;
                  }
                }
              }

              code {
                margin-bottom: 0;
                font-size: 1.05rem;
                white-space: pre-wrap;
              }

              blockquote {
                border-left: 3px solid $color-mid-light;
                padding-left: 1rem;
                margin: 2rem 0;
              }
            }

            .section__title {
                margin-bottom: 1.25em;
            }
        }

        &.has-description {
            display: block;
        }
    }

    .row {
        padding-bottom: 20px;
        padding-top: 20px;

        &.details {
            background-color: $white;
        }

        .relations {
            a.btn__see--more {
              display: inline;
            }

            .list--revealed a.btn__see--more {
              display: none;
            }

            .list--revealed a.btn__see--less {
              display: inline;
            }
        }
    }

    .charms-visual {
        background-color: $light-grey;
        padding: 2rem;
        border: 1px solid $color-mid-light;
        border-radius: 2px;
    }

    .link__try-demo,
    .link__try-demo--duo,
    .link__new-model,
    .link__new-model--duo {
        display: none;
    }

    // To push the content outside of the visible area when closed
    .files.is-closed .files__list {
        margin-top: 20px;
    }

    .footer-cta {
        display: none;
    }
}

.bundle.details-page {
    .entity-header {
        &__container {
            padding-bottom: 0;
        }

        &__title {
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width : $breakpoint-medium) {
    .details-page {
        .entity-header {
            padding: 32px 0;

            $icon-size: 96px;

            &__icon {
                height: $icon-size;
                margin: 0 30px 0 0;
                width: $icon-size;
            }

            &__title {
                font-size: 2.8125em;
                margin: 15px 0 0;
            }

            .entity-header__icon + .entity-header__title {
                min-height: $icon-size - 15px;
            }

            &__actions-list {
                display: inline-block;
            }

            &__plan {
                display: block;
            }
        }

        .deploy-command {
            margin: 0 0 15px;
        }

        .footer-wrapper.strip-light {
            padding-top: 0;
        }

        .row {
            &.entity-content__commercial-charms {
                padding-bottom: 40px;
                padding-top: 60px;
            }

            &.details {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 40px;
            }

            .section .section__title {
                background-image: none;
            }
        }

        .relations {
            overflow: visible;
        }

        .link__try-demo,
        .link__try-demo--duo,
        .link__new-model,
        .link__new-model--duo {
            display: block;
            margin-bottom: 10px;

            .not-available {
                display: block;

                .link-cta-negative:hover {
                    background-color: $mid-grey;
                }
            }
        }

        .charm-visual__image {
            display: block;
            height: 500px;
            margin: auto;
            max-width: 100%;
            position: relative;
        }

        .charms.section.is-closed {
            border-bottom: 0;
        }

        main .readme {
            border-bottom: 0;
        }

        .entity-content {
            &__metadata {
                margin-bottom: 20px;
            }

            &__plan {
                margin-bottom: 0;
            }
        }

        &.charm .row.details aside {
            border-top: 0;
        }
    }
}

@media only screen and (max-width: $page-maxwidth) {
  .details-page .entity-header {
    padding: 10px;
  }
}

@media only screen and (min-width: $page-maxwidth) {
    .details-page {
        // Ensure the container doesn't collapse when the header becomes
        // sticky.
        .entity-header__container {
            min-height: 250px;
        }

        .row.details {
            padding-left: 40px;
        }

        $sticky-height: 100px;

        @keyframes slideIn {
            0% {
                height: 0;
            }

            100% {
                height: $sticky-height;
            }
        }

        .entity-header--sticky {
            animation: slideIn .5s;
            background-color: $white;
            border-bottom: 1px solid $light-mid-grey;
            border-top-left-radius: 2px;
            height: $sticky-height;
            left: 0;
            padding: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 20;

            .inner-wrapper {
                bottom: 0;
                left: 0;
                padding: 20px 0;
                position: absolute;
                right: 0;
            }

            .entity-header {
                $icon-size: 26px;

                &__icon {
                    width: $icon-size;
                    height: $icon-size;
                    margin-top: 10px;
                    margin-right: 10px;
                    border-radius: 2px;
                    border-radius: 50%;
                }

                &__title {
                    font-size: 20px;
                    margin-top: 10px;
                    line-height: $icon-size;
                    min-height: $icon-size;
                }

                &__properties {
                    margin-top: 14px;
                }

                &__machine-properties,
                &__actions-list,
                &__plan,
                &__social-list {
                    display: none;
                }
            }

            .entity-header__icon + .entity-header__title {
                min-height: 0;
            }

            .deploy-command {
              display: none;
            }

            .link__try-demo,
            .link__try-demo--duo,
            .link__new-model,
            .link__new-model--duo {
                margin-top: 10px;
            }
        }
    }
}
