body.how-it-works {
  @include jaas-row;

  background-image: url('../img/home/juju-suru-blue-background.png');
  background-size: contain;
  background-color: $background-default;
  font-size: 16px;

  .logo__text {
    fill: $white;
  }

  .row {
    padding-top: 80px;
    padding-bottom: 80px;

    @media screen and (max-width: 768px) {
      padding: 40px;
    }
  }

  .row-hero {
    color: $white;
    background-color: transparent;
  }

  .row--explain {
    &__title {
      margin-bottom: 4rem;
    }
    &__arrow {
      @media screen and (min-width: 768px) and (max-width: $page-maxwidth) {
        display: none;
      }
    }
    &__step {
      margin-top: 1rem;
    }
  }

  .row--faq {
    &__item {
      margin-bottom: 2rem;
      border-bottom: 1px dotted $mid-grey;
      padding-bottom: 2rem;

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }

  .row--jaas {
    padding-top: 40px;
    padding-bottom: 40px;

    &__title {
      margin-bottom: 2rem;
    }

    &__clouds {
      margin-top: 1.6rem;
    }
  }

  footer.global {
    border-top: 0 none;

    .row {
      padding: 10px 0 0;
    }
  }
}
