.jaas-page {
  @include jaas-row(true);

  background-image: url("../img/home/juju-suru-blue-background.png");
  background-size: contain;
  background-color: $background-default;

  .logo__text {
    fill: $white;
  }

  .row-hero {
    background-color: transparent;
    position: relative;
    padding-bottom: 0;
    z-index: 1;
    overflow: hidden;
    padding-bottom: 5rem;

    @media screen and (max-width: 767px) {
      max-height: 100%;
      padding-bottom: 0;
      overflow: hidden;
    }
  }


  h1.row-title {
    margin-bottom: 2rem;
  }

  &--intro {
    @include clearfix;
    display: block;

    .intro {
      margin-bottom: 2rem;
    }

    .button--inline-positive,
    .button--inline-neutral {
      position: relative;
      margin-right: .625rem;

      @media screen and (max-width: 768px) {
        float: none;
        top: 0;
        margin-bottom: 1rem;
        width: 100%;
      }
    }
  }

  .row--jaas {
    &__title {
      font-size: 1.25rem;
      position: relative;
      top: -5px;
      margin-bottom: 0;
    }
    &__clouds {
      margin-top: 0;

      li {
        margin-bottom: 1rem;
      }
    }

    &__list-item {
      margin-bottom: 2rem;

      ul {
        list-style: disc;
        margin-left: -.5rem;
      }
    }
  }

  .getting-started {

    &__list {
      h4 {
        font-weight: 300;
      }

      &-item {
        font-size: 1.25rem;
        margin-bottom: 2rem;

        span {
          font-size: 1rem;
        }
      }
    }
  }

  &--features {
    @include clearfix;
    background: #f7f7f7;
    padding: 2.5rem 2.5rem 1rem;
    margin: 0.5rem -2.5rem 2rem;
  }

  hr {
    border-color: $light-grey;
    background: $light-grey;

    @media screen and (min-width: 768px) {
      margin: 2.5rem -2.5rem;
    }
  }

  .extra-padding {
    @media screen and (min-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  .box {
    @media screen and (min-width: 768px) {
      padding: 2.5rem;
    }
  }

  .animated-gif {
    margin-top: 1rem;
    border: 1px solid $color-mid-light;
  }

  &__info {
    font-size: 1.4rem;

    @media screen and (max-width: $navigation-threshold) and (min-width: 768px) {
      width: 200%;
    }
  }

  &__info-sub {
    font-size: 1.25rem;

    .link {
      font-weight: 400;
    }
  }

  .link {
    color: $white;
  }

  &__cta {
    padding: 2rem;
    border: 1px solid $success;
    float: left;
    @include rounded_corners(2px);
    margin-top: .8rem;
  }

  &__cta-button {
      font-size: 1.25em;
      width: 100%;
  }

  &__k8 {
    margin-top: 3.1rem;

    [class*="button"] + [class*="button"] {
      margin-left: 10px;
    }
  }
}

.row-alternatively {
  @media screen and (min-width: 768px) {
    background-image: url("../img/jaas/openstack-bundle-background.png");
    background-repeat: no-repeat;
    background-position: top right;
  }

  @media only screen and (max-width: 1240px) {
    background-size: 50%;
  }
}
