.plan {
    .plan__list--header {
        overflow: hidden;
        display: list-item;
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;

        p {
            color: $warm-grey;
            font-size: 0.875em;
        }
    }

    .plan__list--item {
        overflow: hidden;
        display: list-item;
        list-style: none;
        margin-bottom: 1px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
    }

    .plan-definition {
        margin-bottom: 0;
    }

    .form-error {
        @include rounded_corners(2px);
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid $error;
        color: $error;
    }

}
