{% extends "_layout.html" %}

{% block title %}Juju expert - Spicule{% endblock %}
{% block description %}At Spicule we take great pride in developing easy to use, customisable, flexible data platforms.{% endblock %}

{% block content %}
<div class="p-strip--image is-light u-no-padding--bottom" style="background-image:url('https://assets.ubuntu.com/v1/c883127d-download.svg')">
  <div class="row">
    <div class="col-8">
      <span class="expert__strap">Juju Expert Partners</span>
      <h1>Analyse, reveal patterns, and gain insights</h1>
      <h4>At Spicule we take great pride in developing easy to use, customisable, flexible data platforms.</h4>
    </div>
    <div class="col-4">
      <div class="p-card--highlighted">
        <h2 class="u-align--center u-vertically-center">
          <img
            style="padding-top:1rem"
            width="160"
            src="{{ url_for('static', filename='img/logos/spicule.png') }}"
            alt="Spicule logo" />
        </h2>
        <hr>
        <p>Please let us know if you have a question, or would like further information about Spicule.</p>
        <footer class="p-card__footer">
          <button data-js="leadGenerationModalTrigger" class="p-button--positive">
            Get in touch
          </button>
        </footer>
      </div>
    </div>
  </div>
</div>

<div class="p-strip u-no-padding--bottom">
  <div class="row">
    <div class="col-12">
      <h2 class="expert__title">Supported</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>Saiku Drill</h3>
      <p>Combining Saiku Analytics with the scalable power of Apache Drill, we enable users to query a multitude of data sources. Apache Drill &amp; Saiku are a perfect combination for enterprise scale data discovery.</p>
      <div class="p-card">
        <div class="pictogram-bg">
          <object data="{{ external_urls.charmstore }}~spiculecharms/saiku-drill/diagram.svg" type="image/svg+xml"></object>
        </div>
        <ul class="p-list">
          <li class="p-list__item is-ticked">Data from SQL databases, CSV, JSON, or Hadoop</li>
          <li class="p-list__item is-ticked">Combine in a single view</li>
          <li class="p-list__item is-ticked">Saiku Dashboard Designer – reporting without code.</li>
        </ul>
        <div class="expert__actions">
          <a href="{{ url_for('jaasstore.user_entity', username='spiculecharms', charm_or_bundle_name='saiku-drill') }}" class="p-button--positive">Deploy Saiku Drill</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h3>Drill Hadoop</h3>
      <p>Processing data at scale can be a trick proposition to execute successfully. But using the Drill and Hadoop bundle, it becomes easy to deploy Hadoop at scale, and connect your favourite BI tool to the platform.</p>
      <div class="p-card u-no-margin--bottom-lrg">
        <div class="pictogram-bg">
          <object data="{{ external_urls.charmstore }}~spiculecharms/saiku-drill-hadoop/diagram.svg" type="image/svg+xml"></object>
        </div>
        <ul class="p-list">
          <li class="p-list__item is-ticked">JDBC and ODBC interfaces</li>
          <li class="p-list__item is-ticked">SQL compliant</li>
          <li class="p-list__item is-ticked">Highly scalable</li>
        </ul>
        <div class="expert__actions">
          <a href="{{ url_for('jaasstore.user_entity', username='spiculecharms', charm_or_bundle_name='saiku-drill-hadoop') }}" class="p-button--positive">Deploy Drill Hadoop</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-strip u-no-padding--bottom">
  <div class="row">
    <div class="col-4">
      <h3 class="expert__title">About us</h3>
      <p>Spicule is an industry-leading Big Data consultancy by providing agile Big Data platforms for enterprises of all sizes.</p>
      <p>Spicule have developed Anssr, a collection of Big Data applications that provide an architecture for businesses to process, analyse, reveal patterns and gain insights into their company data.</p>
      <p><a class="p-link--external" href="https://anssr.io/docs/deploying-an-anssr-bundle.html">Getting started with Anssr</a></p>
      <p><a class="p-link--external" href="https://spicule.co.uk">Spicule home</a></p>
    </div>
    <div class="col-4">
      <h3 class="expert__title">Skills</h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Data analytics</li>
        <li class="p-list__item is-ticked">Streaming data platforms</li>
        <li class="p-list__item is-ticked">Enterprise search</li>
        <li class="p-list__item is-ticked">Scalable systems designs</li>
        <li class="p-list__item is-ticked">Data service deployments</li>
        <li class="p-list__item is-ticked">Automation processes</li>
      </ul>
    </div>
    <div class="col-4">
      <h3 class="expert__title">People</h3>
      <div class="p-media-object">
        <img src="https://assets.ubuntu.com/v1/04e9906e-Spicule-people-image-01.png" alt="Tom Barber" class="p-media-object__image is-round">
        <div class="p-media-object__details">
          <h3 class="p-media-object__title">
            Tom Barber
          </h3>
          <p class="p-media-object__content">Founder & CEO</p>
        </div>
      </div>
      <div class="p-media-object">
        <img src="https://assets.ubuntu.com/v1/48acb717-Spicule-people-image-02.png" alt="Breno Polanski" class="p-media-object__image is-round">
        <div class="p-media-object__details">
          <h3 class="p-media-object__title">
            Breno Polanski
          </h3>
          <p class="p-media-object__content">Head of development</p>
        </div>
      </div>
      <div class="p-media-object">
        <img src="https://assets.ubuntu.com/v1/66af2f2e-Spicule-people-image-03.png" alt="Stephen Downie" class="p-media-object__image is-round">
        <div class="p-media-object__details">
          <h3 class="p-media-object__title">
            Stephen Downie
          </h3>
          <p class="p-media-object__content">Technical project manager</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <div class="col-8">
      <span class="expert__strap">Juju Expert Partners</span>
      <h4>
        Managed solutions partner network. If you are building your own
        solutions we would love to have you join us as a partner. We can’t wait
        to talk.
      </h4>
    </div>
    <div class="col-4">
      <span class="expert__strap">Become a Partner</span>
      <div class="expert__actions">
        <a
          href="mailto:juju-experts@canonical.com"
          class="p-button--positive">
          Join us&hellip;
        </a>
      </div>
    </div>
  </div>
</div>
{% include "shared/_spicule_lead-gen-form.html" %}

{% endblock content %}
