{% extends "_layout.html" %}

{% block title %}Juju expert - Tengu{% endblock %}
{% block description %}We are a generic and open-source data science hub powered by Juju, offering professionals complete freedom to choose the tools that best suit each of their big data driven applications.{% endblock %}

{% block content %}
<div class="p-strip--image is-light u-no-padding--bottom" style="background-image:url('https://assets.ubuntu.com/v1/c883127d-download.svg')">
  <div class="row">
    <div class="col-8">
      <span class="expert__strap">Juju Expert Partners</span>
      <h1>Analyse, reveal patterns, and gain insights</h1>
      <h2 class="p-heading--four">We are a generic and open-source data science hub powered by Juju, offering professionals complete freedom to choose the tools that best suit each of their big data driven applications.</h2>
    </div>
    <div class="col-4">
      <div class="p-card--highlighted">
        {% include "shared/contact-card/_expert-page.html" %}
      </div>
    </div>
  </div>
</div>

<div class="p-strip u-no-padding--bottom">
  <div class="row">
    <div class="col-12">
      <h2 class="expert__title">Supported</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3><a href="{{ url_for('jaasstore.user_entity', username='tengu-team', charm_or_bundle_name='automate-spark-jobs') }}">Automate Spark Jobs</a></h3>
      <p>Deploy a small Spark cluster together with exemplary Python Spark Jobs and an integrated Zeppelin Notebook to ease into big data processing.</p>
      <div class="p-card">
        <div class="pictogram-bg">
          <object data="{{ external_urls.charmstore }}~tengu-team/bundle/automate-spark-jobs-3/diagram.svg" type="image/svg+xml" title="Spark Jobs overview"></object>
        </div>
        <ul class="p-list">
          <li class="p-list__item is-ticked">Small standalone Spark cluster</li>
          <li class="p-list__item is-ticked">Integrated Python Spark Jobs</li>
          <li class="p-list__item is-ticked">Integrated Zeppelin Notebook</li>
        </ul>
        <div class="expert__actions">
          <a href="{{ external_urls.gui }}?dd=~tengu-team/bundle/automate-spark-jobs" class="p-button--positive">Deploy Automate Spark Jobs</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h3><a href="{{ url_for('jaasstore.user_entity', username='tengu-team', charm_or_bundle_name='create-custom-data-flows') }}">Create custom data flow</a></h3>
      <p>Get started with stream processing in Node-RED. We guide the way with a small example receiving StackOverflow posts and filter them into a MongoDB data store.</p>
      <div class="p-card u-no-margin--bottom-lrg">
        <div class="pictogram-bg">
          <object data="{{ external_urls.charmstore }}~tengu-team/bundle/create-custom-data-flows-3/diagram.svg" type="image/svg+xml" title="Custom data flow overview"></object>
        </div>
        <ul class="p-list">
          <li class="p-list__item is-ticked">Receive data on ActiveMQ</li>
          <li class="p-list__item is-ticked">Create custom data flows in Node-RED</li>
          <li class="p-list__item is-ticked">Store the info in MongoDB</li>
        </ul>
        <div class="expert__actions">
          <a href="{{ external_urls.gui }}?dd=~tengu-team/bundle/create-custom-data-flows" class="p-button--positive">Deploy Create Custom Data Flows</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-strip u-no-padding--bottom">
  <div class="row">
    <div class="col-4">
      <h3 class="expert__title">About us</h3>
      <p>Thomas &amp; Gregory founded Tengu at Ghent University, Belgium, when working with several data science tools.</p>
      <p>With Tengu, it&rsquo;s their mission to help companies navigate the complexity of building and operating a data-driven business through self-supporting tools and the democratization of technical knowledge.</p>
      <p><a target="_blank" href="https://www.tengu.io/" class="p-link--external">https://www.tengu.io</a></p>
    </div>
    <div class="col-4">
      <h3 class="expert__title">Skills</h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Big Data</li>
        <li class="p-list__item is-ticked">NoSQL Storage</li>
        <li class="p-list__item is-ticked">Parallel Processing</li>
        <li class="p-list__item is-ticked">Scalable Systems Design</li>
        <li class="p-list__item is-ticked">Cloud Computing</li>
        <li class="p-list__item is-ticked">Internet of Things</li>
        <li class="p-list__item is-ticked">Machine Learning</li>
        <li class="p-list__item is-ticked">Microservices</li>
        <li class="p-list__item is-ticked">DataOps</li>
      </ul>
    </div>
    <div class="col-4">
      <h3 class="expert__title">People</h3>
      <div class="p-media-object">
        <img src="https://assets.ubuntu.com/v1/6c60a008-gregory_van_seghbroeck.jpeg" alt="Gregory Van Seghbroec" class="p-media-object__image is-round">
        <div class="p-media-object__details">
          <h3 class="p-media-object__title u-no-margin--bottom">
            Gregory Van Seghbroeck
          </h3>
          <p class="p-media-object__content">CTO</p>
        </div>
      </div>
      <div class="p-media-object">
        <img src="https://assets.ubuntu.com/v1/213739ce-daphne.jpg" alt="Daphné De Troch" class="p-media-object__image is-round">
        <div class="p-media-object__details">
          <h3 class="p-media-object__title u-no-margin--bottom">
            Daphné De Troch
          </h3>
          <p class="p-media-object__content">Growth Marketer</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "shared/_expert_partner_cta_strip.html" %}

{% endblock content %}
