// XXX Ant - There is a bug in the append styles upstream
// https://github.com/ubuntudesign/vanilla-framework/issues/344
@media only screen and (min-width : $breakpoint-medium) {
    .append-one {
        margin-right: 10.6%;
    }
}

.inner-wrapper:before,
.inner-wrapper:after {
    content:"";
    display:table
}

.inner-wrapper:after {
    clear:both;
}

// Stops tooltips applying vertical scrollbars
.wrapper {
  overflow: visible;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    overflow: hidden;
  }
}
