{% if not expert_card %}
  {% set expert_card = {} %}
{% endif %}
<div class="u-sv2">
  <div style="{{ expert_card.heading_style }}">
    {% if expert_card.invert_logo %}
      {% set url = expert.logo_invert %}
      {% set alt = expert.name + " logo" %}
      {{
        image(
          url=url,
          alt=alt,
          width="160",
          height="80",
          hi_def=False,
          loading="eager",
          attrs={"style": "padding: 1rem 0;"},
        ) | safe
      }}
    {% else %}
      {% set url = expert.logo %}
      {% set alt = expert.name + " logo" %}
      {{
        image(
          url=url,
          alt=alt,
          width="160",
          height="80",
          hi_def=False,
          loading="eager",
          attrs={"style": "padding: 1rem 0;"},
        ) | safe
      }}
    {% endif %}
  </div>
</div>
<div class="expert__strap" style="background: transparent;">
  Juju expert partners
</div>
<p class="p-heading--three">{{ expert.store_card.heading|safe }}</p>
<footer class="p-card__footer">
  {% if expert_card.show_footer_rule %}
    <hr class="u-sv1">
  {% endif %}
  <a href="{{ expert.page_url }}" class="p-button--positive">
    {{ expert.store_card.button_label }}
  </a>
</footer>
