@mixin p-suru {
  .p-suru--bottom-right {
    background-image: url("#{$assets-path}a6474c5b-Suru%20top%20%20right%20angle.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 200px 149px;

    @media only screen and (min-width: $breakpoint-large) {
      background-size: contain;
    }
  }
}
