@charset "UTF-8";

// Override local variables
$color-navigation-background: #333;
$color-navigation-active-bar: #e95420;
$color-kubernetes: #2e69ea;
$color-accent-background: #f0f5f7;
$color-accent: #0e8420;
$color-mid-x-light: #e5e5e5;
$grid-max-width: 72rem;

// Set the mobile nav breakpoint to handle the large number of nav items.
@import 'vanilla-framework/scss/settings_breakpoints';
$breakpoint-navigation-threshold: $breakpoint-large;

// Import Vanilla Framework
@import 'vanilla-framework/scss/vanilla';

@include vanilla;

// Import cookie-policy. Just import the bits we need as the proper file
// includes override for other generic styles.
@import '@canonical/cookie-policy/build/css/cookie-policy';

// Custom snowflake code for bespoke components
@import 'custom/row-cli';
@import 'custom/search-panel';
@import 'custom/search-results';
@import 'custom/minimal-juju-cards';
@import 'custom/entities';
@import 'custom/homepage-hero-promo';
@import 'custom/modal';
@import 'custom/header';
@import 'custom/series_tags';
@import 'custom/patterns_strips';
@import 'custom/patterns_lists';
@import 'custom/patterns_docs';
@import 'custom/hljs';
@import 'custom/linkable-heading';
@import 'custom/case_studies';
@import 'custom/patterns_hero-tab';
@import 'custom/patterns_tutorials';

@include jaas-hero-tab;
@include jaas-p-strips;
@include jaas-p-lists;
@include jaas-docs;
@include jaas-tutorials;

// Homepage Card footer margin
.p-card.is-flex {
  display: flex;
  flex-direction: column;

  .p-card__content {
    flex: 1;
    padding-top: 1rem;
  }
}

.p-card-heading {
  display: flex;

  &__img {
    height: 48px;
    margin-right: 1rem;
    width: 48px;
  }

  &__title {
    margin-top: 0;
  }
}

.p-card__footer {
  margin-top: 1rem;

  &-link {
    display: block;
    margin: 0.5rem 0;
  }
}

.play-video-cta {
  display: inline-block;
  position: relative;

  a {
    padding-right: 2rem;
  }

  &::after {
    content: url('https://assets.ubuntu.com/v1/0d85260e-play-icon.svg');
    display: inline-block;
    height: 1rem;
    position: absolute;
    right: 0.5rem;
    top: 0.15rem;
    width: 1rem;
  }
}

// experts expert-cards
$color-experts-highlight: #e95420;

.has-strap {
  position: relative;
}

.p-card.has-strap {
  overflow: visible;
}

.expert__logo-wrap {
  min-height: 36px;
}

.expert__strap {
  background: $color-x-light;
  border-left: 3px solid $color-experts-highlight;
  clear: both;
  display: inline-block;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.75rem;
  text-transform: uppercase;
}

.expert__card-logo {
  display: block;
  margin: 2rem auto 2rem;
  max-width: 160px;
  text-align: center;
  width: 75%;

  .has-strap & {
    margin: 3rem auto 2rem;
  }
}

.expert__title {
  border-top: 1px solid $color-experts-highlight;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  max-width: 100%;
  padding-top: 0.25rem;
  text-transform: uppercase;
  width: 100%;
}

.p-card--experts {
  a:hover {
    color: $color-dark;
    text-decoration: none;
  }
}

// quotes grid
.p-pull-quote {
  margin-top: 0;
}

// icon list
.icon-list {
  &__item {
    margin-bottom: 0.25rem;
  }

  &__link {
    display: flex;
  }

  &__image {
    flex: 0 0 52px;

    img {
      vertical-align: middle;
    }
  }

  &__title {
    align-items: center;
    display: flex;
    flex: 1;
    padding-left: 1rem;
  }
}

// p-strip with bg image
.has-image-bg {
  @media (max-width: $breakpoint-medium) {
    background: none !important;
  }
}

// support cards
.support-cards {
  &__icon {
    padding-right: 1rem;
    position: relative;
    top: 0.5rem;
  }
}

// Embedded Juju cards
.bundle-card__title {
  line-height: 2.5rem;
}

.bundle-card__footer {
  display: none;
}

.sidebar__card {
  margin-bottom: 1rem;

  .charm-card__header,
  .charm-card__meta {
    margin-bottom: 0;
  }

  .charm-card__main,
  .charm-card__footer {
    display: none;
  }

  .charm-card__title {
    line-height: 1.75rem;
  }
}

// charm objects
.charm-object {
  img {
    width: 40px;
  }
}

// Pictogram
.pictogram-bg {
  background-color: $color-light;
  border: 1px solid $color-mid-x-light;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem 0.5rem;

  object {
    max-height: 185px;
  }
}

// Hide empty p tags generated by markdown
p:empty {
  display: none;
}

// Accordion title
.p-accordion__title {
  left: 5px;
  position: relative;
  top: -13px;
}

div .p-accordion__tab[aria-expanded] {
  background: none;
}

// Modelling steps on the homepage.
@media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
  .step-block {
    display: flex;

    &__section {
      flex: 1;
      padding-right: 0.5rem;

      &:last-child {
        padding-left: 0.5rem;
        padding-right: 0;
      }
    }
  }
}

// Util to disable link underline on hover
.u-no-link-underline {
  &:hover {
    text-decoration: none;
  }
}

.u-no-max-width {
  max-width: none !important;
}

.p-separator {
  margin: 4rem 0;
}

// XXX Ant - 01.06.19: This can be removed when the follow issue is resolved.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2401
.is-dark {
  .p-divider__block:not(:nth-child(1))::before {
    background-color: $color-mid-dark !important;
  }

  .p-divider__block:not(:first-child) {
    border-top-color: $color-mid-dark !important;
  }

  .invert-link a:link {
    @extend .p-link--inverted;
  }
}

// Hide images that fail to lazy load due to JS failing or other
.lazyload {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}

// Fades in content when class is added
.u-animate--reveal {
  height: auto !important;
  opacity: 1 !important;
  transition: opacity 0.5s ease-in;
}

// Util helper to remove borders
.u-no-border {
  border: 0;
}
