@charset "UTF-8";

$asset-path: '/static/';

// Override local variables
$color-navigation-background: #333;
$color-kubernetes: #2e69ea;
$grid-max-width: 72rem;

// Set the mobile nav breakpoint to handle the large number of nav items.
@import 'vanilla-framework/scss/settings_breakpoints';
$breakpoint-navigation-threshold: $breakpoint-large;

// Import Vanilla Framework
@import 'vanilla-framework/scss/vanilla';

@include vanilla;

$cool-grey: $color-brand;
$mid-grey: $color-mid-light;

// Custom snowflake code for bespoke components
@import 'custom/row-cli';
@import 'custom/search-panel';
@import 'custom/search-results';
@import 'custom/store-promos';
@import 'custom/minimal-juju-cards';
@import 'custom/entities';
@import 'custom/homepage-hero-promo';
@import 'custom/modal';
@import 'custom/header';
@import 'custom/series_tags';

// github component homepage
.github-actions {
  display: flex;
  max-width: 100px;

  &__cta {
    margin: 0 0.1rem 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

// Homepage Card footer margin
.p-card.is-flex {
  display: flex;
  flex-direction: column;

  .p-card__content {
    flex: 1;
    padding-top: 1rem;
  }
}

.p-card-heading {
  display: flex;

  &__img {
    height: 48px;
    margin-right: 1rem;
    width: 48px;
  }

  &__title {
    margin-top: 0;
  }
}

.p-card__footer {
  margin-top: 1rem;

  &-link {
    display: block;
    margin: 0.5rem 0;
  }
}

// experts expert-cards
$color-experts-highlight: #e95420;

.has-strap {
  position: relative;
}

.p-card.has-strap {
  overflow: visible;
}

.expert__logo-wrap {
  min-height: 36px;
}

.expert__strap {
  background: $color-light;
  border-left: 3px solid $color-experts-highlight;
  clear: both;
  display: inline-block;
  font-size: 0.875rem;
  margin-bottom: 2rem;
  padding: 0.25rem 0.75rem;
  text-transform: uppercase;

  .has-strap & {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% + 1px);
  }
}

.expert__card-logo {
  display: block;
  margin: 2rem auto 2rem;
  max-width: 160px;
  text-align: center;
  width: 75%;

  .has-strap & {
    margin: 3rem auto 2rem;
  }
}

.expert__title {
  border-top: 1px solid $color-experts-highlight;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  max-width: 100%;
  padding-top: 0.25rem;
  text-transform: uppercase;
  width: 100%;
}

// quotes grid
.p-pull-quote {
  margin-top: 0;
}

// icon list
.icon-list {
  &__title {
    bottom: 1rem;
    display: inline-block;
    margin-top: 0;
    padding-left: 1rem;
    position: relative;
  }
}

// p-strip with bg image
.has-image-bg {
  @media (max-width: $breakpoint-medium) {
    background: none !important;
  }
}

// support cards
.support-cards {
  &__icon {
    padding-right: 1rem;
    position: relative;
    top: 0.5rem;
  }
}

// Embedded Juju cards
.bundle-card__title {
  line-height: 2.5rem;
}

.bundle-card__footer {
  display: none;
}

.sidebar__card {
  margin-bottom: 1rem;

  .charm-card__header,
  .charm-card__meta {
    margin-bottom: 0;
  }

  .charm-card__main,
  .charm-card__footer {
    display: none;
  }

  .charm-card__title {
    line-height: 1.75rem;
  }
}

// charm objects
.charm-object {
  img {
    width: 40px;
  }
}

// Expanded stepped list
.p-list-step__item {
  margin-top: 2rem;

  &:first-child {
    margin-top: 1rem;
  }
}

.p-list-step__title {
  padding-bottom: 2rem;
}

// Inline images fix
.p-inline-images__item {
  img {
    width: 100%;
  }
}

// Stepped content Override
.p-list-step__content {
  .p-heading-icon__header {
    @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
      display: block;
    }
  }
}

// Pictogram
.pictogram-bg {
  background-color: $color-light;
  border: 1px solid $color-mid-light;
  margin-bottom: 1rem;
  padding: 1rem;

  object {
    max-height: 185px;
  }
}

// Hide empty p tags generated by markdown
p:empty {
  display: none;
}

// Accordion title
.p-accordion__title {
  left: 5px;
  position: relative;
  top: -13px;
}

div .p-accordion__tab[aria-expanded] {
  background: none;
}

// Override neccessary until this bug is resolved upstream
// https://github.com/canonical-websites/vanillaframework.io/pull/171#issuecomment-424717215
.homepage-logos .p-inline-images__item {
  margin: 0;
  padding-right: 0.5rem;
}

.play-video-cta {
  display: inline-block;
  position: relative;

  a {
    padding-right: 2rem;
  }

  &::after {
    content: url('https://assets.ubuntu.com/v1/0d85260e-play-icon.svg'); // sass-lint:disable-line no-url-protocols no-url-domains
    display: inline-block;
    height: 1rem;
    position: absolute;
    right: 0.5rem;
    top: 0.15rem;
    width: 1rem;
  }
}

// h2 font weight override required until Vanilla 2.0 release
h2 {
  font-weight: 100;
}
