.p-search {
  &-form {
    position: relative;

    .form-text {
      margin: $sp-xx-small;
      padding: 0.4rem 0.75rem 0.4rem $sp-x-large;
      width: calc(100% - #{$sp-x-small});
    }

    [type='submit'] {
      background: none;
      border: 0;
      left: $sp-x-small;
      margin-top: 0.75rem;
      padding: $sp-xx-small;
      position: absolute;
      top: 0;

      &:hover {
        background: none;
      }
    }

    .p-search__close {
      display: none;
      margin-top: 0;
      position: absolute;
      right: $sp-medium;
      top: 0.75rem;

      @at-root {
        .search-active {
          .p-search__close {
            display: block;
          }

          .form-text {
            margin-top: 0;
          }

          .search-icon__image {
            position: relative;
            top: -3px;
          }
        }
      }
    }
  }

  &-container,
  &-panel {
    background: $color-x-light;
    z-index: 999;
  }

  &-container {
    background: $color-navigation-background;
    height: 46px;
    margin-top: 0;
    padding: 0 0.25rem;
    position: absolute;
    right: 5rem;
    top: 0.15rem;
    z-index: 99999;

    .search-active & {
      background-color: $color-x-light;
      padding: 0.15rem 0.25rem 0;
    }
  }

  &-panel {
    box-shadow: 0 1px 5px 1px transparentize($color-dark, 0.8);
    left: 0;
    margin-top: 0;
    opacity: 0;
    padding: $sp-medium;
    position: absolute;
    top: 3rem;
    transition: opacity 0.25s;
    width: 100%;
    z-index: -1;

    &__heading {
      color: $color-brand;
    }

    @at-root {
      .p-navigation & a {
        color: $color-link;

        &:hover {
          color: darken($color-link, 10%);
        }
      }
    }

    @media (min-width: $breakpoint-medium) {
      .search-active & {
        opacity: 1;
        z-index: 9999;
      }
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
    }

    &__main {
      display: flex;
      flex: 3;
      flex-wrap: wrap;
      padding: $sp-x-large $sp-medium $sp-medium 0;
    }

    &__sidebar {
      flex: 1;
      margin-top: 0;
      padding: 3rem $sp-medium $sp-medium;
    }

    &__footer {
      flex: none;
      margin: 0 0 $sp-x-large;
      width: 100%;
    }

    &__featured-name {
      margin-top: $sp-x-small;
    }

    &__featured-link {
      border: 1px solid transparent;
      margin-bottom: $sp-medium;
      padding: $sp-medium;

      &:hover {
        border: 1px solid $color-mid-light;
      }
    }

    &__item-count {
      color: $color-mid-dark;
    }
  }
}

.p-search-panel__featured-link {
  display: inline-block;
  margin: 0 0 $sp-medium;
  text-align: center;
  width: 20%;

  img {
    max-width: 4rem;
  }
}
