.readme {
  h1 {
    @extend %vf-heading-3;
  }

  h2 {
    @extend %vf-heading-4;
  }

  h3 {
    @extend %vf-heading-5;
  }

  h4 {
    @extend %vf-heading-6;
  }
}

.entity {
  &__title,
  &__version {
    font-size: 2.5rem;
  }

  &__title {
    text-transform: capitalize;
  }

  &__version {
    color: #666;
    top: 0 !important;
  }
}
