// This breakpoint is where all items in nav will be displayed.
// Below this point, non-priority links will be hidden.
$breakpoint-navigation: 980px;

.p-search-box {
  bottom: 3px;
}

@media (min-width: $breakpoint-medium) and (max-width: $breakpoint-navigation) {
  .is-secondary-link {
    display: none !important;
  }
}
