// Homepage promo takeover

.col-4.has-strap {
  padding-top: 3rem;
}

.homepage-hero-promos {
  @media (max-width: $breakpoint-medium) {
    margin-top: 25vw;
  }

  .card-wrap {
    min-height: 96px;
  }

  h5 {
    margin-bottom: 2.5rem;
  }
}

.homepage-hero-image-wrap {
  position: static;

  @media (max-width: $breakpoint-medium) {
    display: none;
  }
}

.homepage-hero-image {
  max-width: 600px;
  position: absolute;
  right: -1rem;
  top: 0;
  width: 55vw;

}

.homepage-hero-promos {
  @media (max-width: $breakpoint-medium) {
    .col-4 {
      margin-bottom: 2rem;
    }
  }
}
