.p-linkable-heading {
  &__anchor {
    @include vf-animation(opacity, snap, in);
    opacity: 0;
    float: left;
    margin-left: -1.25rem;
  }

  &:hover {
    .p-linkable-heading__anchor {
      opacity: 1;
    }
  }
}
