.p-modal {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.25s linear;
}

.p-modal--hidden {
  opacity: 0;
  visibility: hidden;
}

.modal__contact-list {
  list-style: none;
  margin-left: 0;

  li {
    display: flex;
    margin-bottom: 0.25rem;

    a {
      padding-left: 0.5rem;
    }
  }

  img {
    display: block;
    padding-top: 0.25rem;
  }
}

.modal__button {
  display: flex;

  button {
    margin-left: auto;
  }
}
