@mixin jaas-p-strips {
  @include jaas-p-strip-suru;
  @include jaas-p-strip-slanted;
}

@mixin jaas-p-strip-suru {
  $suru-accent: #3fc8f2;

  %jaas-strip-suru {
    @extend %vf-strip;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      display: block;
      height: 4rem;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }

    &::after {
      background: $color-suru-accent;
      content: '';
      display: block;
      height: 100px;
      position: absolute;
      transform: rotate(15deg);
      width: 500px;
      z-index: 1;
    }

    &.is-light {
      color: $color-x-dark;
    }

    &.is-dark {
      color: $color-x-light;
    }
  }

  .p-strip--suru-top {
    @extend %jaas-strip-suru;
    padding-top: 8rem;

    &::before {
      background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      top: 0;
    }

    &::after {
      right: -100px;
      top: -70px;
    }
  }

  .p-strip--suru-bottom {
    @extend %jaas-strip-suru;
    padding-bottom: 8rem;

    &::before {
      background: linear-gradient(
        to top left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      bottom: 0;
    }

    &::after {
      bottom: -70px;
      left: -100px;
    }
  }
}

@mixin jaas-p-strip-slanted {
  [class*='p-strip'].is-slanted {
    overflow: hidden;
    padding-top: 8rem;
    position: relative;

    &::before {
      background: linear-gradient(
        to top left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      content: '';
      display: block;
      height: 4rem;
      left: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 2;
    }
  }
}
