.search-results {
  &__entity-name {
    line-height: 1.5rem;
    font-size: 1rem;
    text-transform: capitalize;
  }

  &-table {
    tr {
      display: flex;
      padding-top: 1rem;
    }

    th,
    td {
      flex: 1;

      &:first-child {
        flex: 0.5;
      }
    }
  }
}

.filter-row {
  margin: 1rem auto;

  .list-block__filter {
    margin-right: 1rem;
    @media (min-width: $breakpoint-small) {
      display: flex;
    }
  }

  .list-block__filters--selects {
    .list-block__filter {
      margin-bottom: 1rem;
    }

    @media (min-width: $breakpoint-x-small) {
      float: right;
      display: flex;
    }

    &-item {
      margin-left: 0;
      margin-right: 0.5rem;

      select {
        margin: 0;
      }
    }

    label {
      width: 100%;
      min-width: 55px;

      @media (min-width: $breakpoint-x-small) {
        text-align: right;
      }

      @media (min-width: $breakpoint-medium) {
        padding-top: 0;
      }
    }
  }

  .p-inline-list__item {
    cursor: pointer;
  }

  .is-selected {
    position: relative;

    &::after {
      background: $color-mid-dark;
      bottom: -2px;
      content: ' ';
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  @media (min-width: $breakpoint-medium) {
    select {
      margin-left: -1.5rem;
      margin-top: -0.5rem;
    }
  }

  .p-contextual-menu {
    &__toggle {
      text-transform: capitalize;
      
      &--active {
        border-color: $color-focus;
      }
    }

    &__dropdown {
      min-width: 19rem;
      padding: 0.5rem 0;

      .p-list__item {
        padding: 0.5rem 1rem;
      }

      .series-tag:last-child {
        margin-right: 0;
      }

      .series-tag--active {
        background-color: $color-light;
      }
    }
  }
}

.entity-icon {
  border-radius: 50%;
}

@media (min-width: $breakpoint-small) {
  .p-tabs__list {
    width: auto;
  }
}
.p-tabs:before {
  display: none;
}

.p-tabs__item:last-child {
  margin: 0;
}

.entity-search-selector {
  display: flex;
  overflow-x: hidden;

  @media (min-width: $breakpoint-small) {
    display: inline-flex;
  }

  li {
    flex: 1;
    text-align: center;

    a {
      display: inline-block;
      width: 100%;
    }
  }
}

.entity-tags {
  a {
    font-size: 0.875rem;
    color: $color-mid-dark;
  }
}

@media (max-width: $breakpoint-medium) {
  .series-tags {
    margin-bottom: 1rem;
  }
}
