.p-search-form {
  $icon-size: 1.3rem;
  flex: 0;
  margin-top: 0.15rem;
  position: relative;

  &__input {
    border-radius: 0.2rem;
    margin: $sp-xx-small;
    padding: 0.4rem 0.75rem 0.4rem $icon-size + 0.7rem;
    width: calc(100% - #{$sp-x-small});
  }

  &__submit {
    background: none;
    border: 0;
    left: $sp-x-small;
    margin: 0.65rem 0 0 0.2rem;
    padding: 0;
    position: absolute;
    top: 0;

    &:hover {
      background: none;
    }

    &-icon {
      width: $icon-size;
    }
  }
}
