.series-tag {
  display: inline-block;
  border: 1px solid $color-mid-dark;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  color: $color-mid-dark;
  padding: 0 0.5rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  text-transform: capitalize;

  &--kubernetes {
    border-color: $color-kubernetes;
    color: $color-kubernetes;
  }
}
