
.deploy-command {
    position: relative;

    .deploy-command__field {
        @include box_sizing();
        @include box_shadow(inset 0 1px 2px 0 rgba(0, 0, 0, .12));
        background-image: url("../img/icons/code-snippet_16.svg");
        background-repeat: no-repeat;
        background-position: 10px center;
        background-color: #fff;
        background-size: 1rem;
        width: 100%;
        border: 1px solid $color-mid-light;
        padding: 9.5px 37px 9.5px 34px;
        color: $cool-grey;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        cursor: text;
    }

    .command2clipboard__clip {
        cursor: pointer;
        position: absolute;
        right: 1px;
        top: 1px;
        border: 0;
        height: 37px;
        width: 37px;
        padding: 8.5px 10.5px;
    }

    .command2clipboard__clip.zeroclipboard-is-hover {
        background-color: rgba(212, 212, 212, .75);
    }
}

@media only screen and (min-width : $page-maxwidth) {
    .deploy-command {
        .command2clipboard__clip {
            display: inline-block;
        }
   }
}
