.expandable-list {
  margin-left: 0;

  &__list {
    border-bottom: 1px solid $alto-grey;
    margin: 0;
  }

  &__header {
    padding: 17px 10px 0;
    list-style: none;
    overflow: hidden;
    margin-bottom: 0;
    display: none;

    @media only screen and (min-width: $breakpoint-medium) {
      padding: 8px 20px 0;
      display: list-item;
    }

    &-item {
      margin-bottom: 10px;
    }
  }

  &__content {
    background-color: $white;
    border-radius: 2px;
    box-shadow: 0 1px 4.85px 0.15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    height: 0;

    @media only screen and (max-width: $breakpoint-medium) {
      .button--inline-neutral {
        width: 100%;
        float: none;
      }
    }

    * {
      display: none;
    }
  }

  .slideout__toggle {
    padding: 17px 10px 8px;
    cursor: pointer;

    @media only screen and (min-width: $breakpoint-medium) {
      padding: 20px 20px 0;
    }
  }

  &__list-item {
    min-height: 56px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: $alto-grey;
    display: block;
    transition: background 0.2s;
    float: left;
    border-top-style: dotted;

    &:nth-of-type(2) {
      border-top-style: solid;
    }

    &:last-of-type {
      border-bottom: 1px solid $alto-grey;
    }

    &:hover {
      background-color: $white;
    }

    &.open {
      .slideout__toggle {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 20px;
      }

      &:hover {
        background-color: transparent;
      }

      .expandable-list__content {
        opacity: 1;
        visibility: visible;
        height: auto;
        padding: 20px;

        * {
          display: inherit;
        }
      }

      .expandable-list__summary {
        display: none;
      }
    }

    a {
      position: relative;
      z-index: 500;
    }
  }

  &__title {
    margin: 0;
    font-size: 1em;
  }

  &__divider {
    width: calc(100% + 40px);
    display: block;
    background-color: $mid-grey;
    height: 1px;
    border: 0;
    margin-left: -20px;
    margin-bottom: 20px;
    clear: both;
  }
}
