
/// Instructions

.instruction {
  padding: 0 10px;
  border-top: 1px dotted $grey;

  @media only screen and (min-width : $breakpoint-medium) {
    padding: 0 20px;
  }

  &:last-of-type {
    border-bottom: 1px dotted $grey;
  }

  .instruction__bullet {
    z-index: 1;

    @media only screen and (min-width : $breakpoint-medium) {
      padding-left: 0;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 200%;
      background-color: $white;
      z-index: -1;
      border-right: 1px dotted $grey;
    }
  }

  .instruction__step {
    $size: 40px;
    width: $size;
    height: $size;
    line-height: $size;
    background-color: $silver;
    font-size: 1.6em;

    @media only screen and (min-width : $site-max-width) {
      $size: 50px;
      width: $size;
      height: $size;
      line-height: $size;
      font-size: 2em;
    }
  }

  .instruction__details {
    background: none;
    padding: 30px 10px;

    @media only screen and (min-width : $breakpoint-medium) {
      padding: 70px 0 60px 40px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 200%;
      background-color: $white;
      z-index: 0;
      border-right: 1px dotted $grey;
    }
  }

  .command-line {
    margin-bottom: 1em;

    &__copy-button {
      cursor: pointer;
    }
  }

  .instruction__title {
    margin-bottom: 1em;
    display: block;
  }
}
