%p-card {
  background: $white;
  border-radius: 2px;
  color: $black;
  padding: 1.25rem;

  .p-card__header {
    border-bottom: 1px solid $color-mid-light;
    margin-bottom: .75rem;
    padding-bottom: .75rem;

    >.p-link--soft {
      //prevent height collapse due to display: inline
      display: inline-block;
      //include child margins into height
      overflow: auto;
    }

    img {
      max-height: 2rem;
    }
  }

  .p-card__title {
    margin-top: 0;
  }
}

%p-card--highlighted {
  @extend %p-card;
  box-shadow: 0 1px 5px 1px transparentize($black, .8);
}

@mixin vf-p-card {
  @include vf-p-card-default;
  @include vf-p-card-highlighted;
  @include vf-p-card-overlay;
}

@mixin vf-p-card-default {
  .p-card {
    @extend %p-card;
    border: 1px solid $color-mid-light;
    margin-bottom: 2rem;
    margin-top: 0;

    & & {
      margin-top: 0;
    }
  }
}

@mixin vf-p-card-highlighted {
  .p-card--highlighted {
    @extend %p-card--highlighted;
  }
}

@mixin vf-p-card-overlay {
  .p-card--overlay {
    @extend %p-card;
    background: transparentize($white, .15);
    border-radius: 0;
  }
}
