.tag-list {
    list-style: none;
    margin-left: 0;
}

.tag-list--item {
    display: inline-block;
    text-transform: lowercase;

    a:after {
        content: ',';
    }
    &:last-child a:after {
        content: '';
    }
    &.tag-list--no-comma a:after {
        content: '';
    }
}


.tag-list.tag-list--spaced .tag-list--item {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }

    a:after {
        content: '';
    }
}
