@media only screen and (min-width: $breakpoint-medium) {
  .command2clipboard__clip {
    position: relative;
    display: inline-block;

    &__content {
      position: absolute;
      z-index: 98;
      left: -500px;
      right: -500px;
      top: -30px;
      font-weight: 300;
      margin: auto;
      display: block;
      text-align: center;
      white-space: nowrap;
    }

    &.zeroclipboard-is-hover .tooltip__content {
      // BEGIN: kadams54: This snippet of CSS is straight from the
      // vanilla theme's tooltip CSS; however, since we use
      // .tip-content instead of tooltip__content, we don't get this CSS
      // from vanilla. Need to follow up with ant to find out why the
      // change from tooltip__content to tip-content was made in a12e88ac.
      position: absolute;
      z-index: 98;
      left: -1000px;
      right: -1000px;
      top: -30px;
      font-weight: 300;
      margin: auto;
      display: block;
      text-align: center;
      white-space: nowrap;
      // END: Copied vanilla CSS.

      &:after {
        display: table;
        z-index: 98;
        margin: auto;
        color: #fff;
        border-radius: 3px;
        background: $black;
        box-shadow: none;
        font-size: 12px;
        content: attr(data-tooltip);
        padding: 4px 6px;
        white-space: nowrap;
        text-align: center;
      }

      &:before {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        content: '';
        border: solid transparent;
        border-width: 5px;
        border-top-color: $black;
      }
    }
  }

  // XXX Ant - Move up to the theme
  .tooltip--large {
    @extend .tooltip;

    &:hover .tooltip__content {
      bottom: 30px;
      top: auto;

      &:after {
        font-size: 0.875rem;
        line-height: 1.5;
        text-align: left;
        padding: 11px 21px;
        display: block;
        max-width: 320px;
        white-space: normal;
      }
    }
  }
}
