<div class="col-4 p-card--highlighted p-card--case-study">
  <div class="p-card__content">
    {% if article.image and article.image.source_url %}
    <div class="p-card__image">
      <a href="/case-studies/{{ article.slug }}">
        {{ article.image.rendered|safe }}
      </a>
    </div>
    {% endif %}
    <h3 class="p-heading--four">
      <a href="/case-studies/{{ article.slug }}">{{ article.title.rendered|safe }}</a>
    </h3>
    {% if not article.image %}
      <p class="u-no-padding--bottom">
        {{ article.excerpt.raw }}
      </p>
    {% endif %}
  </div>
</div>
