<div class="p-strip is-shallow u-no-padding--bottom p-message" id="newsletter=true">
  <div class="row">
    <div class="p-notification--positive">
      <p class="p-notification__response"><span class="p-notification__status">Success:</span> Thank you for
        subscribing!<br>You will begin receiving emails as new content is posted. You may unsubscribe any time by
        clicking the link in the email.</p>
    </div>
  </div>
</div>

<style>
  .p-message {
    display: none
  } 
  
  :target {
    display: block
  }
</style>
