<div class="p-card--highlighted" style="position: sticky; top: 2rem;">
  <hr class="u-hide--medium u-hide--large p-separator" />
  <div class="p-card--newsletter">
    <p class="p-heading--four">Subscribe to our weekly newsletter</p>
    <form action="https://pages.canonical.com/index.php/leadCapture/save" method="post" id="mktoForm_3415">
      <div>
        <label class="u-off-screen" for="Email">Work email:*</label>
        <input class="u-no-margin--bottom" id="Email" placeholder="Work email" name="Email" maxlength="255" type="email" required />
      </div>
      <p>
        <small>In submitting this form, I confirm that I have read and agree to <a href="https://ubuntu.com/legal/data-privacy/newsletter">Canonical’s Privacy Notice</a> and <a href="https://ubuntu.com/legal/data-privacy">Privacy Policy</a>.</small>
      </p>
      <p class="u-no-margin--bottom">
        <input type="hidden" name="Consent_to_Processing__c" value="Yes" />
        <button class="p-button" type="submit">Subscribe now</button>
      </p>
      <input type="hidden" name="formid" value="3415" />
      <input type="hidden" name="lpId" value="" />
      <input type="hidden" name="munchkinId" value="066-EOV-335" />
      <input type="hidden" name="lpurl" value="" />
      <input type="hidden" name="ret" value="{{ request.url}}#newsletter=true" />
      <input type="hidden" name="cr" value="" />
      <input type="hidden" name="kw" value="" />
      <input type="hidden" name="q" value="" />
    </form>
  </div>
</div>
