// XXX Ant: 26.06.2019 - Middot is not responsive to the background colour
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2395

@mixin jaas-p-lists {
  @include jaas-p-inline-list-middot;
}

@mixin jaas-p-inline-list-middot {
  .p-inline-list--middot {
    @at-root .is-dark .p-inline-list__item {
      &::after {
        color: $color-x-light;
        font-size: 2em;
        right: -0.4em;
        top: 0.25em;
      }

      &:hover::after {
        color: $color-x-light;
      }
    }
  }
}
