.row-cli {
  &__commands {
    background: #f7f7f7;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    color: #333333;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1rem;
    line-height: 1rem;
    overflow: hidden;
    padding: 1rem 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (min-width: 767px) {
      font-size: 1.4rem;
      padding: 1.4rem 0.9rem;
    }

    @media only screen and (min-width: 1030px) {
      font-size: 2rem;
      line-height: 2rem;
      padding: 1.2rem 1rem;
    }

    &-list {
      margin-left: 1rem;
      position: relative;

      @media screen and (max-width: 767px) {
        margin-left: 0.25rem;
      }

      &:after {
        background: #333333;
        content: ' ';
        display: inline-block;
        height: 1rem;
        margin-left: 2px;
        vertical-align: text-bottom;
        width: 2px;

        @media only screen and (min-width: 767px) {
          height: 1.4rem;
        }

        @media only screen and (min-width: 1030px) {
          height: 2rem;
        }
      }

      span + span {
        color: #0e8420;
      }

      span + span + span {
        color: #333333;
      }
    }
  }

  &__comments {
    color: #666666;
    font-size: 1.25rem;
    height: 1rem;
    margin-top: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.fade-in {
      opacity: 1;
    }

    @media screen and (max-width: 1030px) {
      font-size: 1rem;
    }
  }
}
