{% extends "_layout.html" %}

{% block title %}Community{% endblock %}
{% block description %}The Juju community provides a strong support network that can help you get going with Juju, Charms and help solve your cloud deployment and scaling challenges. Join in, share your knowledge and help get the word out.{% endblock %}

{% block content %}
<div class="p-strip--light">
  <div class="row">
    <div class="col-6">
      <h1 itemprop="name">Community</h1>
      <p class="p-heading--four" itemprop="description">Pioneers in service modelling. Deploy your solution, charm your software, or discuss your ideas. Contribute to the community and help push the line.</p>
      <p><a href="/community/charmers">Contribute&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-6 u-hide--small u-align--center">
      <img src="/static/img/community/community-hero.svg" alt="Pictogram">
    </div>
  </div>
</div>

<div class="p-strip is-bordered">
  <div class="row">
    <div class="col-6">
      <div class="p-card">
        <h2>OpenStack solutions</h2>
        <div class="p-media-object">
          <img src="/static/img/community/james-page.jpg" alt="James Page's profile picture" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              James Page
            </h3>
            <p class="p-media-object__content">Affiliation: Canonical Ltd</p>
          </div>
        </div>
        <p>James is one of the first Juju charmers in the community and was the original author of the <a href="/openstack">OpenStack charms</a>. His charms allow an initial deployment of a base cloud and allows users to add metering and Landscape afterwards. James is currently working on adding high-availability bundles to this, and resides in Norwich, UK.</p>
        <a href="https://github.com/openstack-charmers/openstack-bundles" class="p-button--positive is-external">Contribute</a>
      </div>
      <div class="p-card">
        <h2>PaaS Solutions</h2>
        <div class="p-media-object">
          <img src="/static/img/community/chris-donati.jpg" alt="Chris Donati's profile picture" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              Chris Donati
            </h3>
            <p class="p-media-object__content">Affiliation: AppScale</p>
          </div>
        </div>
        <p>Chris Donati has been working on improving the <a href="https://jujucharms.com/appscale/precise/1">AppScale platform</a>, which lets you deploy your Google App Engine application on any cloud, public or private. He lives in Santa Barbara, California, where he&rsquo;s been trying to get better at the game of Go.</p>
        <a href="https://jujucharms.com/appscale/precise/1" class="p-button--positive is-external">Contribute</a>
      </div>
    </div>
    <div class="col-6">
      <div class="p-card">
        <h2>Benchmarking solutions</h2>
        <div class="p-media-object">
          <img src="/static/img/community/adam-israel.jpg" alt="Adam Israel's profile picture" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              Adam Israel
            </h3>
            <p class="p-media-object__content">Affiliation: Canonical Ltd</p>
          </div>
        </div>
        <p>Adam is working on benchmarking with Juju, and has published a comprehensive Python library named <a href="https://github.com/juju-solutions/charms.benchmark">charms.benchmark</a> to ease the development of benchmark charms. Adam lives in Southwest Ontario, Canada with his lovely wife and writing partner, three dogs, and more cats than he&rsquo;ll admit to.</p>
        <a href="https://github.com/juju-solutions/charms.benchmark" class="p-button--positive is-external">Contribute</a>
      </div>
      <div class="p-card">
        <h2>Database Solutions</h2>
        <div class="p-media-object">
          <img src="/static/img/community/philip-stoev.jpg" alt="Philip Stoev's profile picture" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              Philip Stoev
            </h3>
            <p class="p-media-object__content">Affiliation: Galera Cluster</p>
          </div>
        </div>
        <p>Philip Stoev is a QA and Release Manager with <a href="https://jujucharms.com/galera-cluster/trusty/0">Galera Cluster</a>. He's worked for more than a decade at Oracle, MariaDB &amp; NuoDB. His database testing framework, the RQG, is widely used in the MySQL ecosystem and won the Application of the Year MySQL Community Award in 2014.</p>
        <a href="https://jujucharms.com/galera-cluster/trusty/0" class="p-button--positive is-external">Contribute</a>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered">
  <div class="row">
    <div class="col-8">
      <h4>Or talk to us about starting your own &ldquo;subcommunity&rdquo;, there are hundreds of solutions available; want to be that champion?</h4>
      <p><a href="mailto:jorge.castro@canonical.com">Get in touch&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-4 u-hide--small u-align--center">
      <img src="/static/img/community/picto-community.svg" alt="" />
    </div>
  </div>

</div>

<div class="p-strip--dark">
  <div class="row">
    <div class="col-6">
      <h2>Charm and bundle cards</h2>
      <p class="intro">Generate cards for your charms and bundles and embedded them into blog posts and websites with a single line of code.</p>
      <p><a href="/community/cards" class="p-link--inverted">Create card&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-6">
      <img src="https://assets.ubuntu.com/v1/73fe9909-Card.png" alt="mysql charm and apache mapreduce bundle cards" />
    </div>
  </div>
</div>

<div class="p-strip">
	<div class="row">
		<div class="col-8">
      <h2>Latest from the blog</h2>
      <div id="blog-feed"></div>
      <p><a class="p-link--external" href="https://blog.ubuntu.com/topics/juju">View all blog posts&nbsp;&rsaquo;</a></p>
    </div>
  </div>
</div>

<div class="p-strip--light">
  <div class="row">
    <div class="col-12">
      <h2>Juju partner programmes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>Charm Partner Programme</h4>
      <p>The Charm Partner Programme will help you to get your solution into the Charm Store, giving new benefits to your current customers, as well as accessing new potential users.</p>
      <p><a href="/community/partners">Learn more&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-6">
      <h4>OpenStack Interoperability Lab</h4>
      <p>The Ubuntu OpenStack Interoperability Lab (OIL) is an integration lab where Canonical tests our cloud partners products in countless Ubuntu OpenStack configurations, over and over again.</p>
      <p><a href="/community/partners/#oil-for-apps">Learn more&nbsp;&rsaquo;</a></p>
    </div>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2>Support</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h5>Discourse</h5>
      <p>Join the Juju community on our <a href="https://discourse.jujucharms.com">Discours forum</a>.</p>
    </div>
    <div class="col-4">
      <h5>Ask Ubuntu</h5>
      <p>Find out more, get help or ask any question at <a class="p-link--external" href="https://askubuntu.com/questions/tagged/juju">Ask Ubuntu</a>.</p>
    </div>blog-fee
    <div class="col-4">
      <h5>Social</h5>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="https://plus.google.com/106305712267007929608/posts">
            <img src="https://assets.ubuntu.com/v1/ff889486-google-social.svg" alt="Google+ icon">
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://www.twitter.com/ubuntucloud">
            <img src="https://assets.ubuntu.com/v1/6bfc6710-twitter-social.svg" alt="Twitter icon">
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://www.facebook.com/ubuntucloud">
            <img src="https://assets.ubuntu.com/v1/ae5e5732-facebook-social.svg" alt="Facebook logo">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
