{% extends "_layout.html" %}

{% block title %}Juju experts{% endblock %}
{% block description %}Canonical partners with selected companies to provide specialised supported solutions.{% endblock %}

{% block content %}
<div class="p-strip--image is-light u-no-padding--bottom" style="background-image:url('https://assets.ubuntu.com/v1/c883127d-download.svg')">
  <div class="row">
    <div class="col-8">
      <span class="expert__strap">Juju Expert Partners</span>
      <h1>Managed solutions from Canonical’s partner network</h1>
      <h2 class="p-heading--four">Canonical partners with selected companies to provide specialised supported solutions.</h2>
    </div>
    <div class="col-4 p-card has-strap">
      <div class="expert__strap">
        Become a partner
      </div>
      <h3 class="p-heading--four" style="padding-top:2rem">We'd love to have you join us as a partner.</h3>
      <p>If you are an independent software vendor or bundle author, it's easy to apply. You can find out more below.</p>
      <p>We can't wait to talk.</p>
      <a href="mailto:juju-experts@canonical.com" class="p-button--positive u-no-margin--bottom">Join us&hellip;</a>
    </div>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2 class="expert__title">
        Partners supported
      </h2>
    </div>
  </div>
  <div class="row">
    {% for expert_id, expert in context.experts.items() %}
      <div class="col-4">
        <div class="p-card p-card--experts">
          <a href="{{ expert.page_url }}" class="p-link--soft">
            <div class="expert__logo-wrap">
                <img class="expert__card-logo" src="{{ expert.logo }}" alt="{{ expert.name }} logo" />
              </div>
              <hr class="u-sv1">
              <ul class="p-list">
                {% for highlight in expert.highlights %}
                <li class="p-list__item is-ticked">{{ highlight|safe }}</li>
                {% endfor %}
              </ul>
            </a>
          </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
