{% extends "_layout.html" %}

{% block title %}JAAS - Juju as a Service{% endblock %}
{% block description %}Juju is an open source, application and service modelling tool from Ubuntu that helps you deploy, manage and scale your applications on any cloud.{% endblock %}

{% block content %}

  <div class="p-strip--image is-light" style="overflow:hidden;background-image:url('https://assets.ubuntu.com/v1/cf344c3f-bg.svg')">
    <div class="row" style="position:relative">
      <div class="col-6">
        <div class="p-strip is-shallow u-no-padding--top u-no-padding--bottom">
          <h1>Big software, tamed!</h1>
          <h4>Juju simplifies how you configure, scale and operate today&rsquo;s complex software.</h4>
          <h4>Juju deploys everywhere: to public or private clouds.</h4>
        </div>
        <div class="p-strip is-shallow u-no-padding--bottom">
          <div class="p-card homepage-hero-card">
            <div class="row">
              <div class="col-3">
                <ul class="p-list">
                  <li><span class="p-muted-heading">Juju in action</span></li>
                  <li><h5>Production grade Kubernetes</h5></li>
                </ul>
              </div>
              <div class="col-3">
                <ul class="p-list">
                  <li class="p-list__item is-ticked">Scalable 11 node cluster</li>
                  <li class="p-list__item is-ticked">Latest Upstream version</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='canonical-kubernetes') }}" class="p-button--positive">Deploy Kubernetes</a>
              </div>
              <div class="col-3">
                <a href="{{ url_for('jaasai.jaas') }}#deploy-kubernetes-in-minutes">Or watch the video
                  <img class="p-icon" src="{{ static_url('img/home/play-icon.svg') }}" alt="Play icon">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 u-vertically-center homepage-hero-image-wrap">
        <img
          src="{{ static_url('img/home/home-promo-bundle.svg') }}"
          alt="Pictogram of bundle"
          class="homepage-hero-image"
        />
      </div>
    </div>
  </div>

  <div class="p-strip is-bordered homepage-hero-promos">
    <div class="row">
      <div class="u-equal-height">
        <div class="col-4 has-strap">
          {% include "shared/store-card/_random.html" %}
        </div>

        <div class="col-4 is-flex">
          <h5 class="u-no-padding--top">Or build it yourself</h5>
          <p>Create your own solution in the GUI or browse the store to get started</p>
          <div class="card-wrap">
            <img src="{{ static_url('img/home/build-yourself.png') }}" alt="Build it yourself example">
          </div>
          <p><a href="{{ external_urls.gui }}" class="p-button--neutral" style="margin-top:5px">Start a new model</a></p>
        </div>

        <div class="col-4">
          <h5 class="u-no-padding--top">JAAS is Juju as a service</h5>
          <p>Managed Juju infrastructure, hosted by Canonical, the makers of Ubuntu.</p>
          <div class="p-card u-align--center">
            <img style="padding:1rem 0" src="{{ static_url('img/home/jaas-black-orange-hz-hex.svg') }}" alt="JAAS logo">
          </div>
          <a href="{{ url_for('jaasai.jaas') }}" class="p-button--neutral" style="margin-top:-6px">About JAAS</a>
        </div>

      </div>
    </div>
  </div>

  <div class="p-strip is-bordered">
    <div class="row">
      <div class="col-12">
        <h2>Juju at your command</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row-cli__commands">$<span class="row-cli__commands-list js-cli"></span></div>
        <div class="row-cli__comments js-cli-comments"></div>
      </div>
    </div>
  </div>

  <script src="{{ static_url('js/cli-typer.js') }}"></script>
  <script>
    window.app.cliTyper(
      document.querySelector('.js-cli'),
      document.querySelector('.js-cli-comments')
    );
  </script>

  <div class="p-strip is-bordered">
    <div class="row p-divider">
        <div class="col-4 p-divider__block">
          <h2>Choose</h2>
          <p><b>Bundles</b> are collections of charms that link services together, so you can deploy whole chunks of infrastructure in one go.</p>
          <ul class="p-list icon-list">
            <li class="p-list__item">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='openstack-base') }}">
                <img src="{{ static_url('img/home/openstack-base.svg') }}" alt="Openstack Base icon" />
                <span class="icon-list__title">
                  OpenStack Base&nbsp;&rsaquo;
                </span>
              </a>
            </li>
            <li class="p-list__item">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='canonical-kubernetes') }}">
                <img src="{{ static_url('img/home/canonical-kubernetes.svg') }}" alt="Canonical Kubernetes icon" />
                <span class="icon-list__title">
                  Canonical Kubernetes&nbsp;&rsaquo;
                </span>
              </a>
            </li>
            <li class="p-list__item">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='hadoop-spark') }}">
                <img src="{{ static_url('img/home/hadoop-spark.svg') }}" alt="Hadoop Spark icon" />
                <span class="icon-list__title">
                  Hadoop Spark&nbsp;&rsaquo;
                </span>
              </a>
            </li>
          </ul>
          <p><b>Charms</b> contain scripts that simplify the deployment and management of a service.</p>
          <ul class="p-list icon-list">
            <li class="p-list__item">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='postgresql') }}">
                <img width="52" src="{{ static_url('img/home/postgresql-circle.svg') }}" alt="Postgresql icon" />
                <span class="icon-list__title">
                  Postgresql&nbsp;&rsaquo;
                </span>
              </a>
            </li>
            <li class="p-list__item">
              <a href="{{ url_for('jaasstore.user_entity', username='prometheus-charmers', charm_or_bundle_name='prometheus') }}">
                <img width="52" src="{{ static_url('img/home/prometheus-circle.svg') }}" alt="Prometheus" />
                <span class="icon-list__title">
                  Prometheus&nbsp;&rsaquo;
                </span>
              </a>
            </li>
            <li class="p-list__item">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='elasticsearch') }}">
                <img width="52" src="{{ static_url('img/home/elasticsearch-icon.svg') }}" alt="Elasticsearch" />
                <span class="icon-list__title">
                  Elasticsearch&nbsp;&rsaquo;
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-4 p-divider__block">
          <h2 class="row--stages__title">Model</h2>
          <p>With Juju, relationships between linked charms are formed automatically.</p>
          <p class="align-center"><img src="{{ static_url('img/home/model-canvas.png') }}" alt="" srcset="{{ static_url('img/home/model-canvas-2x.png') }} 2x" /></p>
          <p>Easily configure charms via the inspector.</p>
          <p class="align-center"><img src="{{ static_url('img/home/model-config.png') }}" alt="" srcset="{{ static_url('img/home/model-config-2x.png') }} 2x" /></p>
        </div>
        <div class="col-4 p-divider__block">
          <h2 class="row--stages__title">Deploy</h2>
          <p>Deploy and redeploy to all major public clouds or locally on your own hardware.</p>
          <p class="align-center"><img src="{{ static_url('img/home/deploy-logos.png') }}" alt="" srcset="{{ static_url('img/home/deploy-logos-2x.png') }} 2x" /></p>
          <p>Monitor, maintain and scale on demand.</p>
          <p class="align-center"><img src="{{ static_url('img/home/deploy-new-units.png') }}" alt="" srcset="{{ static_url('img/home/deploy-new-units-2x.png') }} 2x" /></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="u-align-text--center"><a href="{{ url_for('jaasstore.store') }}" class="p-button--neutral">Browse the store</a></p>
        </div>
      </div>
    </div>

  <div class="p-strip">
    <div class="row">
      <div class="col-12">
        <h2>Why use Juju?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6 u-align-text--center">
        <img src="{{ static_url('img/home/why-use-juju-diagram-left.svg') }}" />
      </div>
      <div class="col-6 u-align-text--center">
        <img src="{{ static_url('img/home/why-use-juju-diagram-right.svg') }}" />
      </div>
    </div>
  </div>
  <div class="p-strip is-shallow is-bordered">
    <div class="row">
      <div class="col-8">
        <p>Whether it involves <a href="{{ url_for('jaasai.kubernetes') }}">deep learning</a>, <a href="{{ url_for('jaasai.containers') }}">container orchestration</a>, <a href="{{ url_for('jaasai.big_data') }}">real-time big data</a> or <a href="{{ url_for('jaasai.openstack') }}">stream processing</a>, big software needs operations to be open source and automated.</p>
        <p>Juju is the best way to encapsulate all the ops knowledge required to automate the behaviour of your application.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="u-align-text--center"><a href="{{ url_for('jaasai.how_it_works') }}" class="p-button--neutral">How it works</a></p>
      </div>
    </div>
  </div>

<div class="p-strip is-bordered">
  <div class="row">
    <div class="col-12">
      <h2>Join the movement</h2>
    </div>
  </div>
  <div class="row p-divider">
    <div class="col-4 p-divider__block">
      <h4>Connect</h4>
      <p>Join the Juju community on our <a href="{{ external_urls.discourse }}">Discourse forum</a>.</p>
    </div>
    <div class="col-4 p-divider__block">
      <h4>Collaborate</h4>
      <div>
        <div class="p-heading-icon">
          <div class="p-heading-icon__header">
            <img class="p-heading-icon__img" src="{{ static_url('img/logos/github-logo.svg') }}" alt="Github logo">
            <h3 class="p-heading-icon__title">
              <a href="https://github.com/juju">
                Juju on Github
              </a>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 p-divider__block">
      <h4>Ask the community</h4>
      <p>Find out more, get help or ask any question at <a class="p-link--external" href="{{ external_urls.askubuntu }}">Ask Ubuntu</a></p>
    </div>
  </div>
</div>

  <div class="p-strip u-no-padding--bottom">
    <div class="row">
      <div class="col-12">
        <h2>What people are saying about Juju</h2>
      </div>
    </div>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <div class="col-2">
        <img src="{{ static_url('img/logos/spicule.png') }}" alt="Spicule logo" />
      </div>
      <div class="col-10">
        <blockquote class="p-pull-quote">
          <p>Using the modelling ethos brought by Juju allows me to quickly run big data applications in a multitude of places.</p>
          <p>Be it locally on my laptop, on bare metal or in the Cloud, Juju lets me reuse the same models and code without changing any aspects of my deployment.</p>
          <cite class="p-pull-quote__citation">Tom Barber<br />CTO<br />Spicule LTD</cite>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <div class="col-2">
        <img src="{{ static_url('img/logos/ghent-logo.svg') }}" alt="Ghent logo" />
      </div>
      <div class="col-10">
        <blockquote class="p-pull-quote">
          <p>Juju enables you to encapsulate each different part of your infrastructure and lets everything talk to each
            other.</p>
          <p>So if you have a web server that&rsquo;s managed by Chef and a database that&rsquo;s deployed by a Docker
            container, you can have the web server talk to the database and the relations between these two very easily.</p>
          <cite class="p-pull-quote__citation">Merlijn Sebrechts<br />Ph.D. researcher<br />University Of Ghent</cite>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="p-strip is-shallow is-bordered">
    <div class="row">
      <div class="col-2">
        <img src="{{ static_url('img/logos/epam.svg') }}" alt="Epam logo" />
      </div>
      <div class="col-10">
        <blockquote class="p-pull-quote">
          <p>Juju acts as a thin layer on top of your infrastructure that allows all your operational code to talk to
            each other.</p>
          <p>And because of this communication layer, a lot of the problems that conventional configuration management
            systems have just don&rsquo;t exist anymore.</p>
          <cite class="p-pull-quote__citation">Konstantin Boudnik<br />Chief Technologist Bigdata, Open Source Fellow<br />EPAM
            Systems</cite>
        </blockquote>
      </div>
    </div>
  </div>

<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2 class="p-muted-heading u-align-text--center">Users and contributors</h2>
      <ul class="p-inline-images homepage-logos">
        <li class="p-inline-images__item">
          <img alt="ubuntu" src="https://assets.ubuntu.com/v1/9c911225-2018-logo-ubuntu.svg">
        </li>
        <li class="p-inline-images__item">
          <img alt="Deutsche Telekom" src="https://assets.ubuntu.com/v1/d199354d-2018-logo-deutsche-telekom.svg">
        </li>
        <li class="p-inline-images__item">
          <img alt="IBM" src="https://assets.ubuntu.com/v1/9b1fe97b-2018-logo-IBM.svg">
        </li>
        <li class="p-inline-images__item">
          <img alt="Intel" src="https://assets.ubuntu.com/v1/94ea495b-2018-logo-Intel.svg">
        </li>
        <li class="p-inline-images__item">
          <img alt="Microsoft" src="https://assets.ubuntu.com/v1/6d027c12-2018-logo-Microsoft-Azure.svg">
        </li>
        <li class="p-inline-images__item">
          <img alt="Cisco" src="https://assets.ubuntu.com/v1/8a4d26de-2018-logo-cisco.svg">
        </li>
        <li class="p-inline-images__item">
          <img alt="China Telecom" src="https://assets.ubuntu.com/v1/34a1f30e-2018-logo-china-telecom.svg">
        </li>
        <li class="p-inline-images__item">
          <img alt="NEC" src="https://assets.ubuntu.com/v1/df2082a4-2018-logo-NEC.svg">
        </li>
        <li class="p-inline-images__item">
          <img alt="HP" src="https://assets.ubuntu.com/v1/7ccf63c3-2018-logo-hp.svg">
        </li>
        <li class="p-inline-images__item">
          <img alt="Yahoo Japan" src="https://assets.ubuntu.com/v1/cf17b55e-2018-logo-yahoo-japan.svg">
        </li>
        <li class="p-inline-images__item">
          <img alt="Verizon" src="https://assets.ubuntu.com/v1/198d7b96-2018-logo-verizon.svg">
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
