{% extends "_layout.html" %}

{% set active_section = "about" %}

{% block title %}JAAS{% endblock %}
{% block description %}JAAS gives you Juju, as a service{% endblock %}

{% block content %}
<div class="p-strip--suru-bottom has-accent is-dark to-white" style="background-size: auto 100%, cover; background-position: right center; background-image: url('https://assets.ubuntu.com/v1/a9dab044-suru-right.svg'), linear-gradient(266deg, #044f66, #022935)">
  <div class="row">
    <div class="col-6">
      <h1>JAAS gives you Juju, as a service</h1>
      <h2 class="p-heading--four">JAAS is the best way to quickly model and deploy your cloud-based applications. Concentrate on your software and solutions with a fully managed Juju infrastructure.</h2>
      <div>
        <a href="/models" class="p-button--positive">Your models</a>
        <a href="{{ url_for('jaasstore.store') }}" class="p-button--neutral" rel="nofollow">Visit the store</a>
      </div>
    </div>
    <div class="col-6 u-vertically-center u-align--center u-hide--small">
      {{
        image(
          url="https://assets.ubuntu.com/v1/e7ae18b9-jaas-logos.svg",
          alt="",
          width="294",
          height="212",
          hi_def=True,
          loading="eager",
        ) | safe
      }}
    </div>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <div class="col-6">
      <h3 class="p-heading--four">Hosted Juju controllers</h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Managed by Canonical, the company behind Ubuntu</li>
        <li class="p-list__item is-ticked">Highly-available, secure, multi-region infrastructure</li>
        <li class="p-list__item is-ticked">24/7 monitoring and alerting</li>
      </ul>
      <h3 class="p-heading--four">Share and collaborate</h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Identity management across all models</li>
        <li class="p-list__item is-ticked">Read only mode available</li>
      </ul>
      <h3 class="p-heading--four">Deploy to public clouds</h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Use your existing credentials to deploy to any cloud</li>
      </ul>
    </div>
    <div class="col-6">
      <h3 class="p-heading--four">Pre-configured open source software</h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">All the ops knowledge required to automate the behaviour of your application</li>
        <li class="p-list__item is-ticked">Reusable and repeatable workloads</li>
        <li class="p-list__item is-ticked">Portable solutions across clouds</li>
      </ul>
      <h3 class="p-heading--four">One view of all clouds and models</h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">All models shared and owned by you in one place</li>
        <li class="p-list__item is-ticked">Monitor the status of your models at a glance</li>
      </ul>
    </div>
  </div>
</div>

<div class="p-strip--half-and-half">
  <div class="row">
    <div class="col-5">
      <h2 id="deploy-kubernetes-in-minutes">Deploy Kubernetes in minutes</h2>
      <p>In partnership with Google, Canonical delivers a ‘pure K8s’ experience, tested across a wide range of clouds and integrated with modern metrics and monitoring.</p>
      <p>The <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='canonical-kubernetes') }}">Charmed Distribution Of Kubernetes</a> is for full production usage. Start using Kubernetes today.</p>
      <div>
        <a href="{{ url_for('jaasai.kubernetes') }}" class="p-button--neutral">Learn more</a>
        <a href="{{ external_urls.gui }}?deploy-target=bundle/canonical-kubernetes-21" class="p-button--neutral">Launch Kubernetes</a>
      </div>
    </div>
    <div class="col-7 u-align--center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/c45bb1aa-jaas5.gif",
          alt="Kubernetes overview GIF",
          height="354",
          width="630",
          hi_def=True,
          attrs={"class": "p-image--shadowed"},
          loading="lazy"
        ) | safe
      }}
    </div>
  </div>
</div>

<div class="p-strip is-bordered">
  <div class="row">
    <div class="col-8">
      <h3 class="p-heading--two" style="font-weight: 100;">
        Getting started
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <ul class="p-stepped-list u-no-margin--left">
        <li class="p-stepped-list__item">
          <h4 class="p-stepped-list__title">
            Create an Ubuntu Single Sign On identity
          </h4>
          <p class="p-stepped-list__content">JAAS uses Ubuntu SSO for identity management, so if you don’t already have an account create one at <a href="https://login.ubuntu.com/">https://login.ubuntu.com</a></p>
        </li>
        <li class="p-stepped-list__item">
          <h4 class="p-stepped-list__title">
            Get cloud credentials from your provider
          </h4>
          <p class="p-stepped-list__content">JAAS deploys your workload to your
          cloud of choice, so you must provide your cloud credentials for JAAS
          to create and access virtual machines on your behalf. We recommend
          that users generate a new set of credentials exclusively for use with
          JAAS via the public cloud&apos;s IAM tools. For instructions on getting
          your credentials see our <a href="{{ external_urls.docs }}/credentials" class="p-link--external">credentials documentation page.</a></p>
        </li>
        <li class="p-stepped-list__item">
          <h4 class="p-stepped-list__title">
            Start modelling
          </h4>
          <div class="p-stepped-list__content">
          <h5>On the web</h5>
          <p>Go to <a href="{{ external_urls.gui }}">{{ external_urls.gui }}</a></p>
          <h5>On the command line:</h5>
          <h6>1. Install</h6>
          <p>If you haven&apos;t installed Juju yet follow <a href="{{ external_urls.docs }}/getting-started" class="p-link--external">these instructions</a> to get it running on your system.</p>
          <h6>2. Register</h6>
          <p>Register the JAAS controller with:</p>
          <p>
            <pre><code>juju register jimm.jujucharms.com</code></pre>
          </p>
          <p>With Juju 2.2 beta and later, registration is not required. Simply:</p>
          <p>
            <pre><code>juju login jaas</code></pre>
          </p>
          </div>
        </li>
        <li class="p-stepped-list__item">
          <h4 class="p-stepped-list__title">
            Find solutions to deploy
          </h4>
          <p class="p-stepped-list__content">Hundreds of popular cloud-oriented applications such as Kubernetes, Apache Hadoop, Big Data solutions and OpenStack are available in the store as charms and bundles. New ones are added nearly every day and are regularly reviewed and updated.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p><a href="{{ url_for('jaasstore.store') }}" class="p-button--neutral">Visit the store</a></p>
  </div>
</div>

<div class="p-strip has-image-bg" style="background: no-repeat top right 0 url('https://assets.ubuntu.com/v1/49123baf-openstack-bundle-background.png');">
  <div class="row">
    <div class="col-6">
      <h2>Alternatively, you can test and deploy models on your own hardware</h2>
      <p>Use Juju for private cloud infrastructure or deploying onto bare metal, including:</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">MAAS</li>
        <li class="p-list__item is-ticked">Openstack</li>
        <li class="p-list__item is-ticked">LXD</li>
      </ul>
      <p>You can also deploy to public clouds including Amazon Web Services, Google Cloud Platform, Microsoft Azure, Digital Ocean and Joyent.</p>
      <a href="{{ external_urls.docs }}/getting-started" class="p-button--neutral p-link--external">Install Juju</a>
    </div>
  </div>
</div>

{% endblock content %}
