{% extends "_layout.html" %}

{% block title %}Kubernetes{% endblock %}
{% block description %}Operate the latest Kubernetes, from the experts behind Ubuntu and the Kubernetes community.{% endblock %}

{% block content %}
<div class="p-strip--image is-dark"
  style="background-image:url('https://assets.ubuntu.com/v1/bd1d8c1d-juju-suru-blue-background.png')">
  <div class="row">
    <div class="u-equal-height">
      <div class="col-6">
        <h1>Production Grade Kubernetes<sup>&reg;</sup></h1>
        <h2 class="p-heading--three">The open-source orchestration system for cloud native infrastructures.</h2>
        <p>The easiest way to automate the deployment, scaling, lifecycle and management of your applications. Operate the latest Kubernetes, from the experts behind Ubuntu and the Kubernetes community.</p>
      </div>
      <div class="col-6 u-vertically-center u-align--center">
        {{
          image(
            url="https://assets.ubuntu.com/v1/96d35aa4-certified-kubernetes-logo.svg",
            alt="Kubernetes logo",
            width="230",
            height="309",
            hi_def=True,
            attrs={"class": "u-hide--small"},
            loading="eager",
          ) | safe
        }}
      </div>
    </div>
  </div>
</div>

<div class="p-strip">
    <div class="row">
      <div class="col-12">
        <h2 class="p-muted-heading u-align-text--center">Works anywhere you run Ubuntu</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="p-inline-images">
          <li class="p-inline-images__item">
            <img loading="eager" class="p-inline-images__logo" alt="AWS" src="https://assets.ubuntu.com/v1/39002345-AmazonWebservices_Logo.svg" />
          </li>
          <li class="p-inline-images__item">
            <img loading="eager" class="p-inline-images__logo" alt="Azure" src="https://assets.ubuntu.com/v1/515658c0-microsoft-azure-763dcdb6a8a3facccca6f538a909f1ec.svg" />
          </li>
          <li class="p-inline-images__item">
            <img loading="eager" class="p-inline-images__logo" alt="Google Cloud Platform" src="https://assets.ubuntu.com/v1/410984a3-Google-cloud-platform-stacked.svg" />
          </li>
          <li class="p-inline-images__item">
            <img loading="eager" class="p-inline-images__logo" alt="vmware" src="https://assets.ubuntu.com/v1/3006b8c7-vmware.svg" />
          </li>
          <li class="p-inline-images__item">
            <img loading="eager" class="p-inline-images__logo" alt="lxd" src="https://assets.ubuntu.com/v1/fe9b270c-lxd_black-orange_hex_su.svg" />
          </li>
          <li class="p-inline-images__item">
            <img loading="eager" class="p-inline-images__logo" alt="openstack" src="https://assets.ubuntu.com/v1/7934d19b-OpenStack_Logo_Horizontal.svg" />
          </li>
          <li class="p-inline-images__item">
            <img loading="eager" class="p-inline-images__logo" alt="joyent" src="https://assets.ubuntu.com/v1/529822fd-joyent_logo.svg" />
          </li>
          <li class="p-inline-images__item">
            <img loading="eager" class="p-inline-images__logo" alt="maas" src="https://assets.ubuntu.com/v1/1e783fd8-maas_black-orange_hex.svg" />
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="p-strip--light is-shallow u-no-margin--bottom">
  <div class="row">
    <div class="col-12">
      <h2>Best practices across core components</h2>
    </div>
  </div>
</div>

<div class="p-strip--light is-bordered u-no-margin--top u-no-padding--top">
    <div class="row p-divider">
      <div class="col-4 p-divider__block">
        <div class="p-heading-icon">
          <div class="p-heading-icon__header">
            <img loading="lazy" class="p-heading-icon__img" src="{{ external_urls.charmstore }}~containers/kubernetes-master/icon.svg" alt="Kubernetes icon">
            <h3 class="p-heading-icon__title">Latest upstream Kubernetes</h3>
          </div>
        </div>
        <ul>
          <li class="p-list__item">TLS encryption between machines and clients</li>
          <li class="p-list__item">High availability and load balanced control plane</li>
          <li class="p-list__item">In-place upgrades for Kubernetes</li>
          <li class="p-list__item">Dynamic scaling of masters and nodes</li>
          <li class="p-list__item">Choice of SDN: flannel, calico, weave</li>
        </ul>
      </div>
      <div class="col-4 p-divider__block">
        <div class="p-heading-icon">
          <div class="p-heading-icon__header">
            <img loading="lazy" class="p-heading-icon__img" src="{{ external_urls.charmstore }}~containers/etcd/icon.svg" alt="etcd icon">
            <h3 class="p-heading-icon__title">etcd</h3>
          </div>
        </div>
        <ul>
          <li class="p-list__item">Distributed key value store</li>
          <li class="p-list__item">In-place upgrades</li>
          <li class="p-list__item">Dynamic scaling</li>
          <li class="p-list__item">TLS encryption</li>
        </ul>
      </div>
      <div class="col-4 p-divider__block">
        <div class="p-heading-icon">
          <div class="p-heading-icon__header">
            <img loading="lazy" class="p-heading-icon__img" src="{{ external_urls.charmstore }}~containers/easyrsa/icon.svg" alt="EasyRSA icon">
            <h3 class="p-heading-icon__title">EasyRSA</h3>
          </div>
        </div>
        <ul>
          <li class="p-list__item">Certificate authority</li>
          <li class="p-list__item">Serves signed certificates to the requesting units of the cluster</li>
        </ul>
      </div>
    </div>
  </div>

<div class="p-strip--light">
  <div class="row">
    <div class="col-12">
      <h2>Portable, validated, scalable</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">Contains all the operational tooling needed to manage a production cluster &mdash; including upgrades and elastic scaling</li>
        <li class="p-list__item is-ticked">Upgrade, pause and resume, snapshot and restore your nodes</li>
        <li class="p-list__item is-ticked">Extensible and self-healing system</li>
        <li class="p-list__item is-ticked">Tested on a wide range of infrastructures so you can avoid cloud lock-in and federate workloads between clouds or on-premise</li>
        <li class="p-list__item is-ticked">Optimised portability across all environments</li>
        <li class="p-list__item is-ticked">100% validated against the Kubernetes Conformance Tests</li>
      </ul>
    </div>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <ol class="p-stepped-list u-no-margin--left">
      <li class="p-stepped-list__item">
        <h3 class="p-stepped-list__title">
          Pick your cluster from production-grade blueprints
        </h3>
        <div class="p-stepped-list__content">
          <div class="col-6">
            <div class="pictogram-bg">
              <object type="image/svg+xml" data="{{ external_urls.charmstore }}bundle/kubernetes-core-24/diagram.svg" height="300" class="cluster-card__image" title="Kubernetes cluster overview"></object>
            </div>
            <h3><a href="{{ url_for('jaasstore.details', charm_or_bundle_name='kubernetes-core') }}">Staging cluster&nbsp;&rsaquo;</a></h3>
            <div class="row">
              <div class="col-4">
                <p>Start with a Kubernetes cluster of two machines &mdash; one master node and one worker node.</p>
              </div>
              <div class="col-2">
                <a href="{{ external_urls.gui }}?deploy-target=bundle/kubernetes-core" ref="nofollow" class="cluster-card__cta p-button--positive">Deploy</a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="pictogram-bg">
              <object type="image/svg+xml" data="{{ external_urls.charmstore }}bundle/canonical-kubernetes-30/diagram.svg" height="300" class="cluster-card__image" title="Production cluster overview"></object>
            </div>
            <h3><a href="{{ url_for('jaasstore.details', charm_or_bundle_name='canonical-kubernetes') }}">Production cluster&nbsp;&rsaquo;</a></h3>
            <div class="row">
              <div class="col-4">
                <p>Progress to a highly available Kubernetes cluster &mdash; 2 masters, 3 workers, 3 etc nodes and API load balancer.</p>
              </div>
              <div class="col-2">
                <a href="{{ external_urls.gui }}?deploy-target=bundle/canonical-kubernetes" ref="nofollow" class="cluster-card__cta p-button--positive">Deploy</a>
              </div>
            </div>
          </div>
        </div>

        <div class="p-strip--image is-dark"
          style="padding:1rem;margin:3rem 0;background:url(https://assets.ubuntu.com/v1/6d569be0-deep-learning-cluster.png) #086EE0">
          <div class="row">
            <div class="u-equal-height">
              <div class="col-9">
                <h3>Deep Learning cluster</h3>
                <p>Accelerate Deep Learning workloads by adding GPUs at scale, with totally automated deployment.</p>
                <a href="https://medium.com/intuitionmachine/kubernetes-gpus-tensorflow-8696232862ca" class="p-button--neutral">
                  Start GPU tutorial
                </a>
              </div>
              <div class="col-3 u-align--center u-vertically-center">
                {{
                  image(
                    url="https://assets.ubuntu.com/v1/ed4ca9fa-nvidia-logo-white.svg",
                    alt="Nvidia logo",
                    width="111",
                    height="82",
                    hi_def=True,
                    loading="lazy",
                  ) | safe
                }}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="p-card u-equal-height">
            <div class="col-8">
              <h3>Or try it on a single machine</h3>
              <p>Get Kubernetes up and running on a single system with LXD, or a public cloud such as AWS, GCE or Azure.</p>
            </div>
            <div class="col-4 u-align--center u-vertically-center">
              <a href="http://conjure-up.io/" class="p-button--neutral">conjure-up</a>
            </div>
          </div>
        </div>
      </li>
      <li class="p-stepped-list__item">
        <h3 class="p-stepped-list__title">
          Add extra components
        </h3>
        <div class="p-stepped-list__content">
          <div class="row">
            <div class="col-4">
              <div class="p-card">
                <div class="p-heading-icon">
                  <div class="p-heading-icon__header">
                    <img loading="lazy" class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/804a5808-prometheus-circle.svg" alt="Prometheus icon">
                    <h3 class="p-heading-icon__title">
                      <a href="{{ url_for('jaasstore.user_entity', username='prometheus-charmers', charm_or_bundle_name='prometheus', series_or_version=14) }}">
                        Prometheus&nbsp;&rsaquo;
                      </a>
                    </h3>
                  </div>
                </div>
                <p>Monitor, profile and debug your applications.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="p-card">
                <div class="p-heading-icon">
                  <div class="p-heading-icon__header">
                    <img loading="lazy" class="p-heading-icon__img" src="{{ external_urls.charmstore }}trusty/elasticsearch/icon.svg" alt="ElasticSearch icon">
                    <h3 class="p-heading-icon__title">
                      <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='elasticsearch', series_or_version='trusty', version=19) }}">
                        ElasticSearch&nbsp;&rsaquo;
                      </a>
                    </h3>
                  </div>
                </div>
                <p>Centralise all logs and metrics and get awesome dashboards for your cluster.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="p-card">
                <div class="p-heading-icon">
                  <div class="p-heading-icon__header">
                    <img loading="lazy" class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/636b94fd-ceph.svg" alt="Ceph icon">
                    <h3 class="p-heading-icon__title">
                      <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='ceph', series_or_version=271) }}">
                        Ceph&nbsp;&rsaquo;
                      </a>
                    </h3>
                  </div>
                </div>
                <p>Run stateful applications on bare metal or private clouds.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="p-stepped-list__item">
        <h3 class="p-stepped-list__title">
          Put your cluster to work
        </h3>
        <div class="p-stepped-list__content">
          <div class="row p-divider">
            <div class="col-4 p-divider__block">
              <h4><a href="https://medium.com/@samnco/how-we-commoditized-gpus-for-kubernetes-7131f3e9231f" class="p-link--external">The easy way to commoditise GPUs for Kubernetes</a></h4>
              <p>Setting up your Deep Learning framework is now easier than ever with the new GPU integration of the Charmed Distribution of Kubernetes<a href="#kubernetes-notice"><sup>*</sup></a>. Perfect for production grade, on bare metal or in the cloud.</p>
            </div>
            <div class="col-4 p-divider__block">
              <h4><a href="https://blog.ubuntu.com/2017/03/27/job-concurrency-in-kubernetes-lxd-cpu-pinning-to-the-rescue" class="p-link--external">Build a transcoding platform in minutes</a></h4>
              <p>The Charmed Distribution of Kubernetes enables automatic discovery of GPU devices. Work as well with LXD to get a fine grain control mechanism to orchestrate video workflows and maximise the throughput of your clusters.</p>
            </div>
            <div class="col-4 p-divider__block">
              <h4><a href="https://github.com/deis/workflow" class="p-link--external">Transform your solution into a private PaaS</a></h4>
              <p>Kubernetes can be complemented by another layer to transform it into a PaaS, to maximise the proficiency of the development teams. It will provide complete freedom to deploy and manage your applications.</p>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>

<div class="p-strip--light">
    <div class="row">
      <div class="col-6">
        <div class="p-card--highlighted">
          <div class="p-card__header">
            <h3>
              Kubernetes support plans
            </h3>
            <p>
              from <span class="p-heading--two">$75</span>/ year per node
            </p>
          </div>
          <p>
            Canonical offers K8s security maintenance and support with Ubuntu Advantage for Infrastructure with <strong>Essential</strong>, <strong>Standard</strong> and <strong>Advanced</strong> subscriptions.
          </p>
          <ul class="p-list">
            <li class="p-list__item is-ticked">Phone and web ticket support, with 10/5 and 24/7 coverage options</li>
            <li class="p-list__item is-ticked">Managed Service includes disaster recovery</li>
            <li class="p-list__item is-ticked">Access to Knowledge Base</li>
            <li class="p-list__item is-ticked">Livepatch for all <a class="p-link--external" href="https://assets.ubuntu.com/v1/ac3aa269-DS_Canonical_Livepatch_Service_screen-AW_08.17.pd">compatible</a> kernels</li>
            <li class="p-list__item is-ticked">Monitoring and logging</li>
            <li class="p-list__item is-ticked">Landscape management</li>
          </ul>
          <p>
            <a href="https://www.ubuntu.com/pricing/infra">Price details</a>
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="p-card--highlighted">
          <div class="p-card__header">
            <h3>
              Kubernetes consulting packages
            </h3>
            <p>
              from <span class="p-heading--two">$19,500</span> one-off fee
            </p>
          </div>
          <p>
            Canonical offers three Kubernetes consulting packages: Kubernetes Explorer and Kubernetes Discoverer and Discoverer Plus.
          </p>
          <ul class="p-list">
            <li class="p-list__item is-ticked">High availability (HA) control plane</li>
            <li class="p-list__item is-ticked">Multi-cloud ready</li>
            <li class="p-list__item is-ticked">Extensible</li>
            <li class="p-list__item is-ticked">Secure</li>
            <li class="p-list__item is-ticked">GPU/CUDA ready</li>
            <li class="p-list__item is-ticked">Fully conformant Kubernetes</li>
            <li class="p-list__item is-ticked">Hands-on training</li>
          </ul>
          <p>
            <a href="https://ubuntu.com/pricing/consulting#kubernetes">Price details</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Go to <a class="p-link--external" href="http://www.ubuntu.com/kubernetes">www.ubuntu.com/kubernetes</a> to learn more.</h3>
      </div>
    </div>
  </div>

<div class="p-strip is-bordered">
    <div class="row">
      <div class="col-2">
        {{
          image(
            url="https://assets.ubuntu.com/v1/6e61dfbc-picto-quote-k8.svg",
            alt="",
            width="109",
            height="109",
            hi_def=True,
            loading="lazy",
          ) | safe
        }}
      </div>
      <div class="col-10">
        <h2>Get in touch</h2>
        <p>To contact us for more information or to discuss your specific needs, email us at <a href="mailto:kubernetes@ubuntu.com">kubernetes@ubuntu.com</a>.</p>
      </div>
    </div>
  </div>

<div class="p-strip is-shallow" id="kubernetes-notice">
  <div class="row">
    <div class="col-8">
      <p><a href="#cluster-work">*</a> Kubernetes® is a registered trademark of The Linux Foundation in the United States and other countries, and is used pursuant to a license from The Linux Foundation.</p>
    </div>
  </div>
</div>

{% endblock content %}
