{% extends "_layout.html" %}

{% block title %}Juju solutions for OpenStack{% endblock %}

{% block content %}
  <div class="p-strip--image is-dark"
    style="background-image:url('https://assets.ubuntu.com/v1/bd1d8c1d-juju-suru-blue-background.png')">
    <div class="row">
      <div class="u-equal-height">
        <div class="col-6">
          <h1 itemprop="name">Juju solutions for OpenStack</h1>
          <h2 itemprop="description" class="p-heading--four">Juju makes it easy to deploy OpenStack at scale. Quickly and reliably build an enterprise-scale cloud run on Ubuntu &mdash; the most popular operating system for OpenStack.</h2>
          <h3 class="p-heading--four">Benefit from a fully integrated and optimised combination of the latest release of Ubuntu Server and the latest release of OpenStack</h3>
        </div>
        <div class="col-6 u-align--center u-vertically-center u-hide--small">
          {{
            image(
              url="https://assets.ubuntu.com/v1/450d7c2f-openstack-hero.svg",
              alt="Openstack pictogram",
              width="251",
              height="149",
              hi_def=True,
              loading="eager"
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>

  <div class="p-strip is-bordered">
    <div class="row">
      <div class="col-12">
        <h2>Why use Juju for OpenStack?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <h3>Speed</h3>
        <p>Reduce the time to deploy OpenStack from days to minutes.</p>
      </div>
      <div class="col-3">
        <h3>Agility</h3>
        <p>Experiment with different versions, configurations and solutions to choose what works for you.</p>
      </div>
      <div class="col-3">
        <h3>Support</h3>
        <p>The main OpenStack releases are supported for a full five years on LTS releases of Ubuntu, giving you peace of mind combined with the latest OpenStack features.</p>
      </div>
      <div class="col-3">
        <h3>Expertise</h3>
        <p>Our OpenStack solutions encapsulate the industry-leading reference architecture for high-performance clouds. Allowing you to focus on your applications and workloads rather than on the underlying infrastructure of your cloud.</p>
      </div>
    </div>
  </div>

  <div class="p-strip">
    <div class="row">
      <div class="col-12">
        <h2>Start with a base cloud</h2>
        <p>This solution includes compute, networking, block storage (Cinder and Ceph), object storage (Ceph), identity, dashboard, and image management. You will only need 4 physical machines to deploy it, and you can scale it out by adding more physical machines.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="openstack-base"></div>
      </div>
    </div>
  </div>

  <div class="p-strip is-bordered u-no-margin--top u-no-padding--top">
    <div class="row">
      <h2 class="p-heading--three">Composed of (16)</h2>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="nova-compute"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="ceph-radosgw"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="ntp"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="neutron-api"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="percona-cluster"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="nova-cloud-controller"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="cinder-ceph"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="ceph"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="rabbitmq-server"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="neutron-openvswitch"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="keystone"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="cinder"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="openstack-dashboard"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="ceph-osd"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="glance"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="neutron-gateway"></div>
      </div>
    </div>
  </div>

  <div class="p-strip">
    <div class="row">
      <div class="col-12">
        <h2>Add metering</h2>
        <p>A useful function for any cloud is utilisation measurement. To accomplish this, add the ceilometer charm for telemetry alongside your existing OpenStack installation as above.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="openstack-telemetry"></div>
      </div>
    </div>
  </div>

  <div class="p-strip is-bordered u-no-padding--top u-no-margin--top">
    <div class="row">
      <div class="col-12">
        <h2 class="p-heading--three">Key charms included in the bundle</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="ceilometer"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="mongodb"></div>
      </div>
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="ceilometer-agent"></div>
      </div>
    </div>
  </div>

  <div class="p-strip">
    <div class="row">
      <div class="col-12">
        <h2>Add Canonical&rsquo;s Landscape service</h2>
        <p>Monitor, manage, and upgrade your images and cloud assets with Landscape. Follow these steps to deploy it:</p>
        <ul>
          <li class="p-list__item">Register with Landscape at <a href="https://landscape.canonical.com/signup">https://landscape.canonical.com/signup</a></li>
          <li class="p-list__item">Edit the charm config and enter your account credentials</li>
          <li class="p-list__item">Add a relation to every OpenStack service you want to manage. (The Landscape client is a subordinate charm which means it connects to services already running in your model)</li>
          <li class="p-list__item">Manage your cloud at <a href="https://landscape.canonical.com">https://landscape.canonical.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="p-strip u-no-padding--top u-no-margin--top">
    <div class="row">
      <div class="col-3">
        <div class="juju-card juju-card--internal juju-card--minimal" data-id="landscape-client"></div>
      </div>
    </div>
  </div>

  <script async src="{{ static_url('libs/juju-cards-v1.8.0.js') }}"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ static_url('libs/juju-cards-v1.8.0.css') }}">

{% endblock content %}
