{% extends "_layout.html" %}

{% block title %}Support{% endblock %}

{% block content %}
<div class="p-strip--light">
  <div class="row">
    <div class="col-12">
      <h1 itemprop="name">Get support</h1>
      <h2 itemprop="description" class="p-heading--four">There are three key ways you can get help with JAAS.</h2>
    </div>
  </div>
</div>
<div class="p-strip is-shallow u-no-margin--bottom support-cards">
  <div class="row">
    <div class="col-6 p-card u-no-margin--bottom">
      <h3 class="p-heading--four"><img class="support-cards__icon" src="https://assets.ubuntu.com/v1/05159fcf-juju-support_documentation.svg" alt="Documention icon">
        <a href="{{ external_urls.docs }}" class="p-link--external">Consult the documentation</a></h3>
      <p>Everything from installing, configuring and bootstrapping Juju, to writing your first charm.</p>
    </div>
    <div class="col-6 p-card u-no-margin--bottom">
      <h3 class="p-heading--four"><img class="support-cards__icon" src="https://assets.ubuntu.com/v1/d1048a96-juju-support_ask-community.svg" alt="Community icon">
        <a class="p-link--external" target="_blank" href="{{ external_urls.discourse }}">Ask the community</a></h3>
      <p>Post a question on our Discourse and get real-world solutions from the Juju community.</p>
    </div>
  </div>
</div>
<div class="p-strip is-shallow u-no-padding--top">
  <div class="row">
    <div class="col-6 p-card">
      <h3 class="p-heading--four"><img class="support-cards__icon" src="https://assets.ubuntu.com/v1/4220af88-juju-support_known-issues.svg" alt="Issues icon">
        <a target="_blank" href="{{ external_urls.issues }}">Check for known issues</a>
      </h3>
      <p>See if your issue has already been reported - and if it has, add more detail to get it fixed faster.</p>
    </div>
  </div>
</div>
{% endblock content %}
