{% extends "_layout.html" %}

{% block title %}500: Server error{% endblock %}

{% block content %}
<div class="p-strip--light">
  <div class="row">
    <h1>500: Server error encountered - sorry for the inconvenience.</h1>
    <nav>
      <ul class="p-inline-list">
        <li class="p-inline-list__item"><a href="{{ url_for('jaasai.index') }}" class="p-button--positive">Home</a></li>
        <li class="p-inline-list__item"><a href="{{ url_for('jaasstore.store') }}" class="p-button--positive">Browse the store</a></li>
        <li class="p-inline-list__item"><a href="{{ external_urls.issues }}" class="p-link--external">Submit a bug</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock content %}
