<footer class="p-strip--dark footer">
  <div class="p-section">
    <div class="row u-vertically-center">
      <div class="col-7">
        <h2>Join the community</h2>
      </div>
      <div class="col-5">
        <ul class="p-inline-list u-no-margin--bottom">
          <li class="p-inline-list__item">
            <a href="https://github.com/canonical/jaas.ai" class="p-icon--github p-icon--github-white"></a>
          </li>
          <li class="p-inline-list__item">
            <a href="https://twitter.com/ubuntu" class="p-icon--twitter"></a>
          </li>
          <li class="p-inline-list__item">
            <a href="https://www.youtube.com/@UbuntuOS" class="p-icon--youtube"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule is-dark">
    </div>
    <div class="row">
      <div class="col-3">
        <h2 class="p-heading--5">Juju</h2>
        <ul class="p-list">
          <li class="p-list__item">
            <a href="https://jaas.ai/">What is JAAS?</a>
          </li>
          <li class="p-list__item">
            <a href="https://juju.is/">What is Juju?</a>
          </li>
          <li class="p-list__item">
            <a href="https://charmhub.io">What is Charmhub?</a>
          </li>
          <li class="p-list__item">
            <a href="/docs/juju/reference">What are Charms?</a>
          </li>
          <li class="p-list__item">
            <a href="/docs/sdk">What is the Charm SDK?</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <h2 class="p-heading--5">Charms</h2>
        <ul class="p-list">
          <li class="p-list__item">
            <a href="https://charmhub.io/?base=all&filter=databases,big-data">Data</a>
          </li>
          <li class="p-list__item">
            <a href="https://ubuntu.com/kubernetes">Charmed Kubernetes</a>
          </li>
          <li class="p-list__item">
            <a href="https://ubuntu.com/openstack">Charmed OpenStack</a>
          </li>
          <li class="p-list__item">
            <a class="p-heading--5" href="https://charmhub.io/">All operators&nbsp;&rsaquo;</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <h2 class="p-heading--5">Compare</h2>
        <ul class="p-list">
          <li class="p-list__item">
            <a href="/blog/operators-and-charmed-operators">Operators & Charms</a>
          </li>
          <li class="p-list__item">
            <a href="/blog/beyond-helm-and-kustomize-the-future-of-kubernetes-apps">Helm alternative</a>
          </li>
          <li class="p-list__item">
            <a href="/blog/beyond-helm-and-kustomize-the-future-of-kubernetes-apps">Kustomize alternative</a>
          </li>
          <li class="p-list__item">
            <a href="/blog/ansible-vs-terraform-vs-juju-fight-or-cooperation">Ansible alternative</a>
          </li>
          <li class="p-list__item">
            <a href="/blog/juju-vs-infrastructure-as-code-tools">Terraform alternative</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <h2 class="p-heading--5">Blog</h2>
        <ul class="p-list">
          <li class="p-list__item">
            <a href="/blog/ubuntu-and-canonical-at-kubecon-europe-2021">Best Practices for creating charms</a>
          </li>
          <li class="p-list__item">
            <a href="/model-driven-operations-manifesto">Model Driven Operations Manifesto</a>
          </li>
          <li class="p-list__item">
            <a href="/blog/beyond-helm-and-kustomize-the-future-of-kubernetes-apps">Why Helm and Kustomize aren’t enough: the future of Kubernetes apps</a>
          </li>
          <li class="p-list__item">
            <a class="p-heading--5" href="/blog">Read all of our blogs&nbsp;&rsaquo;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule is-dark">
    </div>
    <div class="row">
      <div class="col-3">
        <p>&copy; {{ current_year }} Canonical Ltd.</p>
      </div>
      <div class="col-3">
        <p>
          <a class="js-revoke-cookie-manager" href="">Manage your tracker settings</a>
          <br>
          <a href="https://www.ubuntu.com/legal">Legal Information</a>
        </p>
      </div>
      <div class="col-6">
        <p> Ubuntu and Canonical are registered trademarks.<br> All other trademarks are the property of their respective owners. </p>
      </div>
    </div>
  </div>
</footer>
