<header id="navigation" class="p-navigation is-dark" data-js="navigation">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="/">
          <div class="p-navigation__logo-tag">
            <img class="p-navigation__logo-icon" src="https://assets.ubuntu.com/v1/a603c7c9-Favicon - Juju.svg" alt="Canonical Juju" />
          </div>
          <span class="p-navigation__logo-title">Canonical JAAS</span>
        </a>
      </div>
      <ul class="p-navigation__items">
        <li class="p-navigation__item">
          <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
          <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
        </li>
      </ul>
    </div>
    <nav class="p-navigation__nav">
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__items" role="menu">
        <li class="p-navigation__item">
          <a class="p-navigation__link" href="https://juju.is">Juju</a>
        </li>
        <li class="p-navigation__item">
          <a class="p-navigation__link" href="https://charmhub.io">Charmhub</a>
        </li>
        <li class="p-navigation__item">
          <a class="p-navigation__link" href="https://canonical-jaas-documentation.readthedocs-hosted.com/en/latest/">Docs</a>
        </li>
      </ul>
      <ul class="p-navigation__items p-navigation_login global-nav" role="menu">
      </ul>
    </nav>
  </div>
</header>
