{% extends "_layout.html" %}

{% block title %}Manage large scale Juju deployments with Jaas{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1SMflo2V-EdAEDmYhShMjn0wOCIfsp_gEc-Nc5q3uWh4/edit{% endblock meta_copydoc %}
{% block description %}JAAS (Juju as a service) provides a single location to interact, manage and audit your Juju infrastructure using a dashboard or the Juju CLI commands.{% endblock %}
{% block page_class %}is-paper{% endblock %}

{% block content %}
<main id="main-content">
  <section class="p-section--hero u-no-padding--bottom">
    <div class="row--50-50">
      <div class="col">
        <h1>Take control of your large-scale Juju deployments</h1>
      </div>
      <div class="col">
        <p>Juju as a service (JAAS) provides a single location to interact, manage and audit your charmed applications using a dashboard or Juju CLI commands.</p>
        <hr class="is-muted" />
        <button data-js="open-modal-control" class="p-button--positive">Contact us</button>
      </div>
    </div>
    <div class="u-fixed-width u-align--center u-hide--medium u-hide--small">
      {{ image(
          url="https://assets.ubuntu.com/v1/395ce1cf-JAAS%20Diagram.svg",
          alt="",
          height="674",
          width="1232",
          hi_def=True,
          loading="auto",
        ) | safe
      }}
    </div>
  </section>
  <section class="p-section">
    <hr class="is-fixed-width">
    <div class="row--50-50">
      <div class="col">
        <h2>Main JAAS components</h2>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-3">
            <h3 class="p-text--small-caps">JIMM</h3>
          </div>
          <div class="col-3">
            <p> The Juju Infinite Model Manager is the backend service responsible for managing Juju controllers. Admins can interact with Jimm through the same Juju cli and Terraform provider.</p>
          </div>
        </div>
        <hr class="is-muted">
        <div class="row">
          <div class="col-3">
            <h3 class="p-text--small-caps">Dashboard</h3>
          </div>
          <div class="col-3">
            <p>A graphical user interface to simplify common administrative operations.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="p-section">
    <div class="u-fixed-width">
      <hr>
    </div>
    <div class="row">
      <div class="col-3">
        <h2>Why use JAAS?</h2>
      </div>
      <div class="col-9 col-start-large-4">
        <div class="row p-section--shallow">
          <div class="col-3">
            <h3 class="p-heading--5">Have to manage multiple Juju controllers </h3>
          </div>
          <div class="col-6">
            <p>JAAS simplifies the provisioning and lifecycle management of controllers and charms at scale, automating activities like model migrations and controller upgrades</p>
          </div>
        </div>
        <hr class="is-muted">
        <div class="row p-section--shallow">
          <div class="col-3">
            <h3 class="p-heading--5">Need to meet tighter security and compliance requirements</h3>
          </div>
          <div class="col-6">
            <p>JAAS offers additional security features like fine grained access control, an SSH proxy to reduce the attack surface area and comprehensive auditing functionalities</p>
          </div>
        </div>
        <hr class="is-muted">
        <div class="row p-section--shallow">
          <div class="col-3">
            <h3 class="p-heading--5">Prefer to interact with your system with a web interface</h3>
          </div>
          <div class="col-6">
            <p>The dashboard offer a simplified way for administrators to perform common administrative operations and monitor the state of the deployment</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="p-section">
    <div class="u-fixed-width">
      <hr>
    </div>
    <div class="row">
      <h2>Enhanced control and visibility <br /> for your Juju deployment</h2>
    </div>
    <div class="row--50-50">
      <div class="col">
        <p style="max-width: 50rem;">JAAS is your centralised enterprise control plane for Juju deployments.<br /> With JAAS you can:</p>
        <div class="p-side-navigation homepage-tabs" style="margin-top: 0;">
          <ul class="p-side-navigation__list">
            <li class="p-side-navigation__item">
              <a href="#view-models-and-controllers-details" class="p-side-navigation__link is-active" data-js="panel-link">View models and controllers details</a>
            </li>
            <li class="p-side-navigation__item">
              <a href="#run-actions" class="p-side-navigation__link" data-js="panel-link">Run actions</a>
            </li>
            <li class="p-side-navigation__item">
              <a href="#configure-applications" class="p-side-navigation__link" data-js="panel-link">Configure applications</a>
            </li>
            <li class="p-side-navigation__item">
              <a href="#onboard-controllers-and-manage-access" class="p-side-navigation__link" data-js="panel-link">Onboard controllers and manage access</a>
            </li>
            <li class="p-side-navigation__item">
              <a href="#run-audits-and-reports" class="p-side-navigation__link" data-js="panel-link">Run audits and reports</a>
            </li>
            <li class="p-side-navigation__item">
              <a href="#search-and-filter" class="p-side-navigation__link" data-js="panel-link">Search and filter</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col homepage-tabs-content">
        <div class="tabs-content-wrapper">
          <div class="row" id="view-models-and-controllers-details">
            {{ image(
                url="https://assets.ubuntu.com/v1/90922406-integrations.png",
                alt="",
                height="669",
                width="1031",
                hi_def=True,
                loading="auto",
              ) | safe
            }}
            <p style="max-width: 500rem;">Drill down to view the details of everything that is deployed inside a model, such as applications, integrations, units, and more.</p>
          </div>
          <div class="row u-hide" id="run-actions">
            {{ image(
              url="https://assets.ubuntu.com/v1/e70dab91-run-action.png",
              alt="",
              height="669",
              width="1031",
              hi_def=True,
              loading="auto",
            ) | safe
            }}
            <p>Execute Juju action from the UI and view the resulting logs to confirm their status.</p>
          </div>
          <div class="row u-hide" id="configure-applications">
            {{ image(
                url="https://assets.ubuntu.com/v1/1ac0ed08-configure-app.png",
                alt="",
                height="669",
                width="1031",
                hi_def=True,
                loading="auto",
              ) | safe
              }}
            <p>Perform common administrative operations and apply machine configurations.</p>
          </div>
          <div class="row u-hide" id="onboard-controllers-and-manage-access">
            {{ image(
                url="https://assets.ubuntu.com/v1/2f434d5d-jaas-controllers.png",
                alt="",
                height="669",
                width="1031",
                hi_def=True,
                loading="auto",
              ) | safe
              }}
            <p>Onboard controllers and add, remove or manage user access to models and controllers.</p>
          </div>
          <div class="row u-hide" id="run-audits-and-reports">
            {{ image(
                url="https://assets.ubuntu.com/v1/8d0f47a6-action-logs.png",
                alt="",
                height="669",
                width="1031",
                hi_def=True,
                loading="auto",
              ) | safe
              }}
            <p>Access the logs from your deployment in a single, centralised location.</p>
          </div>
          <div class="row u-hide" id="search-and-filter">
            {{ image(
                url="https://assets.ubuntu.com/v1/f3ff0a1b-searchandfilter.jpg",
                alt="",
                height="669",
                width="1031",
                hi_def=True,
                loading="auto",
              ) | safe
              }}
            <p style="max-width: 500rem;">Perform complex searches/filters through your entire deployment and share the result through a unique URL.</p>
          </div>
        </div>
        <div class="homepage-tabs-button u-align--right">
          <hr class="is-muted">
          <button class="p-button has-icon" disabled data-js="previous-tab-button">&lsaquo; Previous</button>
          <button class="p-button has-icon" data-js="next-tab-button">Next &rsaquo;</button>
        </div>
      </div>
    </div>
  </section>
  <section class="p-section">
    <div class="u-fixed-width">
      <hr>
    </div>
    <div class="row">
      <h2>Familiar experience and tighter <br /> security controls</h2>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4">
        <hr class="is-muted">
        <div class="row p-section--shallow">
          <div class="col-3">
            <h3 class="p-heading--5">Centralised Terraform Provider</h3>
          </div>
          <div class="col-6">
            <p>JAAS can make use of the Juju Terraform provider to apply plans to all managed controllers. The provider supports Oauth client credentials authentication and its access is controlled by the authorisation system.</p>
          </div>
        </div>
        <hr class="is-muted">
        <div class="row p-section--shallow">
          <div class="col-3">
            <h3 class="p-heading--5">SSH Proxy</h3>
          </div>
          <div class="col-6">
            <p>Administrators can use JAAS to SSH into all units of managed controllers, reducing the need to grant access to vast areas of the network. SSH access can be granted through a fine grained entitlement and session logs are kept in a tamper proof audit log.</p>
          </div>
        </div>
        <hr class="is-muted">
        <div class="row p-section--shallow">
          <div class="col-3">
            <h3 class="p-heading--5">Single sign on (SSO)</h3>
          </div>
          <div class="col-6">
            <p>JAAS supports integration with external identity providers through OIDC, enforcing strong authentication on both the cli and the web dashboard</p>
          </div>
        </div>
        <hr class="is-muted">
        <div class="row">
          <div class="col-3">
            <h3 class="p-heading--5">Shallow learning curve</h3>
          </div>
          <div class="col-6">
            <p>Users who are familiar with Juju will feel right at home with JAAS. Because JAAS can be can be controlled through the Juju cli and Terraform provider, administrators can get productive in no time.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="u-fixed-width">
    <div class="p-image-container u-sv1 u-align--center u-hide--medium u-hide--small">
      {{ image(
            url="https://assets.ubuntu.com/v1/b6442458-JAAS%20illustration.svg",
            alt="",
            height="1028",
            width="2462",
            hi_def=True,
            loading="auto",
            attrs={ "class": "p-image-container__image", },
          ) | safe
        }}
    </div>
  </div>
  <section class="p-section">
    <div class="u-fixed-width">
      <hr>
    </div>
    <div class="row">
      <div class="col-6">
        <h2>JAAS is available through <br />Ubuntu Pro</h2>
      </div>
      <div class="col-6">
        <p>You can deploy JAAS on your infrastructure with an <a href="https://ubuntu.com/pro">Ubuntu Pro</a> subscription Ubuntu Pro is a comprehensive subscription from Canonical which includes:</p>
        <div class="u-fixed-width">
          <hr class="is-muted">
        </div>
        <ul class="p-list--divided">
          <li class="p-list__item has-bullet">JAAS charms and sample Terraform plan</li>
          <li class="p-list__item has-bullet">Access to our world-class technical team and knowledge base</li>
          <li class="p-list__item has-bullet">Security patching for all your software</li>
          <li class="p-list__item has-bullet">Option of a dedicated Canonical support engineer on your premises</li>
          <li class="p-list__item has-bullet">24/7 phone, portal and email support (optional)</li>
        </ul>
        <button data-js="open-modal-control" class="p-button--positive">Contact us to get started</button>
      </div>
    </div>
  </section>
  <section class="p-section">
    <div class="u-fixed-width">
      <hr>
    </div>
    <div class="u-fixed-width">
      <h2>Trusted by 10,000+ engineers at</h2>
    </div>
    <div class="u-fixed-width">
      <div class="p-logo-section">
        <div class="p-logo-section__items u-no-margin--bottom">
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/7040f392-Ubuntu-logo.png" alt="Ubuntu logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/a76d4ee3-deutsche-telekom.png" alt="Deutsche Telekom logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/0a6968e6-ibm-logo.png" alt="IBM logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/cc65269a-intel-new-logo.png" alt="Intel logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/ea63a7ba-microsoft-azure-2021.png" alt="Microsoft Azure logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/f3d556d7-cisco-logo.png" alt="Cisco logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/757f59f0-china-telecom-logo.png" alt="China Telecom logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/f044cea8-bt-logo.png" alt="BT logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/89365c81-nec-logo.png" alt="nec logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/4b74a5f4-hp-logo.png" alt="Hewlett Packard logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/02d41af7-yahoo-jp-logo.png" alt="Yahoo! Japan logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/067bffc3-verizon-logo.png" alt="verizon logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/05d9f06b-bell-logo.png" alt="Bell logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/5482ad8a-swissquote-logo.png" alt="Swissquote logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/8848ee2f-panasonic-logo.png" alt="Panasonic logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/e0b84fa2-scania-logo.png" alt="Scania logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/d8060c1d-rabobank-logo.png" alt="Rabobank logo">
          </div>
          <div class="p-logo-section__item">
            <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/e2fa6efb-tele2-logo.png" alt="tele2 logo">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="p-section--deep p-suru--bottom-right">
    <div class="u-fixed-width">
      <hr>
    </div>
    <div class="row--50-50">
      <div class="col">
        <h2>Learn more about Juju</h2>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-2">
            <h3 class="p-heading--5">Connect with the community</h3>
          </div>
          <div class="col-4">
            <p>
              <a href="https://matrix.to/#/#charmhub:ubuntu.com">Charmhub chat</a>
            </p>
            <hr>
            <p>
              <a href="https://discourse.charmhub.io/">Discourse forum</a>
            </p>
          </div>
        </div>
        <div class="u-fixed-width">
          <hr>
        </div>
        <div class="row">
          <div class="col-2">
            <h3 class="p-heading--5">Contact us</h3>
          </div>
          <div class="col-4">
            <p>
              <button class="p-button--link" data-js="open-modal-control">Talk to a Canonical expert</>
            </p>
          </div>
        </div>
        <div class="u-fixed-width">
          <hr>
        </div>
        <div class="row">
          <div class="col-2">
            <h3 class="p-heading--5">Read more</h3>
          </div>
          <div class="col-4">
            <p>
              <a href="https://juju.is/why-juju">How juju works</a>
            </p>
            <hr class="is-muted">
            <p>
              <a href="https://juju.is/docs/olm">Juju documentation</a>
            </p>
            <hr class="is-muted">
            <p>
              <a href="https://juju.is/docs/sdk">Charm SDK documentation</a>
            </p>
            <hr class="is-muted">
            <p>
              <a href="https://ubuntu.com/engage/kubernetes-operators-explained">What is a software operator?</a>
            </p>
            <hr class="is-muted">
            <p>
              <a href="https://ubuntu.com/engage/kubernetes-operators-explained-whitepaper">Software operators explained</a>
            </p>
          </div>
        </div>
      </div>
  </section>
</main>
<div class="p-modal u-hide" id="modal">
  <section class="p-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="modal-title">
    <header class="p-modal__header">
      <h2 class="p-modal__title">Get in touch</h2>
      <button class="p-modal__close" aria-label="Close active modal" aria-controls="modal" data-js="close-modal-control">Close</button>
    </header>
    <form action="https://ubuntu.com/marketo/submit" method="post" id="mktoForm_5332" style="max-width: 560px;">
      <label for="firstName">First name</label>
      <input type="text" name="firstName" id="firstName" required>
      <label for="lastName">Last name</label>
      <input type="text" name="lastName" id="lastName" required>
      <label for="title">Job title</label>
      <input type="text" name="title" id="title" required>
      <label for="Email">Email address:</label>
      <input type="email" name="email" id="email" required>
      <label for="phone">Phone</label>
      <input type="text" name="phone" id="phone" required>
      <label for="Comments_from_lead__c">Comments</label>
      <textarea name="Comments_from_lead__c" id="Comments_from_lead__c"></textarea>
      <label class="p-checkbox">
        <input type="checkbox" class="p-checkbox__input u-no-margin--top" name="canonicalUpdatesOptIn" aria-labelledby="CanonicalUpdatesOptIn" value="yes">
        <span class="p-checkbox__label" id="CanonicalUpdatesOptIn">
          <small>I agree to receive information about Canonical's products and services.</small>
        </span>
      </label>
      <p>
        <small>In submitting this form, I confirm that I have read and agree to <a href="https://ubuntu.com/legal/data-privacy/newsletter">Canonical's Privacy Notice</a> and <a href="https://ubuntu.com/legal/data-privacy">Privacy Policy</a>.</small>
      </p>
      <button type="submit" class="p-button--positive u-no-margin--bottom" aria-label="Submit">Get in touch</button>
      <input type="hidden" name="formid" class="mktoField" value="5332">
      <input type="hidden" name="returnURL" value="https://juju.is/thank-you" />
      <input type="hidden" name="Consent_to_Processing__c" value="yes">
      <input type="hidden" name="utm_campaign" id="utm_campaign" value="">
      <input type="hidden" name="utm_source" id="utm_source" value="">
      <input type="hidden" name="utm_medium" id="utm_medium" value="">
      <input type="hidden" name="utmcontent" id="utmcontent" value="">
      <input type="hidden" name="utm_term" id="utm_term" value="">
      <input type="hidden" name="GCLID__c" id="GCLID__c" value="">
      <input type="hidden" name="Facebook_Click_ID__c" id="Facebook_Click_ID__c" value="">
      <input type="hidden" name="grecaptcharesponse" id="grecaptcharesponse" value="">
      <input type="hidden" name="productContext" id="productContext" value="">
    </form>
  </section>
</div>

<script>
  // side navigation and panels
  const panelLinks = document.querySelectorAll("[data-js='panel-link']");
  const tabs = document.querySelectorAll('.homepage-tabs-content .tabs-content-wrapper > .row');
  let currentTab = 0;

  function showTab(index) {
    tabs.forEach(tab => tab.classList.add('u-hide'));
    tabs[index].classList.remove('u-hide');
    updateNavigation(index);
    updateButtonStatus();
  }

  function updateNavigation(index) {
    panelLinks.forEach(link => link.classList.remove('is-active'));
    panelLinks[index].classList.add('is-active');
  }

  function updateButtonStatus() {
    const prevBtn = document.querySelector('[data-js="previous-tab-button"]');
    const nextBtn = document.querySelector('[data-js="next-tab-button"]');
    prevBtn.disabled = currentTab === 0;
    nextBtn.disabled = currentTab === tabs.length - 1;
  }

  panelLinks.forEach((panelLink, index) => {
    panelLink.addEventListener("click", (e) => {
      e.preventDefault();
      currentTab = index;
      showTab(currentTab);
    });
  });

  const prevBtn = document.querySelector('[data-js="previous-tab-button"]');
  const nextBtn = document.querySelector('[data-js="next-tab-button"]');

  prevBtn.addEventListener('click', () => {
    if (currentTab > 0) {
      currentTab--;
      showTab(currentTab);
    }
  });

  nextBtn.addEventListener('click', () => {
    if (currentTab < tabs.length - 1) {
      currentTab++;
      showTab(currentTab);
    }
  });

  // Contact us modal
    const modal = document.querySelector("#modal");
    const openModalControls = document.querySelectorAll("[data-js='open-modal-control']");
    const closeModalControl = document.querySelector("[data-js='close-modal-control']");

    modal.addEventListener("click", (e) => {
      if (e.target === modal) {
        modal.classList.add("u-hide");
      }
    });

    openModalControls.forEach(el=> el.addEventListener("click", (e) => {
      e.preventDefault();
      modal.classList.remove("u-hide");
    }));

    closeModalControl.addEventListener("click", (e) => {
      e.preventDefault();
      modal.classList.add("u-hide");
    });
</script>
{% endblock content %}
