{{#everyNth entries 3}}
    <div class="four-col {{#if isModLast}}last-col{{/if}}">
        <div class="video-container">
            <iframe width="329" height="185" src="{{ video }}" allowfullscreen></iframe>
        </div>
        <h3>{{ title }}</h3>
    </div>
{{/everyNth}}
