<div class="p-strip--muted-suru">
  <header class="row entity__header">
    <div class="col-8">
      <div class="entity__title-wrap">
        {% if context.entity.icon %}
          <img src="{{ context.entity.icon }}" alt="" width="96" id="the-icon" class="p-media-object__image is-round" />
        {% endif %}
        <h1 itemprop="name" class="u-no-margin--bottom entity__title">
          <span>
            {{ context.entity.display_name }}
            <sup class="entity__version">
              #{{ context.entity.revision_number }}
            </sup>
          </span>
        </h1>
      </div>
      <ul class="entity__meta p-inline-list--middot">
        {% if context.entity.owner %}
          <li class="p-inline-list__item">
            <span class="entity__user">
              By <a
                href="{{ url_for('jaasstore.user_details', username=context.entity.owner) }}">{{ context.entity.owner }}</a>
            </span>
          </li>
        {% endif %}
        {% if context.entity.channels %}
          <li class="p-inline-list__item">
            <span class="entity__channel">
              {% for channel in context.entity.channels %}
              <span>{{ channel['Channel'] }}</span>{% if not loop.last %},{% endif %}
              {% endfor %}
            </span>
          </li>
        {% endif %}
      </ul>
      {% if context.entity.series %}
      <div class="series-tags">
        Supports:
          {% for supported_release in context.entity.series %}
            <span class="series-tag series-tag--{{ supported_release }}">
              {{ supported_release }}
            </span>
          {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="col-4">
      <div class="p-code-copyable">
        <input class="p-code-copyable__input" value="juju deploy {{ context.entity.id }}" readonly="readonly">
        <button class="p-code-copyable__action">Copy to clipboard</button>
      </div>
      {% if "kubernetes" in context.entity.series %}
        <div class="p-notification--information">
          <p class="p-notification__response">
            Deploy this charm on Kubernetes with the CLI. Find out how by reading the
            <a href="{{ external_urls.docs }}/k8s-cloud" class="p-link--external">docs</a>.
          </p>
        </div>
      {% else %}
        <a href="{{ external_urls.gui }}?deploy-target={{ context.entity.id }}"
          class="p-button--positive" rel="nofollow" style="width:100%">
          Add to new model
        </a>
      {% endif %}
    </div>
  </header>
</div>
