<div class="p-strip--light is-bordered is-shallow">
  <header class="row">
    <div class="col-8">
      <div class="p-media-object--large u-no-margin--bottom">
        <img src="{{ context.entity.icon }}" alt="" width="96" id="the-icon" class="p-media-object__image is-round" />
        <div class="p-media-object__details">
          <h1 itemprop="name" class="p-media-object__title u-no-margin--bottom entity__title">
            <span>
              {{ context.entity.display_name }}
            </span>
            <sup class="p-heading--three entity__version">
              #{{ context.entity.revision_number }}
            </sup>
          </h1>
          <ul class="p-media-object__meta-list u-no-margin--bottom">
            <li class="p-media-object__meta-list-item u-no-padding--left">
              <strong>By</strong> <a
                href="/u/{{ context.entity.user }}">{{ context.entity.user }}</a>
            </li>
            <li class="p-media-object__meta-list-item u-no-padding--left">
              {% if context.entity.revision_number != context.entity.latest_revision['id'] %}
              <a href="/{{ context.entity.latest_revision['url'] }}" onclick="dataLayer.push({
                    'event' : 'GAEvent',
                    'eventCategory' : 'Bundle Details Link',
                    'eventAction' : 'Goto latest version',
                    'eventLabel' : 'Latest version (#ID)',
                    'eventValue' : '{{ context.entity.latest_revision['full_id'] }}'
                  });"><strong>Latest version</strong> (#{{ context.entity.latest_revision['id'] }})
              </a>
              {% else %}
              <strong>Latest version</strong> (#{{ context.entity.latest_revision['id'] }})
              {% endif %}
            </li>
            {% if context.entity.series %}
              <li class="p-media-object__meta-list-item u-no-padding--left">
                <strong>Series:</strong> {{ context.entity.series|join(', ') }}
              </li>
            {% endif %}
            {% if context.entity.meta_published_info %}
              <li class="p-media-object__meta-list-item u-no-padding--left">
                <strong>Channels:</strong>
                {% for meta_info in context.entity.meta_published_info %}
                  {{ meta_info['Channel'] }},
                {% endfor %}
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="p-code-snippet">
        <input class="p-code-snippet__input deploy-command__field" value="{{ context.entity.id }}"
          readonly="readonly">
        <button class="p-code-snippet__action">Copy to clipboard</button>
      </div>
      <p>
        {% set new_model_url = "/new/?deploy-target=" + context.entity.id %}
        <a href="https://jujucharms.com{{ new_model_url }}"
          class="p-button--positive row" rel="nofollow">
          Add to new model
        </a>
      </p>
    </div>
  </header>
</div>
