{% macro icon(entity) -%}
  <li class="p-inline-list__item">
    <a href="/{{ entity.url }}">
      <span class="p-tooltip p-tooltip--top-center" aria-describedby="tp-cntr">
        <img src="{{ entity.icon }}" class="entity-icon" alt="{{ entity.display_name }} icon" width="24" />
        <span class="p-tooltip__message" role="tooltip">{{ entity.display_name }}</span>
      </span>
    </a>
  </li>
{%- endmacro %}

<td class="u-hide--small search-results-table__icons">
  <ul class="p-inline-list u-no-margin--bottom">
    {% if entity.services %}
      {% for name, entity in entity.services.items() %}
        {{ icon(entity) }}
      {% endfor %}
    {% else %}
      {{ icon(entity) }}
    {% endif %}
  </ul>
</td>

<td>
  <div>
    <a href="/{{ entity.url }}">
      <h4 class="search-results__entity-name u-no-margin--bottom">{{ entity.display_name }}</h4>
    </a>
    {% if entity.tags %}
      <div class="entity-tags">
        {% for tag in entity.tags %}
          <a href="{{ url_for('jaasstore.search', tags=tag) }}">{{ tag }}{{ "," if not loop.last }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</td>

<td class="search-results-table__series">
  {% if entity.series %}
    {% for series in entity.series %}
    <a href="{{ current_url_with_query(series=series) }}" class="series-tag series-tag--{{ series }}">
      {{ series }}
    </a>
    {% endfor %}
  {% endif %}
</td>

<td>
  {% if entity.owner %}
    <a href="{{ url_for('jaasstore.user_details', username=entity.owner) }}">{{ entity.owner }}</a>
  {% else %}
    No owner
  {% endif %}
</td>
