<td class="search-results-table__icons u-hide--small">
  <a href="/{{ entity.url }}" class="u-no-link-underline {% if entity.applications %}search-results__bundle-icon{% endif %}">
    {% if entity.icons %}
      {% for icon in entity.icons %}
        <img src="{{ icon }}" class="search-results__icon" alt="" />
      {% endfor %}
      {% set extra_count = entity.applications|count - 2 %}
      {% if extra_count < 0 %}
        {% set extra_count = 0 %}
      {% endif %}
      +{{ extra_count }}
    {% else %}
      <img src="{{ entity.icon }}" class="search-results__icon" alt="" />
    {% endif %}
  </a>
</td>

<td>
  <div>
    <a href="/{{ entity.url }}">
      <h4 class="search-results__entity-name u-no-margin--bottom">{{ entity.display_name }}</h4>
    </a>
    {% if entity.tags %}
      <div class="entity-tags">
        {% for tag in entity.tags %}
          <a href="{{ url_for('jaasstore.search', tags=tag) }}">{{ tag }}{{ "," if not loop.last }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</td>

<td class="search-results-table__series">
  {% if entity.series %}
    {% for series in entity.series %}
    <a href="{{ current_url_with_query(series=series) }}" class="series-tag series-tag--{{ series }}">
      {{ series }}
    </a>
    {% endfor %}
  {% endif %}
</td>

<td>
  {% if entity.owner %}
    <a href="{{ url_for('jaasstore.user_details', username=entity.owner) }}">{{ entity.owner }}</a>
  {% else %}
    No owner
  {% endif %}
</td>
