{% extends "_layout.html" %}

{% set active_section = "store" %}

{% block title %}{{ context.entity.display_name }}{% endblock %}

{% block head_extra %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ubuntucloud">
  <meta name="twitter:creator" content="@ubuntucloud">
  <meta name="twitter:title" content="{{ context.entity.display_name }} - Juju bundle">
  <meta name="twitter:image" content="https://assets.ubuntu.com/v1/01868685-juju-twitter.png">
  <meta name="twitter:description" content="{% if context.entity.description %}{{ context.entity.description|striptags }}{% else %}Deploy {{ context.entity.display_name }} to public or private clouds or even bare metal using the Juju GUI or command line.{% endif %}">
  <link rel="canonical" href="{{ context.entity.canonical_url }}" />
{% endblock %}

{% block content %}

{% include "store/_entity-header.html" %}

<div class="p-strip is-shallow">
  <div class="row">
    <div class="col-8">
      {% if context.entity.description %}
        <div id="description" itemprop="description">
          <h3>Description</h3>
          <p>{{ context.entity.description|safe }}</p>
        </div>
      {% endif %}
      <div class="p-card--highlighted">
        <object type="image/svg+xml" data="{{ context.entity.bundle_visualisation }}"></object>
      </div>
      {% if context.entity.readme %}
        <div class="readme" id="readme">
          {{ context.entity.readme|safe }}
        </div>
      {% endif %}

    </div>
    <div class="col-4">
      {% if context.expert %}
        {% if context.entity.supported %}
          {% include "shared/_plan-card.html" %}
        {% endif %}
        <div class="p-card expert-card has-strap">
          <div class="expert__strap">
            Juju expert partners
          </div>
          {% include "shared/contact-card/_entity-page.html" %}
        </div>
      {% endif %}

      {% if context.entity.homepage or context.entity.bugs_url %}
        <div class="p-card">
          <h4 class="p-card__title">Contribute</h4>
          {% if context.entity.homepage %}
            <p><a href="{{ context.entity.homepage }}">
              Project homepage
            </a></p>
          {% endif %}
          {% if context.entity.bugs_url %}
            <p><a href="{{ context.entity.bugs_url }}">
              Submit a bug
            </a></p>
          {% endif %}
        </div>
      {% endif %}

      <div class="p-card" id="files">
        <h4 class="p-card__title">Files</h4>
        <ul ul class="p-list-tree files__list" aria-multiselectable="true" role="tablist">
          {% for file_name, file_link in context.entity.files.items() %}
            <li class="p-list-tree__item">
              <a href="{{ file_link }}" target="_blank">{{ file_name }}</a>
            </li>
          {% endfor %}
        </ul>
        <a target="_blank" class="p-button--neutral archive-url" href="{{ context.entity.archive_url }}">
          Download .zip
        </a>
      </div>

      <div class="p-card" id="charms">
        <h4 class="p-card__title">Bundle configuration</h4>
        <aside class="p-accordion" role="tablist" aria-multiselect="true">
          <ul class="p-accordion__list">
            <li class="p-accordion__group">
              {% for d,v in context.entity.applications.items() %}
                {% if v.Options %}
                  <button class="p-accordion__tab" id="charm-config-{{ d  }}-tab" role="tab" aria-controls="#charm-config-{{ d  }}" aria-expanded="false">
                {% else %}
                  <div class="p-accordion__tab">
                {% endif %}
                  <img src="{{ v.icon }}" alt="{{ d }}" width="30" height="30" class="entity__charm-icon" />
                  <span class="p-accordion__title">
                    {{ v.display_name }}
                  </span>
                  {% if v.Options %}
                    </button>
                  {% else %}
                    </div>
                  {% endif %}
                {% if v.Options %}
                  <section class="p-accordion__panel" id="charm-config-{{ d  }}" role="tabpanel" aria-hidden="true" aria-labelledby="charm-config-{{ d  }}-tab">
                  {% if v.Options %}
                    <dl>
                      {% for n,val in v.Options.items() %}
                        <dt>{{ n }}</dt>
                        <dd>{{ val }}</dd>
                      {% endfor %}
                    </dl>
                  {% endif %}
                </section>
                {% endif %}
              {% endfor %}
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</div>

<script src="{{ static_url('js/accordion.js') }}"></script>
<script src="{{ static_url('js/treefilelist.js') }}"></script>
<script>
  window.app.accordion('.p-accordion__list');
  window.app.treeifyFileList();
</script>

{% endblock %}
