{% extends "_layout.html" %}

{% block title %}{{ context.bundle.display_name }}{% endblock %}

{% block content %}

{% include "_entity-header.html" %}

<div class="p-strip is-shallow">
  <div class="row">
    <div class="col-8">
      {% if context.bundle.bundle_data.description %}
        <div id="description" itemprop="description">
          <h3>Description</h3>
          <p>{{ context.bundle.bundle_data.description }}</p>
        </div>
      {% endif %}
      <div class="p-card--highlighted">
        <object type="image/svg+xml" data="{{ context.bundle.bundle_visulisation }}"></object>
      </div>
      {% if context.bundle.readme %}
        <div class="readme" id="readme">
          {{ context.bundle.readme|safe }}
        </div>
      {% endif %}

    </div>
    <div class="col-4">
      {% if context.bundle.bundle_data.Meta['common-info'] %}
        <div class="p-card">
          <h4 class="p-card__title">Contribute</h4>
          {% if context.bundle.bundle_data.Meta['common-info']['homepage'] %}
            <p><a href="{{ context.bundle.bundle_data.Meta['common-info']['homepage'] }}">
              Project homepage
            </a></p>
          {% endif %}
          {% if context.bundle.bundle_data.Meta['common-info']['bugs-url'] %}
            <p><a href="{{ context.bundle.bundle_data.Meta['common-info']['bugs-url'] }}">
              Submit a bug
            </a></p>
          {% endif %}
        </div>
      {% endif %}

      <div class="p-card" id="files">
        <h4 class="p-card__title">Files</h4>
        <ul ul class="p-list-tree files__list" aria-multiselectable="true" role="tablist">
          {% for file_name, file_link in context.bundle.files.items() %}
            <li class="p-list-tree__item">
              <a href="{{ file_link }}" target="_blank">{{ file_name }}</a>
            </li>
          {% endfor %}
        </ul>
        <a target="_blank" class="p-button--neutral archive-url" href="{{ context.bundle.archive_url }}">
          Download .zip
        </a>
      </div>

      <div class="p-card" id="charms">
        <h4 class="p-card__title">Bundle configuration</h4>
        <aside class="p-accordion" role="tablist" aria-multiselect="true">
          <ul class="p-accordion__list">
            <li class="p-accordion__group">
              {% for d,v in context.bundle.services.items() %}
                {% if v.Options %}
                  <button class="p-accordion__tab" id="charm-config-{{ d  }}-tab" role="tab" aria-controls="#charm-config-{{ d  }}" aria-expanded="false">
                {% else %}
                  <div class="p-accordion__tab">
                {% endif %}
                  <img src="{% if v.icon %}{{ v.icon }}{% else %}{{ STATIC_URL }}img/icons/default-charm.svg{% endif %}"
                  alt="{{ d }}" width="30" height="30" />
                  <span class="p-accordion__title">
                    {{ v.display_name }}
                  </span>
                  {% if v.Options %}
                    </button>
                  {% else %}
                    </div>
                  {% endif %}
                {% if v.Options %}
                  <section class="p-accordion__panel" id="charm-config-{{ d  }}" role="tabpanel" aria-hidden="true" aria-labelledby="charm-config-{{ d  }}-tab">
                  {% if v.Options %}
                    <dl>
                      {% for n,val in v.Options.items() %}
                        <dt>{{ n }}</dt>
                        <dd>{{ val }}</dd>
                      {% endfor %}
                    </dl>
                  {% endif %}
                </section>
                {% endif %}
              {% endfor %}
            </li>
          </ul>
        </aside>
      </div>

      <div class="p-card" id="juju-card-embed">
        <h3 class="p-card__title">Embed this bundle</h3>
        <p>Add this card to your website by copying the code below. <a ref="/community/cards">Learn more</a>.</p>
        <textarea rows="2" cols="70" readonly="readonly" wrap="off" style="color:#666">&lt;script src="https://assets.ubuntu.com/v1/juju-cards-v1.6.0.js"&gt;&lt;/script&gt;
&lt;div class="juju-card" data-id="{{ context.bundle.card_id }}" data-dd&gt;&lt;/div&gt;</textarea>
        <h4>Preview</h4>
        <script src="https://assets.ubuntu.com/v1/juju-cards-v1.6.0.js"></script>
        <div class="juju-card" data-id="{{ context.bundle.card_id }}"></div>
      </div>
    </div>
  </div>
</div>

<script src="/static/js/accordion.js"></script>
<script src="/static/js/treefilelist.js"></script>
<script>
  window.app.accordion('.p-accordion__list');
  window.app.treeifyFileList();
</script>

{% endblock %}
