{% extends "_layout.html" %}

{% set active_section = "store" %}

{% block title %}{{ context.entity.display_name }}{% endblock %}
{% block meta_description %}Deploy {{ context.entity.display_name }} to bare metal and public or private clouds using the Juju GUI or command line.{% endblock %}

{% block meta_tags %}
  <meta property="og:title" content="{{ context.entity.display_name }}" />
  <meta property="og:url" content="{{ request.current_route_url() }}" />
  {% if context.entity.description != '' %}
    <meta property="og:description" content="{{ context.entity.description|striptags }}" />
  {% endif %}
  <meta property="og:image" content="{{ request.route_url('icon-proxy-resize', entity_name=name, size=120, file_type='png') }}" />
{% endblock %}

{% block head_extra %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ubuntucloud">
  <meta name="twitter:creator" content="@ubuntucloud">
  <meta name="twitter:title" content="{{ context.entity.display_name }} - Juju charm">
  <meta name="twitter:image" content="{{ context.entity.icon }}">
  <meta name="twitter:description" content="{% if context.entity.description %}{{ context.entity.description|striptags }}{% else %}Deploy {{ context.entity.display_name }} to public or private clouds or even bare metal using the Juju GUI or command line.{% endif %}">
  {% if context.entity and context.exists_in_charmhub %}
    <link rel="canonical" href="https://charmhub.io/{{ context.charm_bundle_name }}" />
  {% endif %}
{% endblock %}

{% block content %}

{% include "store/_entity-header.html" %}

<div class="p-strip is-shallow">
  <div class="row">
    <div class="col-8">
      {% if context.entity.description %}
        <h3>Description</h3>
        <p>{{ context.entity.description|safe }}</p>
      {% endif %}
      <hr />
      {% if context.entity.series and context.entity.series|length > 1 %}
        <ul class="p-inline-list">
          <li class="p-inline-list__item"><strong>Series:</strong></li>
          {% for s in context.entity.series %}
            <li class="p-inline-list__item"><a href="?series={{ s }}">{{ s }}&nbsp;&rsaquo;</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if context.entity.tags %}
        <ul class="p-inline-list">
          <li class="p-inline-list__item"><strong>Tags:</strong></li>
          {% for tag in context.entity.tags %}
            <li class="p-inline-list__item"><a href="{{ url_for('jaasstore.search', tags=tag) }}">{{ tag }}&nbsp;&rsaquo;</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if context.entity.term_ids %}
        <h4>Software &amp; terms:</h4>
        <ul class="p-inline-list">
          {% for term in context.entity.term_ids %}
            <li class="p-inline-list__item">
              <a target="_blank" href="{{ url_for('jaasstore.terms', name=term.name, revision=term.revision) }}">{{ term.name }}&nbsp;&rsaquo;</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if context.entity.readme != '' %}
        <div id="readme" class="readme">
          {{ context.entity.readme|safe }}
        </div>
      {% endif %}

      <hr />

      {% if context.entity.options %}
        <div id="configuration">
          <h3>Configuration</h3>
          <dl>
            {% for n,val in context.entity.options.items() %}
              <dt id="charm-config-{{ n }}">
                <a href="#charm-config-{{ n }}">
                  {{ n }}
                </a>
              </dt>
              <dd>
                {% if val.Type %}
                  ({{ val.Type }})
                {% endif %}
                {% if val.Description %}
                  {{ val.Description }}
                {% endif %}
              </dd>
              {% if val.Default %}
                <dd>{{ val.Default }}</dd>
              {% endif %}
            {% endfor %}
          </dl>
        </div>
      {% endif %}
    </div>
    <aside class="col-4">
      {% if context.expert %}
        {% if context.entity.supported %}
          {% include "shared/_plan-card.html" %}
        {% endif %}
        <div class="p-card expert-card has-strap">
          <div class="expert__strap">
            Juju expert partners
          </div>
          {% include "shared/contact-card/_entity-page.html" %}
        </div>
      {% endif %}
      {% if context.entity.code_url or context.entity.bugs_url or context.entity.homepage %}
        <div class="p-card">
          <h3>Contribute</h3>
          <ul class="p-list">
            {% if context.entity.code_url %}
              <li class="p-list__item">
                <a href="{{ context.entity.code_url }}" class="p-link--external">
                  View repository
                </a>
              </li>
            {% endif %}
            {% if context.entity.bugs_url %}
              <li class="p-list__item">
                <a href="{{ context.entity.bugs_url }}" class="p-link--external">
                  Submit a bug
                </a>
              </li>
            {% endif %}
            {% if context.entity.homepage %}
              <li class="p-list__item">
                <a href="{{ context.entity.homepage }}" class="p-link--external">
                  Project homepage
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}

      {% if context.entity.resources %}
        <div class="p-card">
          <h3>
            {{ context.entity.resources|length }}
            resources
          </h3>
          <ul class="p-list">
            {% for resourcename, resourcefile in context.entity.resources.items() %}
              <li class="p-list__item">
              {% if resourcefile[1] %}
                  <a href='{{resourcefile[1]}}' target='_blank'>{{ resourcename }} {% if resourcefile[0] %}({{ resourcefile[0] }}) {% endif %}</a>
              {% else %}
                  {{ resourcename }} {% if resourcefile[0] %}({{ resourcefile[0] }}) {% endif %}
              {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if context.entity.requires or context.entity.provides %}
        <div class="p-card" id="relations" style="overflow:visible">
          <h3>
            Relations
            <span class="p-tooltip p-tooltip--top-right" style="position: relative; top: -2px;">
              <i class="p-icon--question" aria-describedby="tp-right"></i>
              <span class="p-tooltip__message" role="tooltip" id="tp-right">Relations enable services to easily and securely share information with each other.</span>
            </span>
          </h3>
          <ul class="p-list">
            {% if context.entity.requires %}
              {% for name, value in context.entity.requires.items() %}
                <li class="p-list__item">
                  <a href="{{ url_for('jaasstore.search', provides=value.Interface) }}" >{{ name }}: {{ value.Interface }}</a>
                </li>
              {% endfor %}
            {% endif %}
            {% if context.entity.provides %}
              {% for name, value in context.entity.provides.items() %}
                <li class="p-list__item">
                  <a href="{{ url_for('jaasstore.search', requires=value.Interface) }}" >{{ name }}: {{ value.Interface }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      {% endif %}

      <div class="p-card" id="files">
        <h3 class="section__title">
          Files
        </h3>
        <ul class="p-list-tree files__list" aria-multiselectable="true" role="tablist">
          {% for filename, file_link in context.entity.files.items() %}
            <li class="p-list-tree__item">
              <a href='{{ file_link }}' target='_blank'>{{ filename }}</a>
            </li>
          {% endfor %}
        </ul>
        <a target="_blank" class="p-button--neutral archive-url" href="{{ context.entity.archive_url }}">
            Download .zip
        </a>
      </div>
    </aside>
  </div>
</div>

<script src="{{ static_url('js/treefilelist.js') }}"></script>
<script>
  window.app.treeifyFileList();
</script>

{% endblock %}
