{% extends "_layout.html" %}

{% block title %}{{ context.charm.charm_data['Meta']['charm-metadata']['Name'] }}{% endblock %}
{% block meta_description %}Deploy {{ context.charm.charm_data['Meta']['charm-metadata']['Name'] }} to bare metal and public or private clouds using the Juju GUI or command line.{% endblock %}


{% block meta_tags %}
  <meta property="og:title" content="{{ context.charm.charm_data['Meta']['charm-metadata']['Name'] }}" />
  <meta property="og:url" content="{{ request.current_route_url() }}" />
  {% if description != '' %}
    <meta property="og:description" content="{{ context.charm.description|striptags }}" />
  {% endif %}
  <meta property="og:image" content="{{ request.route_url('icon-proxy-resize', entity_name=name, size=120, file_type='png') }}" />
{% endblock %}

{% block head_extra %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ubuntucloud">
  <meta name="twitter:creator" content="@ubuntucloud">
  <meta name="twitter:title" content="{{ context.charm.charm_data['Meta']['charm-metadata']['Name'] }} - Juju charm">
  <meta name="twitter:image" content="{{ request.route_url('icon-proxy-resize', entity_name=name, size=120, file_type='png') }}">
  <meta name="twitter:description" content="{% if description %}{{ description|striptags }}{% else %}Deploy {{ context.charm.charm_data['Meta']['charm-metadata']['Name'] }} to public or private clouds or even bare metal using the Juju GUI or command line.{% endif %}">
  <link rel="canonical" href="{{ canonical_url }}" />
{% endblock %}

{% block content %}

<div class="p-strip--light is-bordered is-shallow" data-js="sticky-header">
  <header class="row">
    <div class="col-8">
      <div class="p-media-object--large u-no-margin--bottom">
        <img src="{{ context.charm.icon }}" alt="" width="96" id="the-icon" class="p-media-object__image is-round" />
        <div class="p-media-object__details">
          <h1 itemprop="name" class="p-media-object__title u-no-margin--bottom u-sv2" style="text-transform:capitalize">
            <span>
              {{ context.charm.charm_data['Meta']['charm-metadata']['Name'] }}
            </span>
            <sup class="p-heading--three">
              #{{ context.charm.revision_number }}
            </sup>
          </h1>
          <ul class="p-media-object__meta-list u-no-margin--bottom">
              <li class="p-media-object__meta-list-item u-no-padding--left">
                <strong>By</strong> <a href="/u/{{ context.charm.charm_data['Meta']['owner']['User'] }}">{{ context.charm.charm_data['Meta']['owner']['User'] }}</a>
              </li>
              <li class="p-media-object__meta-list-item u-no-padding--left">
                {% if context.charm.revision_number != context.charm.latest_revision['id'] %}
                  <a href="/{{ context.charm.latest_revision['url'] }}"
                    onclick="dataLayer.push({
                      'event' : 'GAEvent',
                      'eventCategory' : 'Charm Details Link',
                      'eventAction' : 'Goto latest version',
                      'eventLabel' : 'Latest version (#ID)',
                      'eventValue' : '{{ context.charm.latest_revision['full_id'] }}'
                    });"><strong>Latest version</strong> (#{{ context.charm.latest_revision['id'] }})
                  </a>
                {% else %}
                  <strong>Latest version</strong> (#{{ context.charm.latest_revision['id'] }})
                {% endif %}
              </li>
              <li class="p-media-object__meta-list-item u-no-padding--left">
                <strong>Series:</strong> {{ context.charm.series|join(', ') }}
              </li>
              <li class="p-media-object__meta-list-item u-no-padding--left">
                <strong>Channels:</strong>
                {% for channel_details in context.charm.charm_data['Meta']['published']['Info'] %}
                  {{ channel_details['Channel'] }},
                {% endfor %}
              </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="p-code-snippet">
        <input class="p-code-snippet__input deploy-command__field" value="{{ context.charm.id }}" readonly="readonly">
        <button class="p-code-snippet__action">Copy to clipboard</button>
      </div>
      <p>
        {% set new_model_url = "/new/?deploy-target=" + context.charm.id %}
        <a href="/{{ new_model_url }}" class="p-button--positive row" rel="nofollow">
          Add to new model
        </a>
      </p>
      <ul class="p-inline-list u-no-margin--bottom u-equal-height">
        <li class="p-inline-list__item u-vertically-center">
          <strong>Share:</strong>
        </li>
        <li class="p-inline-list__item">
          <a href="https://twitter.com/intent/tweet?text={{ context.charm.display_name }}%20charm&via=ubuntu_cloud&url={{ request.url | urlencode }}">
            <i class="p-icon--twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </header>
</div>

<div class="p-strip is-shallow">
  <div class="row">
    <div class="col-8">
      {% if context.charm.charm_data['Meta']['charm-metadata']['Description'] != '' %}
        <h3>Description</h3>
        <p>{{ context.charm.charm_data['Meta']['charm-metadata']['Description']|safe }}</p>
      {% endif %}
      <hr />
      {% if context.charm.series and context.charm.series|length > 1 %}
        <ul class="p-inline-list">
          <li class="p-inline-list__item"><strong>Series:</strong></li>
          {% for s in context.charm.series %}
            <li class="p-inline-list__item"><a href="?series={{ s }}">{{ s }}&nbsp;&rsaquo;</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if context.charm.charm_data['Meta']['charm-metadata']['Tags'] %}
        <ul class="p-inline-list">
          <li class="p-inline-list__item"><strong>Tags:</strong></li>
          {% for tag in context.charm.charm_data['Meta']['charm-metadata']['Tags'] %}
            <li class="p-inline-list__item"><a href="/search?tags={{ tag }}">{{ tag }}&nbsp;&rsaquo;</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if context.charm.terms %}
        <h4>Software &amp; terms:</h4>
        {% for name, term in context.charm.terms.iteritems() %}
          {% if term.revision %}
            {% set term_url = '/terms/' + name + '/' + term.revision|string %}
          {% else %}
            {% set term_url = '/terms/' + name %}
          {% endif %}
          <a target="_blank" href="{{ term_url }}">{{ name }}&nbsp;&rsaquo;</a>
        {% endfor %}
      {% endif %}
      {% if context.charm.readme != '' %}
        <div id="readme" class="readme">
          {{ context.charm.readme|safe }}
        </div>
      {% endif %}

      <hr />

      {% if context.charm.options %}
        <div id="configuration">
          <h3>Configuration</h3>
          <dl>
            {% for n,val in context.charm.options.items() %}
              <dt id="charm-config-{{ n }}">
                <a href="#charm-config-{{ n }}">
                  {{ n }}
                </a>
              </dt>
              <dd>
                {% if val.Type %}
                  ({{ val.Type }})
                {% endif %}
                {% if val.Description %}
                  {{ val.Description }}
                {% endif %}
              </dd>
              {% if val.Default %}
                <dd>{{ val.Default }}</dd>
              {% endif %}
            {% endfor %}
          </dl>
        </div>
      {% endif %}
    </div>
    <aside class="col-4">
      {% if context.charm.code_url or context.charm.bug_url or context.charm.homepage %}
        <div class="p-card">
          <h3>Contribute</h3>
          <ul class="p-list">
            {% if context.charm.code_url %}
              <li class="p-list__item">
                <a href="{{ context.charm.code_url }}" class="p-link--external">
                  View repository
                </a>
              </li>
            {% endif %}
            {% if context.charm.bug_url %}
              <li class="p-list__item">
                <a href="{{ context.charm.bug_url }}" class="p-link--external">
                  Submit a bug
                </a>
              </li>
            {% endif %}
            {% if context.charm.homepage %}
              <li class="p-list__item">
                <a href="{{ context.charm.homepage }}" class="p-link--external">
                  Project homepage
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}

      {% if context.charm.resources %}
        <div class="p-card">
          <h3>
            {{ context.charm.resources|length }}
            resources
          </h3>
          <ul class="p-list">
            {% for resourcename, resourcefile in context.charm.resources.items() %}
              <li class="p-list__item">
              {% if resourcefile[1] %}
                  <a href='/{{resourcefile[1]}}' target='_blank'>{{ resourcename }} {% if resourcefile[0] %}({{ resourcefile[0] }}) {% endif %}</a>
              {% else %}
                  {{ resourcename }} {% if resourcefile[0] %}({{ resourcefile[0] }}) {% endif %}
              {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if context.charm.requires or context.charm.provides %}
        <div class="p-card" id="relations" style="overflow:visible">
          <h3>
            Relations
            <span class="p-tooltip p-tooltip--top-right" style="position: relative; top: -2px;">
              <i class="p-icon--question" aria-describedby="tp-right"></i>
              <span class="p-tooltip__message" role="tooltip" id="tp-right">Relations enable services to easily and securely share information with each other.</span>
            </span>
          </h3>
          <ul class="p-list">
            {% if context.charm.requires %}
              {% for name, value in context.charm.requires.items() %}
                <li class="p-list__item">
                  <a target="_blank" href="/search/?provides={{ value.Interface }}" >{{ name }}: {{ value.Interface }}</a>
                </li>
              {% endfor %}
            {% endif %}
            {% if context.charm.provides %}
              {% for name, value in context.charm.provides.items() %}
                <li class="p-list__item">
                  <a target="_blank" href="/search?requires={{ value.Interface }}" >{{ name }}: {{ value.Interface }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      {% endif %}

      <div class="p-card" id="files">
        <h3 class="section__title">
          Files
        </h3>
        <ul class="p-list-tree files__list" aria-multiselectable="true" role="tablist">
          {% for filename, file_link in context.charm.files.items() %}
            <li class="p-list-tree__item">
              <a href='{{ file_link }}' target='_blank'>{{ filename }}</a>
            </li>
          {% endfor %}
        </ul>
        <a target="_blank" class="p-button--neutral archive-url" href="{{ context.charm.archive_url }}">
            Download .zip
        </a>
      </div>

      <div class="p-card" id="juju-card-embed">
        <h3>Embed this charm</h3>
        <p>Add this card to your website by copying the code below. <a href="/community/cards">Learn more</a>.</p>
        <textarea rows="2" cols="70" readonly="readonly" wrap="off" style="color:#666">&lt;script src="https://assets.ubuntu.com/v1/juju-cards-v1.6.0.js"&gt;&lt;/script&gt;
&lt;div class="juju-card" data-id="{{ context.charm.card_id }}" data-dd&gt;&lt;/div&gt;</textarea>
        <h4>Preview</h4>
        <script src="https://assets.ubuntu.com/v1/juju-cards-v1.6.0.js"></script>
        <div class="juju-card" data-id="{{ context.charm.card_id }}" data-dd></div>
      </div>
    </aside>
  </div>
</div>

<script src="/static/js/treefilelist.js"></script>
<script>
  window.app.treeifyFileList();
</script>

{% endblock %}
