{% extends "_layout.html" %}

{% block title %}Search results for {{ context.query }}{% endblock %}

{% block content %}
{% if context.results_count > 0 %}
  {% macro full_series(series) -%}
    {% if series|lower == 'oneiric' %}
      Oneiric 11.10
    {% elif series|lower == 'precise' %}
      Precise 12.04
    {% elif series|lower == 'quantal' %}
      Quantal 12.10
    {% elif series|lower == 'raring' %}
      Raring 13.04
    {% elif series|lower == 'saucy' %}
      Saucy 13.10
    {% elif series|lower == 'trusty' %}
      Trusty 14.04
    {% elif series|lower == 'utopic' %}
      Utopic 14.10
    {% elif series|lower == 'vivid' %}
      Vivid 15.04
    {% elif series|lower == 'wily' %}
      Wily 15.10
    {% elif series|lower == 'xenial' %}
      Xenial 16.04
    {% elif series|lower == 'yakkety' %}
      Yakkety 16.10
    {% elif series|lower == 'zesty' %}
      Zesty 17.04
    {% elif series|lower == 'artful' %}
      Artful 17.10
    {% elif series|lower == 'bionic' %}
      Bionic 18.04
    {% elif series|lower == 'cosmic' %}
      Cosmic 18.10
    {% else %}
      {{ series|capitalize }}
    {% endif %}
  {%- endmacro %}

  {% if context.query %}
    <div class="p-strip">
      <div class="row">
        <div class="col-12 search-results__overview">
          Your search for <strong>&lsquo;{{ context.query }}&rsquo;</strong> returned
          {{ context.results_count }} result{{ context.results_count|pluralize }}.
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row filter-row">
     <div class="col-4">
       <ul class="p-inline-list entitity-search-selector">
         <li class="p-inline-list__item {% if context.current_type == None %}is-selected{% endif %}"
             data-type="all" tabindex="0" role="button">
             All
         </li>
         <li class="p-inline-list__item {% if context.current_type == 'charm' %}is-selected{% endif %}"
             data-type="charm" tabindex="0" role="button">
             Charms
         </li>
         <li class="p-inline-list__item {% if context.current_type == 'bundle' %}is-selected{% endif %}"
             data-type="bundle" tabindex="0" role="button">
             Bundles
         </li>
       </ul>
     </div>
     <div class="col-8">
       <div class="list-block__filters--selects u-clearfix">
         <form>
           <div class="col-4">
             <div class="list-block__filters--selects-item">
               <label for="sort-select">
                 Sort by:
               </label>
             </div>
             <div class="list-block__filters--selects-item">
               <select name="sort-select" class="js-sort-select">
               <option value="-downloads" {% if context.current_sort == '-downloads' %}selected="selected"{% endif %}>
                 Most popular
               </option>
               <option value="downloads" {% if context.current_sort == 'downloads' %}selected="selected"{% endif %}>
                 Least popular
               </option>
               <option value="name" {% if context.current_sort == 'name' %}selected="selected"{% endif %}>
                 Name (a-z)
               </option>
               <option value="-name" {% if context.current_sort == '-name' %}selected="selected"{% endif %}>
                 Name (z-a)
               </option>
               <option value="owner" {% if context.current_sort == 'owner' %}selected="selected"{% endif %}>
                 Author (a-z)
               </option>
               <option value="-owner" {% if context.current_sort == '-owner' %}selected="selected"{% endif %}>
                 Author (z-a)
               </option>
             </select>
             </div>
           </div>
           <div class="col-4">
             <div class="list-block__filters--selects-item">
               <label for="series-select">
                 Series:
               </label>
             </div>
             <div class="list-block__filters--selects-item">
               <select class="js-series-select">
               {# The series list has been limited to sane options, full list is here:
               https://github.com/juju/charmstore/blob/v5-unstable/internal/router/router.go#L33  #}
               {% for series in ['all', 'precise', 'trusty', 'xenial', 'bionic', 'centos7'] %}
                 <option value="{{ series }}"
                   {% if context.current_series == series %}selected="selected"{% endif %}>
                   {{ full_series(series) }}
                 </option>
               {% endfor %}
             </select>
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
   {% if context.results.recommended %}
     <div class="row">
       <h4>
         Recommended
         <span class="count">
           ({{ context.results.recommended|length }})
         </span>
       </h4>
       <table class="search-results-table">
         <tbody>
           {% for entity in context.results.recommended %}
             <tr class="{{ entity.type }} u-no-padding--top">
               {% with %}
                 {% set outerloop = loop %}
                 {% include "store/_search_row.html" %}
               {% endwith %}
             </tr>
           {% endfor %}
         </tbody>
       </table>
     </div>
   {% endif %}

   {% if context.results.community %}
     {% if context.results.recommended %}
       <div class="row">
         <div class="col-12 u-align--center">
           <button class="p-button--neutral js-show-community-results">
             Show {{ context.results.community|length }} community results
           </button>
         </div>
       </div>
     {% endif %}
     <div class="row {% if context.results.recommended %}u-hide community-results{% endif %}">
       <div class="col-12">
         <h4>Community <span class="count">({{ context.results.community|length }})</span></h4>
         <table class="search-results-table">
           <tbody>
             {% for entity in context.results.community %}
             <tr class="{{ entity.type }} u-no-padding--top">
               {% with %}
                 {% set outerloop = loop %}
                 {% include "store/_search_row.html" %}
               {% endwith %}
             </tr>
             {% endfor %}
           </tbody>
         </table>
       </div>
       {% if context.results.recommended %}
         <script type="text/javascript">
           var button = document.querySelector('.js-show-community-results');
           var results = document.querySelector('.community-results');
           button.addEventListener('click', function (e) {
             results.classList.toggle('u-hide');
             if (results.classList.contains('u-hide')) {
               button.innerText = 'Show {{ context.results.community|length }} community results';
             } else {
               button.innerText = 'Hide community results';
             }
           });
         </script>
       {% endif %}
     </div>
   {% endif %}

  <script>
    /**
     * Change the sort order of the search results.
     * @param {String} type the type of filter to change.
     * @param {String} value the new filter value.
     */
    function _searchChangeFilter(type, value) {
      const url = window.location.href.split('?')[0];
      const queries = {};
      window.location.search.substr(1).split('&').forEach(ele => {
        const parts = ele.split('=');
        if (parts[0]) {
          queries[parts[0]] = parts[1];
        }
      })
      // No need to change the url if the filter value is already selected.
      if (value !== queries[type]) {
        if ((type === 'series' || type === 'type') && value === 'all') {
          delete queries[type];
        } else {
          queries[type] = value;
        }
        const queryString = Object.keys(queries).map(key => `${key}=${queries[key]}`).join('&');
        window.location = `${url}?${queryString}`;
      }
    }
    document.querySelector('.js-sort-select')
      .addEventListener('change', e => _searchChangeFilter('sort', e.target.value));
    document.querySelector('.js-series-select')
      .addEventListener('change', e => _searchChangeFilter('series', e.target.value));
    document
      .querySelectorAll('.entitity-search-selector li')
      .forEach(ele => ele.addEventListener('click', e => _searchChangeFilter('type', e.target.dataset.type)));
  </script>
{% else %}
  <div class="p-strip">
    <div class="row">
      <div class="col-8">
        <h4>Sorry, your search for <strong>{{ context.query }}</strong> returned 0 results.</h4>
        <p>Try a more specific or different query, try other keywords or learn how to <a class="p-link--external" href="https://docs.jujucharms.com/authors-charm-writing">create your own solution</a>.</p>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
