{% extends "_layout.html" %}

{% set active_section = "store" %}

{% block title %}Search results for {{ context.query }}{% endblock %}

{% block content %}
{% if context.results_count > 0 %}
  <div class="p-strip is-shallow">
    <div class="row">
      <div class="col-12 search-results__overview">
        Your search {% if context.query %}for <strong>&lsquo;{{ context.query }}&rsquo;</strong>{% endif %} returned
        {{ context.results_count }} result{{ context.results_count|pluralize }}.
      </div>
    </div>
  </div>
  <div class="row filter-row">
     <div class="col-4">
      <nav class="p-tabs">
        <ul class="p-tabs__list entity-search-selector" role="tablist">
          <li class="p-tabs__item" role="button">
            <a href="{{ current_url_with_query(type=None) }}" class="p-tabs__link" tabindex="0" role="button" {% if context.current_type == None %}aria-selected="true"{% endif %} data-type="all">All</a>
          </li>
          <li class="p-tabs__item" role="button">
            <a href="{{ current_url_with_query(type='charm') }}" class="p-tabs__link" tabindex="-1" role="button" {% if context.current_type == 'charm' %}aria-selected="true"{% endif %} data-type="charm">Charms</a>
          </li>
          <li class="p-tabs__item" role="button">
            <a href="{{ current_url_with_query(type='bundle') }}" class="p-tabs__link" tabindex="-1" role="button" {% if context.current_type == 'bundle' %}aria-selected="true"{% endif %} data-type="bundle">Bundles</a>
          </li>
        </ul>
      </nav>
     </div>
     <div class="col-8">
       <form>
          <div class="list-block__filters--selects u-clearfix">
            <div class="list-block__filter">
              <div class="list-block__filters--selects-item u-vertically-center">
                <label for="sort-select">
                  Sort by:
                </label>
              </div>
              <div class="list-block__filters--selects-item">
                <select name="sort-select" class="js-sort-select">
                <option value="-downloads" {% if context.current_sort == '-downloads' %}selected="selected"{% endif %}>
                  Most popular
                </option>
                <option value="downloads" {% if context.current_sort == 'downloads' %}selected="selected"{% endif %}>
                  Least popular
                </option>
                <option value="name" {% if context.current_sort == 'name' %}selected="selected"{% endif %}>
                  Name (a-z)
                </option>
                <option value="-name" {% if context.current_sort == '-name' %}selected="selected"{% endif %}>
                  Name (z-a)
                </option>
                <option value="owner" {% if context.current_sort == 'owner' %}selected="selected"{% endif %}>
                  Author (a-z)
                </option>
                <option value="-owner" {% if context.current_sort == '-owner' %}selected="selected"{% endif %}>
                  Author (z-a)
                </option>
              </select>
              </div>
            </div>
            <div class="list-block__filter">
              <div class="list-block__filters--selects-item u-vertically-center">
                <label for="series-select">
                  Filter:
                </label>
              </div>
              <div class="list-block__filters--selects-item">
                <span class="p-contextual-menu">
                  <select name="series-select" class="p-contextual-menu__toggle" aria-controls="#menu" aria-expanded="false" aria-haspopup="true">
                    {# The series list has been limited to sane options, full list is here:
                      https://github.com/juju/charmstore/blob/v5/internal/series/series.go  #}
                    <option default>
                      All
                    </option>
                    {% for series in context.all_series %}
                      <option value="{{ series }}" {% if context.current_series == series %}selected="selected"{% endif %}>
                        {{ series }}
                      </option>
                    {% endfor %}
                  </select>
                  {% macro series_tag(series, label) -%}
                    <a href="{{ current_url_with_query(series=series) }}" class="series-tag series-tag--{{ series }}">
                      {{ label or series }}
                    </a>
                  {%- endmacro %}
                  <span class="p-contextual-menu__dropdown" id="menu" aria-hidden="true" aria-label="submenu">
                    <ul class="p-list u-no-margin--bottom">
                      <li class="p-list__item {% if not context.current_series %}p-list__item--active{% endif %}">
                        <a href="{{ current_url_with_query(series=None) }}" class="list-block__filter--link">
                           All
                        </a>
                      </li>
                      <li class="p-list__item {% if context.current_series == 'kubernetes' %}p-list__item--active{% endif %}">
                        {{ series_tag('kubernetes') }}
                      </li>
                      <li class="p-list__item {% if context.current_series and (
                        context.current_series == 'xenial' or
                        context.current_series == 'bionic' or
                        context.current_series == 'cosmic' or
                        context.current_series == 'focal' or
                        context.current_series == 'trusty') %}p-list__item--active{% endif %}">
                        {% for series in ['xenial', 'bionic', 'cosmic', 'trusty', 'focal'] %}{{ series_tag(series) }}{% endfor %}
                      </li>
                      <li class="p-list__item {% if context.current_series == 'centos7' %}p-list__item--active{% endif %}">
                        {{ series_tag('centos7') }}
                      </li>
                      <li class="p-list__item {% if context.current_series == 'win2016' %}p-list__item--active{% endif %}">
                        {{ series_tag('win2016', 'windows') }}
                      </li>
                    </ul>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </form>
     </div>
   </div>
   {% if context.results.recommended %}
     <div class="row">
       <h4>
         Recommended
         <span class="count">
           ({{ context.results.recommended|length }})
         </span>
       </h4>
       <table class="search-results-table">
        <thead>
          <tr>
            <th scope="col" class="u-hide--small u-vertically-center"></th>
            <th scope="col">Name/Tags</th>
            <th scope="col">Supports</th>
            <th scope="col">Publisher</th>
          </tr>
        </thead>
         <tbody>
           {% for entity in context.results.recommended %}
             <tr class="{{ entity.type }} u-no-padding--top">
               {% with %}
                 {% include "store/_search_row.html" %}
               {% endwith %}
             </tr>
           {% endfor %}
         </tbody>
       </table>
     </div>
   {% endif %}

   {% if context.results.community %}
     {% if context.results.recommended %}
       <div class="row">
         <div class="col-12 u-align--center">
           <button class="p-button--neutral js-show-community-results">
             Show {{ context.results.community|length }} community results
           </button>
         </div>
       </div>
     {% endif %}
     <div class="row {% if context.results.recommended %}u-hide community-results{% endif %}">
       <div class="col-12">
         <h4>Community <span class="count">({{ context.results.community|length }})</span></h4>
         <table class="search-results-table">
          <thead>
            <tr>
              <th scope="col" class="u-hide--small u-vertically-center"></th>
              <th scope="col">Name/Tags</th>
              <th scope="col">Supports</th>
              <th scope="col">Publisher</th>
            </tr>
          </thead>
           <tbody>
             {% for entity in context.results.community %}
             <tr class="{{ entity.type }} u-no-padding--top">
               {% with %}
                 {% set outerloop = loop %}
                 {% include "store/_search_row.html" %}
               {% endwith %}
             </tr>
             {% endfor %}
           </tbody>
         </table>
       </div>
       {% if context.results.recommended %}
         <script type="text/javascript">
           var button = document.querySelector('.js-show-community-results');
           var results = document.querySelector('.community-results');
           button.addEventListener('click', function (e) {
             results.classList.toggle('u-hide');
             if (results.classList.contains('u-hide')) {
               button.innerText = 'Show {{ context.results.community|length }} community results';
             } else {
               button.innerText = 'Hide community results';
             }
           });
         </script>
       {% endif %}
     </div>
   {% endif %}

  <script src="{{ static_url('js/dist/search-filters.js') }}"></script>
  <script src="{{ static_url('js/dist/search-icons.js') }}"></script>
{% else %}
  <div class="p-strip">
    {% if context.query and context.query|length <= 2 %}
      <div class="row">
        <div class="col-12">
          <div class="p-notification--negative">
            <p class="p-notification__response">
              <span class="p-notification__status">Error:</span> Your search query needs to be more than two characters.
            </p>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-8">
        {% if context.query %}
          <h4>Sorry, your search for <strong>{{ context.query }}</strong> returned 0 results.</h4>
          <p>Try a more specific or different query, try other keywords or learn how to <a href="{{ external_urls.docs }}/authors-charm-writing" class="p-link--external">create your own solution</a>.</p>
        {% else %}
          <h4>Sorry, your search query is empty.</h4>
          <p>Please enter your search terms above and try again.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
