{% extends "_layout.html" %}

{% set active_section = "store" %}

{% block title %}Store{% endblock %}
{% block description %}Browse Juju's entire repository of solutions and find Charms or Bundles for any problem, including OpenStack, Big Data, MongoDB and Elastic search.{% endblock %}

{% block content %}
<div class="p-strip u-no-padding--bottom">
  <div class="row">
    <div class="u-equal-height">
        <div class="col-4 p-card store-promo--k8">
          <div class="u-align--center">
            <img width="150" src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="Kubernetes logo">
            <h2>Kubernetes</h2>
            <a href="{{ url_for('jaasai.kubernetes') }}" class="p-button--neutral">Find out more</a>
          </div>
        </div>
        <div class="col-4 p-card store-promo--hadoop">
          <div class="u-align--center">
            <img width="195" src="https://assets.ubuntu.com/v1/883e4977-hadoop-elephant.png" alt="Hadoop logo">
            <h2>Big data</h2>
            <a href="{{ url_for('jaasai.big_data') }}" class="p-button--neutral">Find out more</a>
          </div>
        </div>
        <div class="col-4 has-strap">
          {% set expert_card = {'show_footer_rule': True, 'heading_style': 'padding:0.5rem 0 0.5rem'} %}
          {% include "shared/store-card/_random.html" %}
       </div>
    </div>
  </div>
</div>

<div class="p-strip is-shallow u-no-padding--bottom">
  <div class="row">
    <div class="u-equal-height">
      <div class="col-6 p-card">
      <div class="col-2 u-align--center">
        <img src="{{ static_url('img/store/charm-icon.png') }}" alt="Illustration of a Charm pictogram">
      </div>
      <div class="col-4 u-no-margin--left">
        <p>Charms are sets of scripts that simplify the deployment and management tasks of a service. They are regularly reviewed and updated.</p>
        <a href="{{ url_for('jaasstore.search', type='charm') }}" class="p-button--neutral">View all the charms</a>
      </div>
    </div>
      <div class="col-6 p-card">
      <div class="col-2 u-align--center">
        <img src="{{ static_url('img/store/bundle-icon.png') }}" alt="Illustration of a Bundle pictogram">
      </div>
      <div class="col-4 u-no-margin--left">
        <p>Bundles are collections of charms that link applications together, so you can deploy whole chunks of infrastructure in one go.</p>
        <a href="{{ url_for('jaasstore.search', type='bundle') }}" class="p-button--neutral">View all the bundles</a>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="p-strip is-shallow is-bordered">
  <div class="row">
    <div class="col-12">
      <h3 class="p-muted-heading u-align--center" style="max-width:100%">Categories</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 prefix-1 suffix-1 u-align--center">
      <ul class="p-inline-list">
        <li class="p-inline-list__item"><a class="p-link--strong" href="{{ url_for('jaasstore.search', q='databases') }}">databases</a></li>
        <li class="p-inline-list__item"><a class="p-link--strong" href="{{ url_for('jaasstore.search', q='app-servers') }}">app-servers</a></li>
        <li class="p-inline-list__item"><a class="p-link--strong" href="{{ url_for('jaasstore.search', q='file-servers') }}">file-servers</a></li>
        <li class="p-inline-list__item"><a class="p-link--strong" href="{{ url_for('jaasstore.search', q='monitoring') }}">monitoring</a></li>
        <li class="p-inline-list__item"><a class="p-link--strong" href="{{ url_for('jaasstore.search', q='ops') }}">ops</a></li>
        <li class="p-inline-list__item"><a class="p-link--strong" href="{{ url_for('jaasstore.search', q='openstack') }}">openstack</a></li>
        <li class="p-inline-list__item"><a class="p-link--strong" href="{{ url_for('jaasstore.search', q='applications') }}">applications</a></li>
        <li class="p-inline-list__item"><a class="p-link--strong" href="{{ url_for('jaasstore.search', q='misc') }}">misc</a></li>
        <li class="p-inline-list__item"><a class="p-link--strong" href="{{ url_for('jaasstore.search', q='network') }}">network</a></li>
        <li class="p-inline-list__item"><a class="p-link--strong" href="{{ url_for('jaasstore.search', q='analytics') }}">analytics</a></li>
        <li class="p-inline-list__item"><a class="p-link--strong" href="{{ url_for('jaasstore.search', q='apache') }}">apache</a></li>
        <li class="p-inline-list__item"><a class="p-link--strong" href="{{ url_for('jaasstore.search', q='security') }}">security</a></li>
        <li class="p-inline-list__item"><a class="p-link--strong" href="{{ url_for('jaasstore.search', q='storage') }}">storage</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="p-strip u-no-padding--bottom">
  <div class="row">
    <div class="col-12">
      <h2>Operations</h2>
      <div class="p-card pictogram-bg">
        <div class="u-equal-height entity-cards">
          <div class="col-6">
            <h3>Nagios</h3>
            <p>By <a href="{{ url_for('jaasstore.user_details', username='charmers') }}">charmers</a></p>
            <p>Nagios offers complete monitoring, management and alerting of any service from the charm store that is related to it.</p>
            <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='nagios') }}" class="p-button--neutral">View the charm</a>
          </div>
          <div class="col-6 u-align--center u-vertically-center u-hide--small prefix-2">
            <img width="144" src="https://assets.ubuntu.com/v1/4d474129-nagios.svg" alt="Nagios logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <div class="u-equal-height entity-cards">
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img src="{{ external_urls.charmstore }}kibana/icon.svg" alt="Kibana icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='kibana') }}">Kibana</a>
            </h3>
            <p class="p-media-object__content">by containers</p>
          </div>
        </div>
      </div>
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img width="60" src="{{ external_urls.charmstore }}logstash/icon.svg" alt="Logstash icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='logstash') }}">Logstash</a>
            </h3>
            <p class="p-media-object__content">by containers</p>
          </div>
        </div>
      </div>
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img width="60" src="{{ external_urls.charmstore }}elasticsearch/icon.svg" alt="Elasticsearch icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='elasticsearch') }}">Elasticsearch</a>
            </h3>
            <p class="p-media-object__content">by onlineservices-charmers</p>
          </div>
        </div>
      </div>
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img width="60" src="{{ external_urls.charmstore }}prometheus/icon.svg" alt="Prometheus icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='prometheus') }}">Prometheus</a>
            </h3>
            <p class="p-media-object__content">by prometheus-charmers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="u-equal-height entity-cards">
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img src="{{ external_urls.charmstore }}munin/icon.svg" alt="Munin icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='munin') }}">Munin</a>
            </h3>
            <p class="p-media-object__content">by charmers</p>
          </div>
        </div>
      </div>
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img src="{{ external_urls.charmstore }}rsyslog/icon.svg" alt="Rsyslog icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='rsyslog') }}">Rsyslog</a>
            </h3>
            <p class="p-media-object__content">by charmers</p>
          </div>
        </div>
      </div>
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img src="{{ external_urls.charmstore }}zabbix-server/icon.svg" alt="Zabbix Server icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='zabbix-server') }}">Zabbix Server</a>
            </h3>
            <p class="p-media-object__content">by charmers</p>
          </div>
        </div>
      </div>
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img src="{{ external_urls.charmstore }}~ricardokirkner/sentry/icon.svg" alt="Sentry icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='sentry') }}">Sentry</a>
            </h3>
            <p class="p-media-object__content">by ricardokirkner</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        <a href="{{ url_for('jaasstore.search', q='ops') }}">View all operations&nbsp;&rsaquo;</a>
      </p>
    </div>
  </div>
</div>

<div class="p-strip--light is-shallow">
  <div class="row">
    <div class="col-6">
      <h2>Container management</h2>
      <p>Juju makes it easy to deploy container management solutions by provisioning, installing and configuring all the systems in the cluster.</p>
      <p><a href="{{ url_for('jaasai.containers') }} class="p-button--neutral">View bundles</a></p>
    </div>
    <div class="col-6">
      <img src="{{ static_url('img/store/kubernetes-promo.png') }}" alt="Kubernetes promo pictogram">
    </div>
  </div>
</div>

<div class="p-strip u-no-padding--bottom">
  <div class="row">
    <div class="col-12">
      <h2>Analytics</h2>
      <div class="p-card pictogram-bg">
        <div class="u-equal-height">
          <div class="col-6">
            <h3>Realtime Syslog Analytics</h3>
            <p>By <a href="{{ url_for('jaasstore.user_details', username='bigdata-charmers') }}">bigdata-charmers</a></p>
            <p>This bundle provides a big data environment for analysing syslog events. Built around Apache Hadoop components, it offers a repeatable and reliable way to setup complex software across multiple substrates.</p>
            <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='realtime-syslog-analytics') }}" class="p-button--neutral">View the bundle</a>
          </div>
          <div class="col-6 u-align--center u-vertically-center u-hide--small prefix-2">
            <img width="144" src="https://assets.ubuntu.com/v1/6ecdbc71-hadoop.svg" alt="Hadoop logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered">
  <div class="row">
    <div class="u-equal-height entity-cards">
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img src="{{ external_urls.charmstore }}hive/icon.svg" alt="Hive icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='hive') }}">Hive</a>
            </h3>
            <p class="p-media-object__content">by bigdata-charmers</p>
          </div>
        </div>
      </div>
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img width="60" src="{{ external_urls.charmstore }}spark/icon.svg" alt="Spark icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='spark') }}">Spark</a>
            </h3>
            <p class="p-media-object__content">by containers</p>
          </div>
        </div>
      </div>
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img width="60" src="{{ external_urls.charmstore }}zeppelin/icon.svg" alt="Zeppelin icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='zeppelin') }}">Zeppelin</a>
            </h3>
            <p class="p-media-object__content">by bigdata-charmers</p>
          </div>
        </div>
      </div>
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img width="60" src="{{ external_urls.charmstore }}elasticsearch/icon.svg" alt="Elasticsearch cluster icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='elasticsearch-cluster') }}">Elasticsearch cluster</a>
            </h3>
            <p class="p-media-object__content">by charmers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        <a href="{{ url_for('jaasstore.search', q='analytics') }}">View all analytics&nbsp;&rsaquo;</a>
      </p>
    </div>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2>Databases</h2>
      <div class="p-card pictogram-bg">
        <div class="u-equal-height">
          <div class="col-6">
            <h3>MySQL</h3>
            <p>By <a href="{{ url_for('jaasstore.user_details', username='mysql-charmers') }}" class="p-link--strong">mysql-charmers</a></p>
            <p>MySQL is a fast, stable and true multi-user, multi-threaded SQL database server. Its main goals are speed, robustness and ease of use.</p>
            <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='mysql') }}" class="p-button--neutral">View the charm</a>
          </div>
          <div class="col-6 u-align--center u-vertically-center u-hide--small prefix-2">
            <img width="144" src="https://assets.ubuntu.com/v1/80cd67d3-mysql.svg" alt="mySQL logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-strip is-bordered u-no-padding--top">
  <div class="row">
    <div class="u-equal-height entity-cards">
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img src="{{ external_urls.charmstore }}cassandra/icon.svg" alt="Cassandra icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='cassandra') }}">Cassandra</a>
            </h3>
            <p class="p-media-object__content">by Cassandra-charmers</p>
          </div>
        </div>
      </div>

      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img width="60" src="{{ external_urls.charmstore }}spark/icon.svg" alt="Mariadb icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='mariadb') }}">Mariadb</a>
            </h3>
            <p class="p-media-object__content">by mariadb-charmers</p>
          </div>
        </div>
      </div>

      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img width="60" src="{{ external_urls.charmstore }}mongodb/icon.svg" alt="mongodb icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='mongodb') }}">Mongodb</a>
            </h3>
            <p class="p-media-object__content">by charmers</p>
          </div>
        </div>
      </div>

      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img width="60" src="{{ external_urls.charmstore }}redis/icon.svg" alt="Redis icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='redis') }}">Redis</a>
            </h3>
            <p class="p-media-object__content">by charmers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="u-equal-height entity-cards">
      <div class="col-3 p-card">
        <div class="p-media-object charm-object u-no-margin--bottom">
          <img src="{{ external_urls.charmstore }}postgresql/icon.svg" alt="Postgresql icon" class="p-media-object__image is-round">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='postgresql') }}">Postgresql</a>
            </h3>
            <p class="p-media-object__content">by postgresql-charmers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        <a href="{{ url_for('jaasstore.search', q='databases') }}">View all databases&nbsp;&rsaquo;</a>
      </p>
    </div>
  </div>
</div>

<div class="p-strip is-bordered">
  <div class="row">
    <div class="col-12">
      <h2>Development tools</h2>
    </div>
  </div>
  <div class="row">
    <div class="u-equal-height entity-cards">
      <div class="col-3 p-card">
      <div class="p-media-object charm-object u-no-margin--bottom">
        <img src="{{ external_urls.charmstore }}gitlab/icon.svg" alt="Gitlab icon" class="p-media-object__image is-round">
        <div class="p-media-object__details">
          <h3 class="p-media-object__title">
            <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='gitlab') }}">Gitlab</a>
          </h3>
          <p class="p-media-object__content">by charmers</p>
        </div>
      </div>
    </div>
      <div class="col-3 p-card">
      <div class="p-media-object charm-object u-no-margin--bottom">
        <img src="{{ external_urls.charmstore }}jenkins/icon.svg" alt="Jenkins icon" class="p-media-object__image is-round">
        <div class="p-media-object__details">
          <h3 class="p-media-object__title">
            <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='jenkins') }}">Jenkins</a>
          </h3>
          <p class="p-media-object__content">by Creative</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="p-strip is-shallow">
  <div class="row u-equal-height entity-cards">
    <div class="col-6 u-vertically-center">
      <div>
        <h2>Write a charm and join the ecosystem</h2>
        <p>Creating new charms it easy. Charms can be written in your choice of language and adapting existing scripts is straightforward. You can keep new charms private, or share them back with the community.</p>
        <a class="p-link--external" href="{{ external_urls.docs }}authors-charm-writing">Learn more about writing charms</a>
      </div>
    </div>
    <div class="col-6 u-hide--small">
      <img src="{{ static_url('img/home/write-your-own.png') }}" alt="Pictogram of world map">
    </div>
  </div>
</div>

{% endblock content %}
