{% extends "_layout.html" %}

{% block title %}{{ context.username }}{% endblock %}

{% block content %}

<div class="p-strip--light is-bordered is-shallow">
  <header class="row">
    <h1 itemprop="name">
      <span>
        {{ context.username }}
      </span>
    </h1>
    <ul class="p-inline-list">
      <li class="p-inline-list__item">
        <a href="#bundles">{{ context.bundles_count }} bundle{{ context.bundles_count|pluralize }}</a>
      </li>
      <li class="p-inline-list__item">
        <a href="#charms">{{ context.charms_count }} charm{{ context.charms_count|pluralize }}</a>
      </li>
    </ul>
  </header>
</div>

{% if context.bundles %}
   <div class="p-strip">
     <div class="row">
       <div class="col-12">
         <h3 id="bundles">
             Bundles ({{ context.bundles_count }})
         </h3>
       </div>
         {% if context.bundles_count > 0 %}
           <table class="search-results-table">
            <thead>
              <tr>
                <th scope="col" class="u-hide--small u-vertically-center"></th>
                <th scope="col">Name/Tags</th>
                <th scope="col">Supports</th>
                <th scope="col">Publisher</th>
              </tr>
            </thead>
             <tbody>
             {% for entity in context.bundles %}
               <tr class="{{ entity.type }} u-no-padding--top">
                 {% with %}
                   {% include "store/_search_row.html" %}
                 {% endwith %}
               </tr>
             {% endfor %}
             </tbody>
           </table>
         {% endif %}
       </div>
     </div>
   </div>
 {% endif %}

 {% if context.charms %}
   <div class="p-strip">
     <div class="row">
       <div class="col-12">
         <h3 id="charms">
         Charms ({{ context.charms_count }})
         </h3>
       </div>
     </div>
     <div class="row">
       <div class="col-12">
         {% if context.charms_count > 0 %}
           <table class="search-results-table">
             <thead>
              <tr>
                <th scope="col" class="u-hide--small u-vertically-center"></th>
                <th scope="col">Name/Tags</th>
                <th scope="col">Supports</th>
                <th scope="col">Publisher</th>
              </tr>
             </thead>
             <tbody>
               {% for entity in context.charms %}
                 <tr class="{{ entity.type }} u-no-padding--top">
                   {% with %}
                     {% set outerloop = loop %}
                     {% include "store/_search_row.html" %}
                   {% endwith %}
                 </tr>
               {% endfor %}
             </tbody>
           </table>
         {% endif %}
       </div>
     </div>
   </div>
 {% endif %}

 <script src="{{ static_url('js/dist/search-icons.js') }}"></script>

{% endblock %}
