<div class="p-strip">
  <div class="row">
    <div class="col-8">
      <span class="expert__strap">Juju Expert Partners</span>
      <h4>
        If you are building your own solutions we would love to have you join us as a partner. We can’t wait to talk.
      </h4>
    </div>
    <div class="col-4">
      <p class="expert__strap">Become a Partner</p>
      <div class="expert__actions">
        <a href="mailto:juju-experts@canonical.com" class="p-button--positive">
          Join us&hellip;
        </a>
      </div>
    </div>
  </div>
</div>
