<header id="navigation" class="p-navigation is-dark" data-js="navigation">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/">
          <img class="p-navigation__image" width="105" height="31" src="https://assets.ubuntu.com/v1/a9e0ed4a-jaas-logo1.svg" alt="JAAS logo" />
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav">
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__items" role="menu">
        <li class="p-navigation__item">
          <a class="p-navigation__link" href="https://juju.is">Juju</a>
        </li>
        <li class="p-navigation__item">
          <a class="p-navigation__link" href="https://charmhub.io">Charmhub</a>
        </li>
        <li class="p-navigation__item--dropdown-toggle" id="learn-link">
          <a class="p-navigation__link" href="#forum-link-menu" aria-controls="forum-link-menu">Community</a>
          <ul class="p-navigation__dropdown" id="forum-link-menu" aria-hidden="true">
            <li>
              <a href="https://discourse.charmhub.io/" class="p-navigation__dropdown-item">Discourse forum</a>
            </li>
            <li>
              <a href="https://chat.charmhub.io" class="p-navigation__dropdown-item">Mattermost chat</a>
            </li>
          </ul>
        </li>
        <li class="p-navigation__item--dropdown-toggle" id="contribute-link">
          <a class="p-navigation__link" href="#docs-link-menu" aria-controls="docs-link-menu">Docs</a>
          <ul class="p-navigation__dropdown" id="docs-link-menu" aria-hidden="true">
            <li>
              <a href="/docs/juju" class="p-navigation__dropdown-item">Juju</a>
            </li>
            <li>
              <a href="/docs/sdk" class="p-navigation__dropdown-item">Charm SDK</a>
            </li>
            <li>
              <a href="/docs/dev" class="p-navigation__dropdown-item">Contribute to Juju</a>
            </li>
            <li>
              <a href="/operator-day" class="p-navigation__dropdown-item">Operator Day</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="p-navigation__items p-navigation_login global-nav" role="menu">
      </ul>
    </nav>
  </div>
</header>
