<header id="navigation" class="p-navigation" data-js="navigation">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/">
          <img class="p-navigation__image" width="105" height="31" src="https://assets.ubuntu.com/v1/a9e0ed4a-jaas-logo1.svg" alt="JAAS logo" />
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav">
      <form class="p-search-box u-no-margin--bottom" data-js="search-form" action="/q" method="GET">
        <input aria-label="Search the site" id="navigation-search" type="search" class="p-search-box__input" name="q" data-js="form-text" placeholder="Search the store"
          value="{% if context and context.query %}{{ context.query }}{% endif %}" required>
        <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search">Search</i></button>
      </form>
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__links" role="menu">
        <li class="p-navigation__link {% if active_section == 'store' %}is-selected{% endif %}" role="menuitem">
            <a href="{{ url_for('jaasstore.store') }}">
              Store
            </a>
        </li>
        <li class="p-navigation__link is-secondary-link {% if active_section == 'about' %}is-selected{% endif %}" role="menuitem">
            <a href="{{ url_for('jaasai.jaas') }}">
              About
            </a>
        </li>
        <li class="p-navigation__link {% if active_section == 'how-it-works' %}is-selected{% endif %}" role="menuitem">
            <a href="{{ url_for('jaasai.how_it_works') }}">
              How it works
            </a>
        </li>
        <li class="p-navigation__link" role="menuitem">
          <a class="p-link--external" href="{{ external_urls.discourse }}">Discourse</a>
        </li>
        <li class="p-navigation__link" role="menuitem">
          <a class="p-link--external" href="{{ external_urls.docs }}" class="p-link--external">Docs</a>
        </li>
        <li class="p-navigation__link {% if active_section == 'tutorials' %}is-selected{% endif %}" role="menuitem">
          <a href="{{ url_for('tutorials.document_view') }}">Tutorials</a>
        </li>
      </ul>
      <ul class="p-navigation__links p-navigation_login" role="menu">
        <li class="p-navigation__link" role="menuitem">
          <a href="/models">Your models</a>
        </li>
      </ul>
    </nav>
  </div>
  {% include "shared/search-panel.html" %}
</header>
