<div class="p-header__nav-item" role="menuitem">
  <a href="{{ url_for('jaasstore.store') }}">
    Store
  </a>
</div>
<div class="p-header__nav-item" role="menuitem">
  <a href="{{ url_for('jaasai.jaas') }}">
    About
  </a>
</div>
<div class="p-header__nav-item is-secondary-link" role="menuitem">
  <a class="p-link--external" href="{{ external_urls.discourse }}">
    Discourse
  </a>
</div>
<div class="p-header__nav-item" role="menuitem">
  <a class="p-link--external" href="{{ external_urls.docs }}">
    Docs
  </a>
</div>
<div class="p-header__nav-item" role="menuitem">
  <a class="p-link--external" href="{{ external_urls.gettingStarted }}">
    Getting started
  </a>
</div>
