<div class="p-search-panel">
  <a class="p-search-panel__close js-search-panel__close" data-js="search-close" href="#_">
    <i class="p-icon--close">Close search panel</i>
  </a>
  <div class="row">
    <div class="col-12">
      <div class="p-search-panel__inner">
        <div class="p-search-panel__main">
          <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='canonical-kubernetes') }}"
            class="p-search-panel__featured-link">
            {{
              image(
                url="https://api.jujucharms.com/charmstore/v5/~containers/kubernetes-master/icon.svg",
                alt="",
                width="64",
                height="64",
                hi_def=True,
                attrs={"class": "p-search-panel__featured-image"},
              ) | safe
            }}
            <p class="p-search-panel__featured-name">kubernetes</p>
          </a>
          <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='elasticsearch') }}"
            class="p-search-panel__featured-link">
            {{
              image(
                url="https://api.jujucharms.com/charmstore/v5/elasticsearch/icon.svg",
                alt="",
                width="64",
                height="64",
                hi_def=True,
                attrs={"class": "p-search-panel__featured-image"},
              ) | safe
            }}
            <p class="p-search-panel__featured-name">elasticsearch</p>
          </a>
          <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='kafka') }}" class="p-search-panel__featured-link">
            {{
              image(
                url="https://api.jujucharms.com/charmstore/v5/kafka/icon.svg",
                alt="",
                width="64",
                height="64",
                hi_def=True,
                attrs={"class": "p-search-panel__featured-image"},
              ) | safe
            }}
            <p class="p-search-panel__featured-name">kafka</p>
          </a>
          <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='zookeeper') }}"
            class="p-search-panel__featured-link">
            {{
              image(
                url="https://api.jujucharms.com/charmstore/v5/zookeeper/icon.svg",
                alt="",
                width="64",
                height="64",
                hi_def=True,
                attrs={"class": "p-search-panel__featured-image"},
              ) | safe
            }}
            <p class="p-search-panel__featured-name">zookeeper</p>
          </a>
          <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='ceph') }}" class="p-search-panel__featured-link">
            {{
              image(
                url="https://api.jujucharms.com/charmstore/v5/ceph/icon.svg",
                alt="",
                width="64",
                height="64",
                hi_def=True,
                attrs={"class": "p-search-panel__featured-image"},
              ) | safe
            }}
            <p class="p-search-panel__featured-name">ceph</p>
          </a>
          <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='cassandra') }}"
            class="p-search-panel__featured-link">
            {{
              image(
                url="https://api.jujucharms.com/charmstore/v5/cassandra/icon.svg",
                alt="",
                width="64",
                height="64",
                hi_def=True,
                attrs={"class": "p-search-panel__featured-image"},
              ) | safe
            }}
            <p class="p-search-panel__featured-name">cassandra</p>
          </a>
          <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='percona-cluster') }}"
            class="p-search-panel__featured-link">
            {{
              image(
                url="https://api.jujucharms.com/charmstore/v5/percona-cluster/icon.svg",
                alt="",
                width="64",
                height="64",
                hi_def=True,
                attrs={"class": "p-search-panel__featured-image"},
              ) | safe
            }}
            <p class="p-search-panel__featured-name">percona-cluster</p>
          </a>
          <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='glance') }}" class="p-search-panel__featured-link">
            {{
              image(
                url="https://api.jujucharms.com/charmstore/v5/glance/icon.svg",
                alt="",
                width="64",
                height="64",
                hi_def=True,
                attrs={"class": "p-search-panel__featured-image"},
              ) | safe
            }}
            <p class="p-search-panel__featured-name">glance</p>
          </a>
          <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='mariadb') }}" class="p-search-panel__featured-link">
            {{
              image(
                url="https://api.jujucharms.com/charmstore/v5/mariadb/icon.svg",
                alt="",
                width="64",
                height="64",
                hi_def=True,
                attrs={"class": "p-search-panel__featured-image"},
              ) | safe
            }}
            <p class="p-search-panel__featured-name">mariadb</p>
          </a>
          <a href="{{ url_for('jaasstore.details', charm_or_bundle_name='spark') }}" class="p-search-panel__featured-link">
            {{
              image(
                url="https://api.jujucharms.com/charmstore/v5/spark/icon.svg",
                alt="",
                width="64",
                height="64",
                hi_def=True,
                attrs={"class": "p-search-panel__featured-image"},
              ) | safe
            }}
            <p class="p-search-panel__featured-name">spark</p>
          </a>
        </div>
        <div class="p-search-panel__sidebar">
          <h4 class="p-search-panel__heading">Popular searches</h4>
          <ul class="p-list">
            <li class="p-search-panel__list-item"><a href="{{ url_for('jaasstore.search', q='openstack') }}">openstack</a></li>
            <li class="p-search-panel__list-item"><a href="{{ url_for('jaasstore.search', q='ceph') }}">ceph</a></li>
            <li class="p-search-panel__list-item"><a href="{{ url_for('jaasstore.search', q='mysql') }}">mysql</a></li>
            <li class="p-search-panel__list-item"><a href="{{ url_for('jaasstore.search', q='analytics') }}">analytics</a></li>
            <li class="p-search-panel__list-item"><a href="{{ url_for('jaasstore.search', q='spark') }}">spark</a></li>
            <li class="p-search-panel__list-item"><a href="{{ url_for('jaasstore.search', q='nginx') }}">nginx</a></li>
            <li class="p-search-panel__list-item"><a href="{{ url_for('jaasstore.search', q='redis') }}">redis</a></li>
            <li class="p-search-panel__list-item"><a href="{{ url_for('jaasstore.search', q='jenkins') }}">jenkins</a></li>
            <li class="p-search-panel__list-item"><a href="{{ url_for('jaasstore.search', q='logstash') }}">logstash</a></li>
          </ul>
        </div>
        <div class="p-search-panel__footer">
          <ul class="p-inline-list">
            <li class="p-inline-list__item">
              <strong>Categories:</strong>
            </li>
            <li class="p-inline-list__item">
              <a href="{{ url_for('jaasstore.search', tags='openstack') }}">openstack
              </a>
            </li>
            <li class="p-inline-list__item">
              <a href="{{ url_for('jaasstore.search', tags='applications') }}">applications
              </a>
            </li>
            <li class="p-inline-list__item">
              <a href="{{ url_for('jaasstore.search', tags='databases') }}">databases
              </a>
            </li>
            <li class="p-inline-list__item">
              <a href="{{ url_for('jaasstore.search', tags='app-servers') }}">app-servers
              </a>
            </li>
            <li class="p-inline-list__item">
              <a href="{{ url_for('jaasstore.search', tags='file-servers') }}">file-servers
              </a>
            </li>
            <li class="p-inline-list__item">
              <a href="{{ url_for('jaasstore.search', tags='monitoring') }}">monitoring
              </a>
            </li>
            <li class="p-inline-list__item">
              <a href="{{ url_for('jaasstore.search', tags='misc') }}">misc
              </a>
            </li>
            <li class="p-inline-list__item">
              <a href="{{ url_for('jaasstore.search', tags='ops') }}">ops
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
